{% extends "mobile/board/base.html" %}
{% load arara_tags %}
{% load i18n %}

{% block style %}<link rel="stylesheet" href="/media/style_new/mobile/list.css" type="text/css" />{% endblock %}
{% block header %}
<div id="gray">
    <span><a href="/mobile/board/list/">전체게시판</a>  &gt;&gt;
        {% ifequal mode 'board' %} <a href="/mobile/board/{{ board_name }}/">{{ board_name }}</a> {% endifequal %}
        {% ifequal mode 'all' %} <a href="/mobile/all/">{{ board_name }}</a> {% endifequal %}
    </span>
</div>
{% endblock %}
{% block board_content %}
<div class="list">
    <ul>
        {% for article in article_list %}
        <a href="{{ base_url}}{{article.id}}/?page_no={{page_no}}">
        <li class="listLi">
        <div {% if article.deleted or article.blacklisted %}class = "deleted" {% endif %} >
            <div class="listTitle">
                <div class="listTitleWrap {% if article.reply_count %}listTitleReply{% endif %}">
                    {% if not article.deleted and article.blacklisted %}
                        {% trans "-- Blacklisted --" %}
                    {% else %}
                        {{ article.title }}
                    {% endif %}
                </div></div>
                {% if article.reply_count %}<div class="re_num">({{article.reply_count}})</div>{% endif %}
            <span class="listInfo">
                {% ifequal mode 'all' %}<b>{{article.board_name}}</b> | {% endifequal %}{{article.author_nickname|truncatechars:"8"}} | 추천 {{article.positive_vote}} / 반대 {{article.negative_vote}} | 조회: {{article.hit}}</span>
        </div>
        </li>
        </a>
        {% endfor %}
    </ul>
</div>
<div class="paginate">
    {% ifequal method 'search' %}
        {% if prev_page_group.no %}<a href="{{ path }}&page_no={{prev_page_group.no}}">{{prev_page_group.mark}}</a> {% endif %}
        {% for page in page_list %}
        <a href="{{ path }}&page_no={{page}}">{% ifequal page page_no %}<strong>{{page}}</strong>{% else %}{{page}}{% endifequal%}</a>
        {% endfor %}
        {% if next_page_group.no %}<a href="{{ path }}&page_no={{next_page_group.no}}">{{next_page_group.mark}}</a> {% endif %}
    {% else %}
        {% if prev_page_group.no %}<a href="{{ base_url }}?page_no={{prev_page_group.no}}">{{prev_page_group.mark}}</a> {% endif %}
        {% for page in page_list %}
        <a href="{{ base_url }}?page_no={{page}}">{% ifequal page page_no %}<strong>{{page}}</strong>{% else %}{{page}}{% endifequal%}</a>
        {% endfor %}
        {% if next_page_group.no %}<a href="{{ base_url }}?page_no={{next_page_group.no}}">{{next_page_group.mark}}</a> {% endif %}
    {% endifequal %}
</div>

<div class="list_buttons">
    <a href="#" onclick="$('#search').toggle(); this.blur(); return false;"  class="button">검색</a>
    {% ifnotequal mode 'all' %}
    <a href="{{ base_url }}write/" class="buttonR{% if board_dict.read_only %} hidden{% endif %}">글쓰기</a>
    {% endifnotequal %}
    <div class="cb"></div>
</div>

<div id="search">
    <form method="GET" action="{{ base_url }}search">
        <fieldset>
            <div class="criteria_box">
                <select name="chosen_search_method">
                    <option value = "title" {% ifequal chosen_search_method 'title' %}selected="selected"{% endifequal %}>제목</option>
                    <option value = "title|content" {% ifequal chosen_search_method 'title%7Ccontent' %}selected="selected"{% endifequal %}>제목+내용</option>
                    <option value = "author_nickname|author_username" {% ifequal chosen_search_method 'author_nickname%7Cauthor_username' %}selected="selected"{% endifequal %}>글쓴이</option>
                </select>
            </div>
            <div class="ip_box">
                <input type="text" class="ip" name="search_word" value=""/>
            </div>
            <div class="button_box">
                <input type="submit" class="button" value="검색"/>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block pc_url %}
    {% ifequal mode 'board' %} /board/{{ board_name }}/ {% endifequal %}
    {% ifequal mode 'all' %} /all/ {% endifequal %}
{% endblock %}
