{% extends "mobile/base.html" %}
{% load arara_tags %}
{% load i18n %}

{% block style %}<link rel="stylesheet" href="/media/style_new/mobile/read.css" type="text/css" />{% endblock %}
{% block header %}
<div id="gray">
    <span><a href="/mobile/board/list/">전체게시판</a>  &gt;&gt; <a href="/mobile/board/{{ board_name }}/">{{ board_name }}</a></span>
</div>
{% endblock %}
{% block content %}

{% ifequal mode 'board' %} {% url warara.mobile.board.views.list board_name as base_url %} {% endifequal %}
{% ifequal mode 'all' %} {% url warara.mobile.all.views.list as base_url %} {% endifequal %}
<div id="article_head">
    <div {% if article.deleted or article.blacklisted %} class = "deleted" {% endif %} >
        <div class="article_title">
            {% if not article.deleted and article.blacklisted %}
                {% trans "-- Blacklisted --" %}
            {% else %}
                {{article.title}}
            {% endif %}
        </div>
        <span class="article_info">{{article.author_nickname}} |  {{article.date|date:"Y-m-d H:i"}} | 추천 {{article.positive_vote}} / 반대 {{article.negative_vote}} | 조회 {{article.hit}}</span>
    </div>
</div>
<div id="article_contents">
    <p class="article_contents{% if article.deleted or article.blacklisted %} deleted {% endif %}">
        {% if not article.deleted and article.blacklisted %}
            {% trans "-- Blacklisted --" %}
        {% else %}
            {{article.content|safe|linebreaksbr}}
        {% endif %}
    </p>
    <div id="article_buttons">
        <div class="left">
        {% if not article.deleted and not article.blacklisted %}
            <a class="reply" href="#reply"><span class="button">답글달기</span></a>
            <a class="rec" href="/board/{{article.board_name}}/{{article.root_id}}/{{article.id}}/vote/+"><span class="button">추천</span></a>
            <a class="rec" href="/board/{{article.board_name}}/{{article.root_id}}/{{article.id}}/vote/-"><span class="button">반대</span></a>
        {% endif %}
        </div>
        {% if article.flag_modify %}
        <div class="right">
            <a href="/mobile/board/{{ article.board_name }}/write?article_id={{ article.id }}"><span class="buttonR">수정</span></a>
        </div>
        {% endif %}
        <div class="cb"></div>
        <input type="hidden" class="meta board_name" value="{{article.board_name}}" />
        <input type="hidden" class="meta article_id" value="{{article.id}}" />
    </div>
    <div class="add_reply">
        <form method="post" action="{{ base_url }}{{article.id}}/reply/" enctype="multipart/form-data">
            <input type="hidden" name="root_id" value="{{article.id}}" />
            <input type="hidden" name="article_no" value="{{article.id}}" />
            <input type="hidden" name="title" value="{{article.title}}" />
            <dl>
                <textarea name="content"></textarea>
            </dl>
            <dl class="sig">
                <dt>시그</dt>
                <dd class="rad_option">
                <input type="radio" id="a" name="signature_check" value="Y" class="rad" checked="checked"><label for="signature_check">사용</label>
                <input type="radio" id="b" name="signature_check" value="N" class="rad"><label for="signature_check">사용안함</label>
                <input type="submit" class="buttonR" value="V 확인">
                <textarea name="signature" style="display: none;">{{ user_signature }}</textarea>
                </dd>
            </dl>
        </form>
    </div>
</div>
<div id="reply">
    <ul>
        {% autoescape off %}
        {{ rendered_reply }}
        {% endautoescape %}
    </ul>
    <div id="re_nav">
        <div class="left">
            <a href="{{ backlink }}"><span class="button">목록</span></a> 
        </div>
        <div class="right">
            <a href="#header"><span class="button">위로</span></a> 
        </div>
        <div class="cb"></div>
    </div>
</div>
{% endblock %}
{% block pc_url %}/board/{{ board_name }}/{{ article.id }}/{% endblock %}
