@charset "utf-8";

body { background:#4e565d url(/media/image/stealBlue/b_entire.png) repeat top left; color:#333; }
.eng { font-family:Helvetica,Arial,sans-serif; }

a:link { color:#666; text-decoration:none; }
a:visited { color:#666; text-decoration:none; }
a:hover { color:#333; text-decoration:underline; }

/* styles for the layout */
#linksModalBG { background:#ccc; opacity:0.75; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);  } /* opacity settings for CSS3 / IE  */
#linksModal .modalWindow { background:#fff; border:1px #666 solid; -moz-box-shadow: 0 10px 15px #444; -webkit-box-shadow: 0 10px 15px #444; box-shadow: 0 10px 15px #444; }
#linksModal .modalTitle { background:#666; color:#fff; }
#linksModal .modalWindow ul li a { border-bottom:1px #dadada solid; }

#topLinksDiv { position:absolute; z-index:2; }
#topLinks { font-family:Helvetica,Arial,sans-serif; color:#cccccc; background:#333333; border-color:#000000; }
#topLinks a:link { color:#ccc; text-decoration:none; }
#topLinks a:visited { color:#ccc; text-decoration:none; }
#topLinks a:hover { color:#ccc; text-decoration:underline; }
#topLinks .kaist a:link { color:#fff; text-decoration:none; }
#topLinks .kaist a:visited { color:#fff; text-decoration:none; }
#topLinks .kaist a:hover { color:#ccc; text-decoration:underline; }

#navigation { background:url(/media/image/stealBlue/b_top.png) repeat-x; }
#navigation h1 a { background:url(/media/image/stealBlue/i_bi.png) no-repeat top left; }
#navigation ul.menu #menuFavorite { background:url(/media/image/stealBlue/menu_1.png) no-repeat top left; }
#navigation ul.menu #menuCategory1 { background:url(/media/image/stealBlue/menu_2.png) no-repeat top left; }
#navigation ul.menu #menuCategory2 { background:url(/media/image/stealBlue/menu_3.png) no-repeat top left; }
#navigation ul.menu #menuCategory3 { background:url(/media/image/stealBlue/menu_4.png) no-repeat top left; }
#navigation ul.menu #menuCategory4 { background:url(/media/image/stealBlue/menu_5.png) no-repeat; }
#navigation ul.menu #menuCategory5 { background:url(/media/image/stealBlue/menu_6.png) no-repeat; }
#navigation ul.menu #menuCategory6 { background:url(/media/image/stealBlue/menu_7.png) no-repeat; }

#navigation ul.menu li a:hover { background-position:0 -60px !important; }
#navigation ul.menu li a.selected { background-position:0 -120px !important; }

#navigation ul.menuRight a.help { background:url(/media/image/stealBlue/menu_help.png) no-repeat; }
#navigation ul.menuRight a.local { background:url(/media/image/stealBlue/menu_local.png) no-repeat; }

#mainWrap { background:#fff url(/media/image/stealBlue/b_mainWrap.png) repeat-y top left; }

#contents { background:#ffffff; }

#boardInCategory dl { background:#f4f4f4 url(/media/image/stealBlue/b_categoryItem.png) repeat-x top left; }
#boardInCategory dl ul li a:hover { background:#f0f0f0; text-decoration:none; }
#boardInCategory dl ul li.selected a { background:#767b7f; color:#fff; }

#contents .boardDisp { color:#8e8e8e; }

#sideContents { -moz-text-shadow: 1px 1px 0 #333; -webkit-text-shadow: 1px 1px 0 #333; text-shadow: 1px 1px 0 #333; }

#sideContents dt { color:#fff; }
#sideContents a:link { color:#ccc; text-decoration:none; }
#sideContents a:visited { color:#ccc; text-decoration:none; }
#sideContents a:hover { color:#fff; text-decoration:underline; }

#sideContents .pinkbox { color:#fff; background:#ee496f; }

#sideContents #weather .future { border-top:1px #777 solid; }
#sideContents #notification dt a { color:#fff; text-decoration:none; }
#sideContents #notification li { border-top:1px #777 solid; }
#sideContents #notification li.unread a { color:#fff; }
#sideContents #notification li.read a { color:#999; }
#sideContents #notification li a:hover { text-decoration:none; }
#sideContents #notification li:hover { background-color:#333; }
#sideContents #notification span.title { text-decoration:underline; font-weight:bold; font-size:1.1em; }
#sideContents #notification dd { border-bottom:1px #777 solid; }
#sideContents #loginBox input { width:125px; }

#footer { color:#aaa; -moz-text-shadow: 1px 1px 0 #333; -webkit-text-shadow: 1px 1px 0 #333; text-shadow: 1px 1px 0 #333; }
#footer a:link { color:#ccc; text-decoration:none; }
#footer a:visited { color:#ccc; text-decoration:none; }
#footer a:hover { color:#aaa; text-decoration:underline; }

#upgradeBrowser { background:#eaeaea;}

/* styles for the entire page */

.dropBox>a { border:3px #ccc solid; background:#fff url(/media/image/stealBlue/i_dropClosed.png) 75px 8px no-repeat; }
.dropBox>a.opened { background:#fff url(/media/image/stealBlue/i_dropOpened.png) 75px 8px no-repeat; }
.dropBox>ul { border:1px #dadada solid; border-top:0; background:#fff; }
.dropBox ul li a:hover { background:#f0f0f0; }
.dropBox a:hover { text-decoration:none; }

/* .articleList */
.articleList thead tr th { background:#444; color:#fff; }
.articleList tbody tr td { color:#666; border-bottom:1px #dadada solid; border-left:1px #eaeaea; }
.articleList tbody td.indicator { font-family:Helvetica,Arial,sans-serif; }
.articleList tbody td.indicator .new { color:#ed1556; text-decoration:underline; }
.articleList tbody td.indicator .update { color:#0173b7; text-decoration:underline; }
.articleList tbody td.recRead, .articleList tbody td.date { font-family:Helvetica,Arial,sans-serif; }
.articleList tbody tr.notice .title { font-weight: bold; }
.articleList tbody tr.notice .smallCat { font-weight: bold; }
.articleList tbody tr.selected td { background:#f0f0f0; }

.articleList a:link { color:#333; text-decoration:none; }
.articleList a:visited { color:#333; text-decoration:none; }
.articleList a:hover { color:#666; text-decoration:underline; }
.articleList tbody td.smallCat a:link { color:#8e8e8e; text-decoration:none; }
.articleList tbody td.smallCat a:visited { color:#8e8e8e; text-decoration:none; }
.articleList tbody td.smallCat a:hover { color:#666; text-decoration:underline; }

.articleList td a .repCount { color:#8e8e8e; }

.searchBox { border:3px #666 solid; }
.searchBox .selectObject { border-right:1px #999 solid; }
.searchBox .selectObject a.selected { background:#8e8e8e; color:#fff; }

.paging a.selected { color:#ffffff; background:#666; }

/* .articleView */
.articleView { border-bottom:2px #333 solid; }
.articleView .articleTitle { border-top:2px #333 solid; border-bottom:2px #ccc solid; background:#f0f0f0; }
.articleView .articleTitle .smallCat { border-left:1px #666 solid; }
.articleView .articleTitle .articleInfo { color:#666; }
.articleView .articleTitle .articleInfo .author .eng { color:#8e8e8e; }

.articleView .attached th, .articleView .attached td { color:#666; background:#f0f0f0; border-bottom:1px #ccc solid; }

.articleView .replyBox { border-top:2px #999 solid; background:url(/media/image/stealBlue/i_re.png) top left no-repeat; }
.articleView .replyTitle { color:#666; }
.articleView .replyTitle h4 { color:#333; }
.articleView .replyTitle .author { border-left:2px #999 solid; }
.articleView .replyTitle .author .eng { color:#8e8e8e; }

.articleView .addReply { border-top:2px #999 solid; background:#f0f0f0; padding:10px; }
.articleView .addReply table input, .articleView .addReply table textarea { background:#fff; border:1px #dadada solid; }
.articleView .addReply .arSignature input { background:none; border:0; }

.writeTable th { background:#eee; color:#666; border-bottom:1px #ccc solid; line-height:30px; }
.writeTable td { border-bottom:1px #dadada solid; }
.writeTable .writeTitle td, .writeTable .writeTitle th { border-top:2px #333 solid; }
.writeTable .writeTitle input, .writeTable td textarea, .writeTable .writeAttach input { border:1px #dadada solid; }
.writeTable .writeSignature td, .writeTable .writeSignature th { border-top:2px #aaa solid; }
/*  Renewaled by hodduc
.mainBody .mainNotice { background:#fff url(/media/image/stealBlue/b_notice.png) bottom left repeat-x; }
.mainBody .mainItem { border-top:1px #dadada solid; }

.mainBody .mainNotice .desc, .mainBody .mainItem .desc { color:#8e8e8e; }
.mainBody .mainNotice .desc a { color:#8e8e8e; }
.mainBody .mainNotice .desc a.selected { color:#fff; background:#999; text-decoration:none; }
.mainBody .mainNotice .mainItemContents { border-left:1px #999 solid; }

.mainBody .mainNotice #mainBanner .bannerDesc { color:#666; }
.mainBody .mainNotice #mainBanner .bannerAuthor { color:#8e8e8e; }

.mainBody .mainItem #KsearchText { border:2px #666666 solid; }

.mainBody .bestArticles tr.top { background:#333; color:#fff; }
.mainBody .hotArticles tr.top { background:#666; color:#fff; }
.mainBody .bestArticles, .mainBody .hotArticles tr { color:#999; }

.mainBody .bestArticles .BAtitle a:link { color:#444; text-decoration:none; }
.mainBody .bestArticles .BAtitle a:visited { color:#444; text-decoration:none; }
.mainBody .bestArticles .BAtitle a:hover { color:#333; text-decoration:underline; }
.mainBody .hotArticles .BAtitle a:link { color:#444; text-decoration:none; }
.mainBody .hotArticles .BAtitle a:visited { color:#444; text-decoration:none; }
.mainBody .hotArticles .BAtitle a:hover { color:#333; text-decoration:underline; }

.mainBody .bestArticles .top .BAtitle a, .mainBody .hotArticles .top .BAtitle a { color:#fff; }
.mainBody .bestArticles .top a, .mainBody .hotArticles .top a { color:#fff; }
*/

.mainBody .mainItem .header { border-bottom: 1px black solid; }
.mainBody .mainItem .headerBest { background-color:#333; color:white; border: 0; }
.mainBody .mainItem .header a { color:black; }
.mainBody .mainItem .title a { color:black; }

#signInModal { z-index:1; background:url(/media/image/stealBlue/b_signin.png) bottom right no-repeat; }
#signInModal .modalWindow { background:#fff; -moz-box-shadow: 0 10px 20px #444; -webkit-box-shadow: 0 10px 20px #444; box-shadow: 0 10px 20px #444; }
#signInModal .modalWindow>.aboutAra .desc { color:#666; }
#signInModal .modalWindow>.signInInput #signIn .etc a { color:#333; text-decoration:underline; }
#signInModal .modalWindow>.signInInput #signIn .signInInput { border:1px #dadada solid; }
#signInModal .modalWindow>.signInInput #signIn .submitButton input { border:0; background:#666; color:#fff; }

/* buttons */
.darkButton { background:#333; color:#fff; }
.lightButton { background:#8e8e8e; color:#fff; }
.smallButton { background:#8e8e8e; color:#fff; }
.smallLightButton { background:#a0a0a0; color:#fff; }
.articleView .addReply table .darkButtonReply { background:#333; color:#fff; border:0; }

.articleButtons .reply { background-image:url(/media/image/stealBlue/i_reply.gif); background-position:5px 6px; background-repeat:no-repeat; }
.articleButtons .rec { background-image:url(/media/image/stealBlue/i_rec.gif); background-position:5px 6px; background-repeat:no-repeat; }
.articleButtons .dis { background-image:url(/media/image/stealBlue/i_dis.gif); background-position:5px 6px; background-repeat:no-repeat; }
.articleButtons .modify { background-image:url(/media/image/stealBlue/i_modify.gif); background-position:5px 6px; background-repeat:no-repeat; }
.articleButtons .delete { background-image:url(/media/image/stealBlue/i_delete.gif); background-position:5px 6px; background-repeat:no-repeat; }
