{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/message_base.css"></link>
{% endblock style %}

{% block content %}
<div id="message_head">
    <span class="main_head">
        {% block main_head %}{% endblock %}
    </span>
    <span class="sub_head">
        {% block sub_head %}{% endblock %}
    </span>

    <div id="message_menu">
        <span>
        <a href="/message/inbox/">inbox</a> | 
        <a href="/message/outbox/">outbox</a> | 
        <a href="/message/send/">send</a>
        </span>
    </div>
</div>
<div id="message_content" class="message_content">
    {% block message_content %}
    {% endblock message_content %}
</div>
{% endblock content %}
