{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/message_base.css"></link>
{% endblock style %}

{% block script %}
<script type="text/javascript" src="/media/js/message_base.js"></script>
{% endblock %}

{% block content %}
{% load i18n %}
<div id="message_content_wrapper">
<div id="message_head">
    <span class="main_head">
        {% block main_head %}{% endblock %}
    </span>
    <span class="sub_head">
        {% block sub_head %}{% endblock %}
    </span>

    <div id="message_menu">
        <span>
        <a name="inbox" href="/message/inbox/">{% trans "inbox" %}</a> | 
        <a name="outbox" href="/message/outbox/">{% trans "outbox" %}</a> | 
        <a name="send" href="/message/send/">{% trans "send" %}</a>
        </span>
    </div>
</div>
<div id="message_content" class="message_content">
    {% block message_content %}
    {% endblock message_content %}
</div>
</div>
{% endblock content %}
