{% extends "message/base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/message_list.js"></script>
{{block.super}}
{% endblock script %}

{% block style %}
{{block.super}}
    <link rel="stylesheet" href="/media/style/message_list.css"></link>
{% endblock %}

{% block message_content %}
<div>
{% ifequal message_list_type  'inbox'%}
{{num_new_message}} new message(s) / {{message_num}} message(s)
{% endifequal %}
</div>

<form action="/message/delete/" method="POST">
<div class="message_list_table" id="message_list_table">
    <table border="1">
        <tr>
            <th>
                <input type="checkbox" name="ch_del_enm" value=1></input>
            </th>
            <th>
                {{person_type}}
            </th>
            <th>
                text
            </th>
            <th>
                time
            </th>
        </tr>
        {% for message in message_list %}
        <tr>
            <td>
                <input type="checkbox" class="ch_del_d" name="ch_del_{{forloop.counter0}}" value="{{message.id}}"></input>
            </td>
            <td>
                {% ifequal message_list_type 'inbox' %}
                <span class="username">{{message.from}}</span>
                {% else %}
                <span class="username">{{message.to}}</span>
                {% endifequal %}
            </td>
            <td>
                <a href="/message/{{message_list_type}}/{{message.id}}">{{message.message}}</a>
            </td>
            <td>
                {{message.sent_time}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="message_buttons">
    <input type="hidden" value="{{page_no}}" name="page_no">
    <input type="hidden" value="{{message_list_type}}" name="message_list_type">
    <input type="hidden" value="{{message_no_strlist}}" name="message_no_strlist">
    <input type="hidden" value="1" id="flag_del_emn">
	<input type="submit" value="delete">
</div>
</form>
<div id="message_page_move">
	<span>
        <a href="/message/{{message_list_type}}?page_no={{first_page.no}}">{{first_page.mark}}</a>
        <a href="/message/{{message_list_type}}?page_no={{prev_page_group.no}}">{{prev_page_group.mark}}</a>
        {% for page in page_list %}
        <a href="/message/{{message_list_type}}?page_no={{page}}"{% ifequal page page_no %} class="makered"{%endifequal%}>{{page}}</a>
		{% endfor %}
        <a href="/message/{{message_list_type}}?page_no={{next_page_group.no}}">{{next_page_group.mark}}</a>
        <a href="/message/{{message_list_type}}?page_no={{last_page.no}}">{{last_page.mark}}</a>
	</span>
</div>
{% endblock message_content %}
