{% extends "message/base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/message_list.js"></script>
{{block.super}}
{% endblock script %}

{% block style %}
<link rel="stylesheet" href="/media/style/message_list.css"></link>
{{block.super}}
{% endblock %}

{% block message_content %}
<div>
{% ifequal message_list_type  'inbox'%}
{{num_new_message}} new message(s) / {{message_num}} message(s)
{% endifequal %}
</div>

<div id="message_list_table">
    <table border="1">
        <tr>
            <th>
                <form>
                    <input type="checkbox"></input>
                </form>
            </th>
            <th>
                {{person_type}}
            </th>
            <th>
                text
            </th>
            <th>
                time
            </th>
        </tr>
        {% for message in message_list %}
        <tr>
            <td>
                <form>
                    <input type="checkbox"></input>
                </form>
            </td>
            <td>
                {% ifequal message_list_type 'inbox' %}
                <span class="username">{{message.from}}</span>
                {% else %}
                <span class="username">{{message.to}}</span>
                {% endifequal %}
            </td>
            <td>
                <a href="/message/{{message_list_type}}/{{message.id}}">{{message.message}}</a>
            </td>
            <td>
                {{message.sent_time}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="message_buttons">
	<span>
		<form action="/message/delete/" method="POST">
			<input type="hidden" name="del_message_no[]" value="">
			<input type="submit" value="delete">
		</form>
	</span>
	<span>
		<a href="/message/{{message_list_type}}">{{first_page}}</a>
		<a href="/message/{{message_list_type}}">{{prev_page_group}}</a>
		{% for page in page_list %}
		<a href="/message/{{message_list_type}}">{{page}}</a>
		{% endfor %}
		<a href="/message/{{message_list_type}}">{{next_page_grout}}</a>
		<a href="/message/{{message_list_type}}">{{last_page}}</a>
	</span>
</div>
{% endblock message_content %}
