{% extends "message/base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/message_list.js"></script>
{{block.super}}
{% endblock script %}

{% block style %}
{{block.super}}
    <link rel="stylesheet" href="/media/style/message_list.css"></link>
{% endblock %}

{% block message_content %}
<div id="message_list_head">
    <span class="main_head">
        messages
    </span>
    <span class="sub_head">
        messages
    </span>
</div>

<div id="message_page_length_selector">
        <select name="page_length">
            {% for pli in page_length_list %}
            <option value="{{pli}}"{% ifequal pli page_length %} selected="selected"{%endifequal%}>{{pli}}</option>
            {% endfor %}
        </select>
        <span class="display_message_num">
            {% ifequal message_list_type 'inbox'%}{{num_new_message}} new message(s) /{% endifequal %} {{num_message}} message(s)
        </span>
</div>

<form action="/message/delete/" method="POST" name="message_delete">
<div class="message_list_table" id="message_list_table">
    <table border="1">
        <colgroup>
            <col id="message_list_table_checkbox_col">
            <col id="message_list_table_person_col">
            <col id="message_list_table_text_col">
            <col id="message_list_table_time_col">
        </colgroup>
        <thead>
        <tr class="message_list_table_th_row">
            <th>
                <input type="checkbox" name="ch_del_enm" value=1></input>
            </th>
            <th>
                {{person_type}}
            </th>
            <th class="message_list_table_th_text">
                text
            </th>
            <th>
                time
            </th>
        </tr>
        </thead>
        <tbody>
        {% for message in message_list %}
        <tr>
            <td>
                <input type="checkbox" class="ch_del_d" name="ch_del_{{forloop.counter0}}" value="{{message.id}}"></input>
            </td>
            <td>
                {% ifequal message_list_type 'inbox' %}
                <span class="username">{{message.from}}</span>
                {% else %}
                <span class="username">{{message.to}}</span>
                {% endifequal %}
            </td>
            <td name="text">
                <a href="/message/{{message_list_type}}/{{message.id}}">{{message.message}}</a>
            </td>
            <td>
                {% ifequal message.sent_time|date:"Ymd" time_now|date:"Ymd" %}
                {{message.sent_time|date:"H:i:s"}}
                {% else %}
                {{message.send_time|time:"Y/m/d"}}
                {% endifequal %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="message_page_move">
	<span class="prev">
        {% if prev_page_group.mark %}
        <a href="/message/{{message_list_type}}?page_no={{first_page.no}}&page_length={{page_length}}">《 </a>
        <a href="/message/{{message_list_type}}?page_no={{prev_page_group.no}}&page_length={{page_length}}">〈 </a>
        {% else %}
        《 〈 
        {% endif %}
    </span>
    <span class="number">
        {% for page in page_list %}
        | 
        <a href="/message/{{message_list_type}}?page_no={{page}}&page_length={{page_length}}"{% ifequal page page_no %} class="makered"{%endifequal%}>{{page}}</a>
        {% endfor %}
        |
    </span>
    <span class="next">
        {% if next_page_group.mark %}
        <a href="/message/{{message_list_type}}?page_no={{next_page_group.no}}&page_length={{page_length}}"> 〉</a>
        <a href="/message/{{message_list_type}}?page_no={{last_page.no}}&page_length={{page_length}}"> 》</a>
        {% else %}
         〉 》
        {% endif %}
    </span>
        <input type="hidden" value="{{page_num}}" name="last_page"></input>
    </span>
</div>

<div id="message_buttons">
    <input type="hidden" value="{{page_no}}" name="page_no">
    <input type="hidden" value="{{message_list_type}}" name="message_list_type">
    <input type="hidden" value="{{message_no_strlist}}" name="message_no_strlist">
    <input type="hidden" value=1 name="flag_del_enm" id="flag_del_enm">
	<input type="submit" value="delete">
</div>
</form>
{% endblock message_content %}
