{% extends "message/message_base.html" %}

{% block message_content %}
<form action="/message/send_/" method="POST">
    <div id="message_send_receiver">
        {{t_receiver}}
        <input type="text" name="receiver" value="{{default_receiver}}"></input>
    </div>
    <div id="message_send_text">
        <input type="textarea" name="text">{{default_text}}</input>
    </div>
    <div id="message_send_buttons">
        <input type="submit" name="submit" value="{{t_send}}"></input>
        <input type="button" name="cancel" value="{{t_cancel}}"></input>
    </div>
</form>
{% endblock message_content %}
