{% extends "message/message_base.html" %}

{% block message_content %}
<div>
{% if message_list_type %}
{{num_new_message}} new message(s) / {{num_message}} message(s)
{% endif %}
</div>

<div id="message_list_table">
    <table border="1">
        <tr>
            <th>
                <form>
                    <input type="checkbox"></input>
                </form>
            </th>
            {% for th in m_list_th %}
            <th>
                {{th}}
            </th>
            {% endfor %}
        </tr>
        {% for message in message_list %}
        <tr>
            <td>
                <form>
                    <input type="checkbox"></input>
                </form>
            </td>
            {% for message_info in message %}
            <td>
                {% if message_info.msg_no %}
                <a href="read/">{{message_info.text}}</a>
                {% else %}
                {% if message_info.time %}
                {{message_info.time}}
                {% else %}
                {{message_info}}
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div id="page_list">
        {% if first_page.no %}
        {{ first_page.mark %}
        {% endif %}
        {% if prev_page_group.no %}
        {{ prev_page_group.mark }}
        {% endif %}
        {% for page in page_list %}
        {{page}}
        {% endfor %}
        {% if next_page_group.no %}
        {{ next_page_group.mark }}
        {% endif %}
        {% if last_page.no %}
        {{ last_page.mark }}
        {% endif %}
    </div>
</div>

{% endblock message_content %}
