{% extends "message/message_base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/message_list.js"></script>
{{block.super}}
{% endblock script %}

{% block style %}
<link rel="stylesheet" href="/media/style/message_list.css"></link>
{{block.super}}
{% endblock %}

{% block message_content %}
<div>
{% ifequal message_list_type  'inbox'%}
{{num_new_message}} new message(s) / {{message_num}} message(s)
{% endifequal %}
</div>

<div id="message_list_table">
    <table border="1">
        <tr>
            <th>
                <form>
                    <input type="checkbox"></input>
                </form>
            </th>
            {% for th in m_list_th %}
            <th>
                {{th}}
            </th>
            {% endfor %}
        </tr>
        {% for message in message_list %}
        <tr>
            <td>
                <form>
                    <input type="checkbox"></input>
                </form>
            </td>
            {% for message_info in message %}
            <td>
                {% if message_info.msg_no %}
                <a href="#" value="{{message_info.msg_no}}" name="message_read_anchor">{{message_info.text}}</a>
                {% else %}
                {% if message_info.time %}
                {{message_info.time}}
                {% else %}
                {{message_info}}
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div id="page_list">
        <span>
            {% if first_page.no %}
            <a href="#" value="{{first_page.no}}" name="page_anchor">{{first_page.mark}}</a>
            {% else %}
            {{ first_page.mark }}
            {% endif %}
            {% if prev_page_group.no %}
            <a href="#" value="{{prev_page_group.no}}" name="page_anchor">{{prev_page_group.mark}}</a>
            {% else %}
            {{ prev_page_group.mark }}
            {% endif %}
            {% for page in page_list %}
            <a href="#" value="{{page}}" name="page_anchor">{{page}}</a>
            {% endfor %}
            {% if next_page_group.no %}
            <a href="#" value="{{next_page_group.no}}" name="page_anchor">{{next_page_group.mark}}</a>
            {% else %}
            {{ next_page_group.mark }}
            {% endif %}
            {% if last_page.no %}
            <a href="#" value="{{last_page.no}}" name="page_anchor">{{last_page.mark}}</a>
            {% else %}
            {{ last_page.mark }}
            {% endif %}
        </span>
    </div>
    <form action="/message/read/" method="POST" name="read_message">
        <input type="hidden" name="msg_no" value=""></input>
        <input type="hidden" name="list_type" value="{{message_list_type}}"></input>
    </form>
    <form action="/message/{{message_list_type}}/" method="POST" name="move_list">
        <input type="hidden" name="list_type" value="{{message_list_type}}"></input>
        <input type="hidden" name="page_no" value=""></input>
    </form>
    <form name="page_info">
        <input type="hidden" name="thispage" value="{{page_no}}"></input>
    </form>
</div>

{% endblock message_content %}
