{% extends "message/base.html" %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/message_read.js"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/media/style/message_read.css">
{{ block.super }}
{% endblock style %}

{% block message_content %}
<div id="message_info">
    <span id="message_person">
        {{person_type}} : {{person}}
    </span>
    <span id="message_time">
        {{message.sent_time}}
    </span>
    <!-- next message, prev message
    <span id="message_move">
        {{prev_message.mark}}
        {{next_message.mark}}
    </span>
    -->
</div>
<div id="message_read_text">
    <textarea name="text" readonly="readonly">{{message.message}}</textarea>
</div>
<div id="message_read_buttons">
    <a name="message_read_delete" href="/message/delete/?del_msg_no={{message.id}}&message_list_type={{message_list_type}}">delete</a>
    {% ifequal message_list_type 'inbox' %}
    <a name="message_read_reply" href="/message/reply/{{message_id}}">reply</a>
    {% endifequal %}
    <a name="message_read_move_to_list" href="../">list</a>
</div>

{% endblock message_content %}
