{% extends "message/base.html" %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/message_read.js"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/media/style/message_read.css">
{{ block.super }}
{% endblock style %}

{% block message_content %}
<div id="message_read_head">
    <span class="main_head">
        read a message / reply to a message
    </span>
    <span class="sub_head">
    </span>
</div>
<div id="message_info">
    <span id="message_time">
        {{message.sent_time}}
    </span>
    <span id="message_person">
        {{person_type}} : {{person}}
    </span>
    <!-- next message, prev message
    <span id="message_move">
        {{prev_message.mark}}
        {{next_message.mark}}
    </span>
    -->
</div>
<div id="message_read_text">
    {{message.message}}
</div>

{% ifequal message_list_type "inbox" %}
<div class="line">
</div>

<div class="caption_reply">
    reply to a message
</div>

<form action="/message/send/" method="POST">
    <div id="message_send_text">
        <textarea name="text">{{default_text}}</textarea>
    </div>
    <div id="message_send_buttons">
        <ul>
            <li><a name="message_read_move_to_list" href="../">list</a></li>
            <li class="submit_button"><input class="big_btn" type="submit" name="submit" class="message_send_submit" value="send"></input></li>
            <li><a name="message_read_delete" href="/message/delete/?del_msg_no={{message.id}}&message_list_type={{message_list_type}}">delete</a></li>
        </ul>
    </div>
    <input type="hidden" name="receiver" value="{{person}}">
</form>
{% else %}
    <div id="message_send_buttons">
        <ul>
            <li><a name="message_read_move_to_list" href="../">list</a></li>
            <li><a name="message_read_delete" href="/message/delete/?del_msg_no={{message.id}}&message_list_type={{message_list_type}}">delete</a></li>
        </ul>
    </div>
{% endifequal %}
{% endblock message_content %}
