{% extends "message/base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="/media/style/message_send.css">
{% endblock %}

{% block message_content %}
<div id="message_send_head">
    <span class="main_head">
        send a message
    </span>
    <span class="sub_head">
        send a message
    </span>
</div>
<form action="/message/send/" method="POST">
    <div id="message_send_receiver">
        <div class="sendto">send to : </div>
        <div class="doublemarginshet">
        <input type="text" name="receiver" value="{{default_receiver}}"></input>
        </div>
    </div>
    <div id="message_send_text">
        <textarea name="text">{{default_text}}</textarea>
    </div>
    <div id="message_send_buttons">
        <span class="message_send_submit">
            <input type="submit" name="submit" class="message_send_submit" value="send"></input>
        </span>
        <span class="message_send_cancel">
            <input type="button" name="cancel" value="cancel"></input>
        </span>
    </div>
</form>
{% endblock message_content %}
