{% extends "message/base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="/media/style/message_send.css">
{% endblock %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/message_send.js"></script>
{% endblock script %}

{% block main_head %}
{% load i18n %}
{% trans "send a message" %}
{% endblock %}
{% block sub_head %}
{% load i18n %}
{% trans "send a message" %}
{% endblock %}
{% block message_content %}
{% load i18n %}
<form action="/message/send/" method="post" name="message_send">
    <div id="message_send_receiver">
        <div class="sendto">{% trans "send to : " %}</div>
        <div class="doublemarginshet">
        <input id="send_receiver" type="text" name="receiver" value="{{default_receiver}}"></input>
        <a href="#" name="select_receiver_type"><span rel="nickname" class="select_type type_nickname">{% trans "nickname" %}</span><span rel="id" class="select_type type_id">{% trans "id" %}</span></a>
        <input type="hidden" name="receiver_type" value="nickname"></input>
        </div>
    </div>
    <div id="message_send_text">
        <textarea name="text">{{default_text}}</textarea>
    </div>
    <div id="message_send_buttons">
        <span class="message_send_submit">
        <input type="submit" name="message_submit" class="message_send_submit big_btn" value="{% trans "send" %}"></input>
        </span>
        <span class="message_send_cancel">
        <input type="button" name="cancel" value="{% trans "cancel" %}" class="small_btn"></input>
        </span>
    </div>
</form>
{% endblock message_content %}
