<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% load arara_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
    <head>
        <title>{% block title %}아라{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="KAIST 학내 커뮤니티, 아라">
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" href="/media/style_new/layout.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/media/style_new/stealBlue.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/media/style_new/popup.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/media/thirdparty/thickbox/thickbox.css">
        {% block style %}{% endblock %}
        <link rel="shortcut icon" href="/media/image/favicon.ico" type="image/x-icon" />
        <!--<link rel="stylesheet" href="/media/style_new/print.css" type="text/css" media="print" />-->
        {% endcompress %}

        {% compress js %}
        <script type="text/javascript" src="/media/thirdparty/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/media/js/layout.js"></script>
        <script type="text/javascript" src="/media/thirdparty/thickbox/thickbox.js"></script>
        <!--[if (gte IE 5.5)&(lte IE 8)]>
            <script type="text/javascript" src="/media/js/ie-css3.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/media/js/base.js"></script>
        {% block script %}
        {% endblock %}
        {% endcompress %}
    </head>

    <body onload="setWidth();" onresize="setWidth();">
        <ul id="topLinks">
            <li class="kaist"><a href="http://www.kaist.ac.kr"><strong>KAIST</strong></a></li>
            <li><a href="http://ara.kaist.ac.kr" title="웹아라">WebARA</a></li>
            <li><a href="http://lkin.kaist.ac.kr" title="수강지식인">LKIN</a></li>
            <li><a href="http://otl.kaist.ac.kr" title="온라인 타임테이블 OTL">OTL</a></li>
            <li><a href="http://ftp.kaist.ac.kr" title="오픈소스 미러링 서비스 FTPKAIST 입니다.">FTPKAIST</a></li>
            <li><a href="#" id="moreLinks">more...</a></li>
        </ul>
        <div id="navigation">
            <h1><a href="/main/">아라</a></h1>
            <ul class="menu">
                <li><a href="/all/" id="menuFavorite" rel="Favorite">모아보기</a></li>
                <li><a href="#" class="category" id="menuCategory1" rel="Category1">카테고리명</a></li>
                <li><a href="#" class="category" id="menuCategory2" rel="Category2">카테고리명</a></li>
                <li><a href="#" class="category" id="menuCategory3" rel="Category3">카테고리명</a></li>
                <li><a href="#" class="category" id="menuCategory4" rel="Category4">카테고리명</a></li>
                <li><a href="#" class="category" id="menuCategory5" rel="Category5">카테고리명</a></li>
                <li><a href="#" class="category" id="menuCategory6" rel="Category6">카테고리명</a></li>
            </ul>
            <ul class="menuRight">
                <li class="fr"><a href="/main/help" class="help">도움말</a></li>
                <li class="fr"><a href="#" class="local">English</a></li>
            </ul>
        </div>
        <div id="mainWrap">
            <div id="contents">
                {% get_board_list %}
                <!-- 카테고리 내 메뉴. 롤오버를 위해 모두 표시 -->
                <div id="boardInCategory">
                    <!-- 카테고리 내 메뉴. 롤오버를 위해 모두 표시 -->
                    <dl class="boardList" id="boardInCategory1">
                        <dt><img src="/media/image/stealBlue/catMenu_category2.png" alt="카테고리1" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category1_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_alias}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="boardList" id="boardInCategory2">
                        <dt><img src="/media/image/stealBlue/catMenu_category3.png" alt="카테고리2" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category2_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_alias}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="boardList" id="boardInCategory3">
                        <dt><img src="/media/image/stealBlue/catMenu_category4.png" alt="카테고리3" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category3_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_alias}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="boardList" id="boardInCategory4">
                        <dt><img src="/media/image/stealBlue/catMenu_category5.png" alt="카테고리4" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category4_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_alias}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="boardList" id="boardInCategory5">
                        <dt><img src="/media/image/stealBlue/catMenu_category6.png" alt="카테고리5" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category5_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_alias}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="boardList" id="boardInCategory6">
                        <dt><img src="/media/image/stealBlue/catMenu_category7.png" alt="카테고리6" /></dt>
                        <dd>
                            <ul>
                                {% for board_info in category6_list %}
                                <li rel="{{forloop.counter}}"><a href="/board/{{board_info.board_name}}/">{{board_info.board_name}}</a></li>
                                {% if forloop.counter|divisibleby:"5" %}
                            </ul>
                            <ul>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </div>

                <!-- 컨텐츠 시작 -->
                <div class="mainBody">
                    {% block main %}
                    {% endblock %}
                </div>
                <div class="contentWrap">
                    {% block content %}
                    <h2>{% block board_name %} Ara {% endblock %}</h2>
                    <p class="boardDisp">&nbsp;&nbsp;-&nbsp;&nbsp;{% block board_description %} WebARA {% endblock %}</p>
                    {% endblock %}
                </div>
            </div>
            <div id="sideContents">
                {% if logged_in %}
                <dl id="myInfo">
                    <dt>MY INFO</dt>
                    <dd>
                        <ul>
                            <li><a href="/account/">내 정보</a></li>
                            <li><a href="/account/password_modify/">비밀번호 수정</a></li>
                            <li><a href="/message/inbox/">쪽지함</a><span class="sideRight" id="countNewMessage">0</span></li>
                            <li><a href="/blacklist/">블랙리스트</a></li>
                            <li><a href="/scrapbook/">스크랩북</a></li>
                            <li><strong><a href="/account/logout/">로그아웃</a></strong></li>
                        </ul>
                    </dd>
                </dl>
                {% get_weather_info %}
                {% if has_weather %}
                <dl id="weather">
                    <dt>WEATHER<span class="sideRight"> {{weather_info.city}}</span></dt>
                    <dd>
                        <p class="today">
                        지금 - {{weather_info.current_condition|wordwrap:6}}<span class="sideRight"><img src="{{weather_info.current_icon_url}}" alt="{{weather_info.current_condition}}" /></span><br />
                        <strong>{{weather_info.current_temperature}}</strong> ℃
                        </p>
                        <p class="future">
                        내일 <span class="sideRight"><img src="{{weather_info.tomorrow_icon_url}}" alt="내일의 날씨" /></span><br />
                            {{weather_info.tomorrow_temperature_low}}~{{weather_info.tomorrow_temperature_high}} ℃
                        </p>
                        <p class="future">
                        모레 <span class="sideRight"><img src="{{weather_info.day_after_tomorrow_icon_url}}" alt="모레의 날씨" /></span><br />
                        {{weather_info.day_after_tomorrow_temperature_low}}~{{weather_info.day_after_tomorrow_temperature_high}} ℃
                        </p>
                    </dd>
                </dl>
                {% endif %}
                {% else %}
                <dl id="loginBox">
                    <dt>Log In</dt>
                    <dd>
                        <form action="/account/login/" method="post" name="login">
                            <input type="hidden" name="current_page_url" value="/main/" />
                            <ul>
                                <li><label> Username </label> <input type="text" name="username" id="miniLoginID" /></li>
                                <li><label> Password </label> <input type="password" name="password" id="miniLoginPassword" /></li>
                                <li><a href="#">로그인</a> | <a href="/account/register/">회원가입</a></li>
                                <li><input type="submit" id="miniLoginSubmit" class="hidden"/></li>
                            </ul>
                        </form>
                    </dd>
                </dl>
                {% endif %}
            </div>
            <div class="cb"></div>
        </div>
        <div id="footer">
            <p class="copy">Copyright &copy; 2010 <a href="http://www.sparcs.org"><strong>SPARCS</strong></a>. All rights reserved.</p>
            <p class="footLink"><a href="http://project.sparcs.org/ara/" target="_blank">About us</a> | <a href="mailto:ara@sparcs.kaist.ac.kr">Contact us</a></p>
        </div>
        <div id="linksModalBG"></div>
        <div id="linksModal">
            <div class="modalMargin"></div>
            <div class="modalWindow">
                <p class="modalTitle">KAIST 주요 사이트</p>
                <p class="quitModal"><a href="#"><img src="/media/image/stealBlue/i_quitModal.png" alt="(quit modal)" /></a></p>
                <div class="modalContents">
                    <ul>
                        <li class="kaist"><a href="http://www.kaist.ac.kr">KAIST 홈페이지</a></li>
                        <li><a href="http://lkin.kaist.ac.kr" title="수강지식인">LKIN</a></li>
                        <li><a href="http://ftp.kaist.ac.kr" title="오픈소스 미러링 서비스 FTPKAIST 입니다.">FTPKAIST</a></li>
                        <li><a href="telnet://bar.kaist.ac.kr" title="Bar Telnet BBS served by KaLi">Bar Telnet</a></li>
                        <li><a href="http://bar.kaist.ac.kr" title="Bar Web BBS served by KaLi">Bar Web</a></li>
                        <li><a href="http://kftp.kaist.ac.kr" title="한국과학기술원 FTP SITE: 한컴오피스, MS등의 필수 유틸리티가 공식적으로 배포되는곳.">KFtp</a></li>
                        <li><a href="http://voki.kaist.ac.kr" title="한국과학기술원 교육방속국 V.O.K.(Voice Of KAIST)">VOK</a></li>
                        <li><a href="http://imgeffect.kaist.ac.kr" title="한국과학기술원 행사준비위원회 상상효과 Imagination Effect">행사준비위원회 상상효과</a></li>
                        <li><a href="https://portal.kaist.ac.kr" title="포탈시스템">포탈</a></li>
                        <li><a href="http://webmail.kaist.ac.kr" title="KAIST Webmail System">웹메일</a></li>
                        <li><a href="http://kaipa.kaist.ac.kr" title="수강신청시스템">Kaipa</a></li>
                        <li><a href="http://ict.kaist.ac.kr" title="정보통신팀">ICT</a></li>
                        <li><a href="http://kds.kaist.ac.kr" title="KAIST Dormitory System">KDS</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://ara.kaist.ac.kr" title="웹아라">아라</a></li>
                        <li><a href="http://otl.kaist.ac.kr" title="온라인 타임테이블 OTL">OTL</a></li>
                        <li><a href="http://student.kaist.ac.kr" title="학부총학생회">학부 총학생회</a></li>
                        <li><a href="http://welfare.kaist.ac.kr" title="학생복지위원회">학생복지위원회</a></li>
                        <li><a href="http://club.cyworld.com/2008KAISTJY" title="동아리연합회">동아리연합회</a></li>
                        <li><a href="http://dormi.kaist.ac.kr" title="생활관자치회">생활관자치회</a></li>
                        <li><a href="http://gsa.kaist.ac.kr" title="대학원총학생회">대학원 총학생회</a></li>
                        <li><a href="http://elka.kaist.ac.kr" title="KAIST 공식 응원단 E.L.K.A.">ELKA</a></li>
                        <li><a href="http://orchestra.kaist.ac.kr" title="오케스트라">Orchestra</a></li>
                        <li><a href="http://kisa.kaist.ac.kr" title="KAIST International Student Association, KISA">KISA</a></li>
                        <li><a href="http://kaistwhatson.blogspot.com" title="KAIST Whats' on!">What's on</a></li>
                        <li><a href="http://www.ilovekaist.net" title="KAIST 동창회">동창회</a></li>
                        <li><a href="http://club.cyworld.com/rmskaist" title="식당모니터링위원회">식당모니터링위원회</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-7828380-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>

        <div id="user_popup">
            <ul>
                <li id="user_popup_username"></li>
                    <li class="user_popup_function{% if not logged_in %} hidden{% endif %}"><a id="user_popup_send_message" class="thickbox" href="#TB_inline?&amp;width=490&amp;height=565&amp;inlineId=message_popup&amp;modal=true">{% trans "Send Message" %}</a></li>
                    <li class="user_popup_function"><a id="user_popup_user_information" class="thickbox" href="#TB_inline?height=size&amp;width=size&amp;inlineId=user_information_popup&amp;modal=true">{% trans "User Information" %}</a></li>
                <li class="user_popup_function{% if not logged_in %} hidden{% endif %}"><a id="user_popup_add_blacklist" href="#">{% trans "Add Blacklist" %}</a></li>
                <li class="user_popup_function{% if not logged_in %} hidden{% endif %}"><a id="user_nickname_search" href="#">{% trans "View Other Article" %}</a></li>
            </ul>
        </div>

        <div id="user_information_popup">
            <div id="u_info_pop_head">{% trans "Member Information" %}</div>
            <div id="user_information_popup_content"></div>
            <!--
            <input type="button" id="u_info_send_message" value="{% trans "send message" %}" />
            <input type="button" id="u_info_add_blacklist" value="{% trans "add blacklist" %}" />
            -->
            <input type="button" id="user_information_close" value="{% trans "close" %}" />
        </div>

        <div id="message_popup">
            <div id="message_popup_head">
                <span class="main_head">
                    {% trans "send a message" %}
                </span>
                <span class="sub_head">
                    {% trans "send a message" %}
                </span>
            </div>
            <div id="message_popup_content" class="message_content">
                <form action="/message/send/" method="post">
                    <div id="message_send_receiver">
                        <div class="sendto">{% trans "send to : " %}</div>
                        <div class="doublemarginshet">
                            <input type="text" id="message_receiver_field" name="receiver" value="{{default_receiver}}"></input>
                        </div>
                    </div>
                    <div id="message_send_text">
                        <textarea id="message_text_field" name="text">{{default_text}}</textarea>
                    </div>
                    <div id="message_send_buttons">
                        <span class="message_send_submit">
                            <input type="submit" name="submit" class="message_send_submit big_btn" value="{% trans "send" %}" ></input>
                        </span>
                        <span class="message_send_cancel">
                            <input type="button" name="cancel" value="{% trans "cancel" %}" class="small_btn"></input>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
