<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<script type="text/javascript" src="/media/thirdparty/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/media/thirdparty/jquery.history.js"></script>
	<script type="text/javascript" src="/media/js/base.js"></script>
	<script type="text/javascript" src="/media/thirdparty/thickbox/thickbox.js"></script>
	<script type="text/javascript" src="/media/thirdparty/jquerypngfix.js"></script>
	{% block script %}{% endblock %}
	<link rel="stylesheet" href="/media/style/reset-min.css"></link>
	<link rel="stylesheet" href="/media/style/reset_base-min.css"></link>
	<link rel="stylesheet" href="/media/style/base.css" />
	<link rel="stylesheet" href="/media/thirdparty/thickbox/thickbox.css"></link>
	{% block style %}{% endblock %}
	<title>{% block title %}아라{% endblock %}</title>
    </head>

    <body>
	<div id="wrapper">
	    <div id="header_wrapper">
		<div id="top_header">
		    <ul id="link">
			<li>웹아라</li>
			<li>웹아라old</li>
			<li>구름</li>
		    </ul>
		</div>
		<div id="header">
		    {% load arara_tags %}
		    <h1><a href="/main/"><img class="iepngfix" src="/media/image/base/header/raw_ara_w_main_header_webara_title.png" alt="아라"></a></h1>
		    <form id="ksearch" action="http://nan.sparcs.org:9000/search" method="get">
			<div id="ksearch_bg_bottom">
			    <div id="ksearch_logo" class="iepngfix"></div>
			    <div class="ksearch">
				<input type="text" class="q" id="q" name="ksearch" />
				<input type="image" class="ksearch_submit" name="ksearch_submit" src="/media/image/base/ksearch/ksearch_btn.png" />
			    </div>
			</div>
		    </form>
		</div>
		<div id="bottom_header">
		    <div id="subtitle_wrapper">
			<div id="subtitle_logo" class="iepngfix"></div>
		    </div>
		    <div id="top_menu_wrapper">
			<div id="subtitle_folding"></div>
			<div id="subtitle_round"></div>
			<div id="bbstitle_wrapper">
			    <div id="bbstitle_dingbet"></div>
				<div id="bbstitle"><span id="bbsname">{% block board_name %}main{% endblock board_name %}</span>
					<span class="board_description">{% block board_description %}환영합니다.{% endblock board_description %}</span></div>
			</div>
			<div id="top_menu">
			    <div id="login_box"{%if logged_in%} class="hidden"{%endif%}>
				<form action="/account/login/" method="post" name="login">
				    <label for="login_username_field">Username:</label>
				    <input type="text" id="login_username_field" name="username" />
				    <label for="login_password_field">Password:</label>
				    <input type="password" id="login_password_field" name="password" />
				    <input type="hidden" name="current_page_url" value="/main/"></input>
				    <input type="submit" class="small_btn" value="Login" />
				</form>
			    </div>
			    <a name="login" href="#" class="{% if logged_in %}hidden{% endif %}" id="login_toggle">Login</a>
			    <a name="logout" href="/account/logout/" class="{% if not logged_in %}hidden{% endif %}">Logout</a>
			    <a name="account" href="/account/" class="{% if not logged_in %}hidden{% endif %}">Account</a>
			    <a name="register" href="/account/register/agreement" class="{% if logged_in %}hidden{% endif %}">Register</a>
			    <a href="/message/inbox/" name="top_menu_message" class="{% if not logged_in %}hidden{% endif %}">Message</a>
			    <a name="blacklist" href="/blacklist/" class="{% if not logged_in %}hidden{% endif %}">Blacklist</a>
			    <a href="/main/help">Help</a>
			</div>
		    </div>
		</div>
	    </div>
	    <div id="menu_wrapper">
		<div id="menu">
		    {% block menu %}
		    {% get_board_list %}
		    <ul>
			{% for board_info in board_list %}
			<li><a href="/board/{{board_info.board_name}}">{{board_info.board_name}}</a></li>
			{% endfor %}
		    </ul>
		    {% endblock %}
		</div>
	    </div>

	    <div id="content_wrapper">
		<div id="content">
		    {% block content %}{% endblock %}
		</div>
	    </div>

	    <div id="widget">
	    </div>

	    <div id="footer_wrapper">
		<div id="footer">
		    All copyrights reserved by SPARCS
		</div>
	    </div>

	    <div id="user_popup">
		<ul>
		    <li id="user_popup_username"></li>
			<li class="{% if not logged_in %} hidden{% endif %}"><a id="user_popup_send_message" class="thickbox" href="#TB_inline?height=550&width=480&inlineId=message_popup&modal=true">Send Message</a></li>
			<li><a id="user_popup_user_information" class="thickbox" href="#TB_inline?height=550&width=480&inlineId=user_information_popup&modal=true">User Information</a></li>
		    <li class="{% if not logged_in %}hidden{% endif %}"><a id="user_popup_add_blacklist" href="#">Add Blacklist</a></li>
		</ul>
	    </div>
	    
	    <div id="user_information_popup">
		    <div id="u_info_pop_head">Member Information</div>
		    <div id="user_information_popup_content"></div>
		    <input type="button" id="u_info_send_message" value="send message" />
		    <input type="button" id="u_info_add_blacklist" value="add blacklist" />
		    <input type="button" id="user_information_close" value="close" />
	    </div>
	    
	    <div id="message_popup">
			<div id="message_head">
				<span class="main_head">
					send a message
				</span>
				<span class="sub_head">
					send a message
				</span>
			</div>
			<div id="message_content" class="message_content">
				<form action="/message/send/" method="POST">
					<div id="message_send_receiver">
						<div class="sendto">send to : </div>
						<div class="doublemarginshet">
						<input type="text" id="message_receiver_field" name="receiver" value="{{default_receiver}}"></input>
						</div>
					</div>
					<div id="message_send_text">
						<textarea id="message_text_field" name="text">{{default_text}}</textarea>
					</div>
					<div id="message_send_buttons">
						<span class="message_send_submit">
							<input type="submit" name="submit" class="message_send_submit" value="send"></input>
						</span>
						<span class="message_send_cancel">
							<input type="button" name="cancel" value="cancel"></input>
						</span>
					</div>
				</form>
			</div>
	    </div>
	</div>
    </body>
</html>

