<html>
<head>
<script type="text/javascript">
function sbmt()
{
    alert("submit will be done");
}
function remov()
{
    alert("They will be elimininated");
}
var d = new Date();
var time = d.getHours();

if (time<10)
{
    document.write("<b>Good morning</b>");
}
var n_member=0;
</script>
<style type="text/css">
#cautious{
float:right;
font-size:80%
}
#blacklist_top_menu{
background-color:339999
}
</style>
</head>
    <body>
	<div id="blacklist_top_menu">
		|
		{% for item in btm_item %}
		    <a href="/blacklist/{{item.url}}"> {{item.name}} </a>
		    |
		{% endfor %}
	</div>

	<div id="blacklist_content">
	    {% block blacklist_contents %}
	    <br />
	    <span>
	    <div id="user_b_list">
		<table border="1">
		<tr>
		    {% for list_head in b_list_h %}
		    <th>
		    {% ifequal list_head 'ID' %}
		    {{list_head}}
		    {% else %}
		    <form action="">
			{{list_head}}
			<input type="checkbox" name=checkbox_{{list_head}}></input>
		    </form>
		    {% endifequal %}
		    </th>
		    {% endfor %}
		</tr>
		{% for object in b_list %}
		<tr>
		    {% for inventory in b_list_h %}
		    {% ifequal inventory 'ID' %} 
		    <td>		  
		    	{{object.ID}}
		    </td>
		    {% endifequal %}
		    {% ifequal inventory 'block_article' %}
		    <td>
			<form action="">
			    <input type="checkbox"></input>
		    </td>
		    {% endifequal %}
		    {% ifequal inventory 'block_message' %}
		    <td>
			<form action="">
			    <input type="checkbox"></input>
		    </td>
		    {% endifequal %}
		    {% endfor %}
		</tr>
		<script type="text/javascript">
		n_member+=1;
		</script>
		{% endfor %}
		    <script type="text/javascript">
			document.write("<b>"+n_member+"</b>"+"<span> members in blacklist</span>");
		    </script>
	    </table>
	    </div>
	    <br />	
	    <span id="b_button">
		<form action="">
		    <input type="button" onclick="remov()" value="remove"></input>
		    <input type="button" onclick="sbmt()" value="submit"></input>
		</form>
	    </span>
	    <div id="cautious">The limit number of blacklist members is 100.
	    </div>	
	    {% endblock %}
	</div>

    </body>
</html>
