{% extends "base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="/media/style/help.css"></link>
{% endblock style %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/help.js"></script>
{% endblock script %}

{% block content %}
{% load i18n %}

<div id="help_top_menu">
    <div id="help_title"></div>
    <ul>
        <li class="first_li"><a rel="base" href="/help/base" name="base">{% trans "base" %}</a> |</li>
        <li><a rel="account" href="/help/account" name="account">{% trans "account" %}</a> |</li>
        <li><a rel="article" href="/help/article" name="article">{% trans "article" %}</a> |</li>
        <li><a rel="message" href="/help/message" name="message">{% trans "message" %}</a> |</li>
        <li><a rel="blacklist" href="/help/blacklist" name="blacklist">{% trans "blacklist" %}</a> |</li>
        <li><a rel="help" href="/help/help" name="help">{% trans "help" %}</a></li>
    </ul>
    <div class="clear"></div>
</div>

<div id="help_content">
</div>

<div id="help_base" class="hidden">
    <h1>모든 페이지에 적용</h1>
    <h3>단축키</h3>
    <ul>
        <li>모든 단축키는 Caps Lock이 off된 상태를 기준으로 합니다. Caps Lock on상태에서 오작동하는 경우 책임을 지지 않습니다.</li>
        <li>t : 커서가 게시판 목록으로 이동한다. 다시 누르면 커서가 컨텐츠로 이동한다.</li>
        <li>y : 커서가 탑 메뉴로 이동한다. 다시 누르면 커서가 컨텐츠로 이동한다.</li>
        <li>x : 커서가 컨텐츠로 이동한다. t, y와 다르게 토글이 아님</li>
        <li>j, k : 커서가 게시판 목록이나 탑 메뉴에 있을때 상하 또는 좌우로 이동한다.</li>
        <li>space : 커서가 있는 곳의 링크로 연결된다. (단, 브라우저 자체커서로 인해 엉뚱한 결과가 발생할 수 있음)</li>
        <li>' : space와 같은 기능을 합니다.</li>
        <li>e : ksearch에 포커스 생긴다.</li>
        <li>b : 커서가 유저팝업 앵커를 포함하고 있을때 유저팝업창을 띄운다.</li>
        <li>f : 메세지보내기 팝업창이 떠있을때 내용 쓰는 textarea로 포커스</li>
        <li>B : 유저정보 팝업창이 떠있을때 블랙리스트에 추카</li>
        <li>, . : 위아래로 스크롤</li>
        <li>esc : 단축키가 먹히지 않을때 누르면 50% 확률로 단축키가 먹히게 만들 수 있다.</li>
    </ul>
    <h1>인덱스 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>q : logout</li>
    </ul>

</div>

<div id="help_account" class="hidden">
	<h1>계정 일반</h1>
	<h3>단축키</h3>
	<ul>
		<li>x : 커서가 컨텐츠에 생성된다.</li>
	</ul>
	<h1>내 계정</h1>
	<ul>
		<li>ID, nickname, signature, introduction, language
		: 가장 최근에 업데이트한 정보 기록</li>
		<li>Last login IP: 가장 최근에 접속한 IP주소</li>
		<li>Last logout time: 가장 최근에 로그아웃한 시각</li>
	</ul>
	<h1>정보 수정</h1>
	<ul>
		<li>초기에 nickname에 focus가 있다.</li>
		<li>Nickname은 register때와 마찬가지로 중복되거나 빈칸일 경우 거부된다.</li>
		<li>My ARA setting은 elective.</li>
	</ul>
	<h1>비밀번호 수정</h1>
	<ul>
		<li>현재 비밀번호가 맞고, 새 비밀번호와 재입력된 새 비밀번호가 일치하지 않을 경우 거부된다.</li>
	</ul>
	<h1>계정 삭제</h1>
		<li>삭제 전 경고 문구를 숙지 하십시오.</li>
		<li>글이 남는 방침에 대해 불안이 있으신 분들은 수고스럽지만 각 게시판에 들어가 이름 검색 후 삭제해 주시길 바랍니다.</li>
	<ul>
	</ul>
</div>

<div id="help_article" class="hidden">
    <h1>글목록 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>s : 검색방법 컨트롤로 커서 이동. 이미 커서가 있을시 검색창에 포커스 생긴다.</li>
        <li>space, ' : 컴색방법에 커서가 있을때 검색방법 on/off 바꿈.</li>
        <li>q : index페이지로 이동</li>
        <li>R : 글쓰기 페이지로 이동</li>
    </ul>
</div>

<div id="help_message" class="hidden">
    <h1>쪽지 페이지 일반</h1>
    <h3>단축키</h3>
    <ul>
        <li>u : inbox로 이동</li>
        <li>o : outbox로 이동</li>
        <li>s : send로 이동</li>
    </ul>
    <h1>쪽지 목록 페이지</h1>
    <h3>일반</h3>
    <ul>
        <li>쪽지 전체체크 : 열제목 행에 있는 체크박스를 클릭하면 화면에 보이는 모든 쪽지가 체크됩니다.
    이 때 삭제버튼을 누르거나 d키를 누르면 현재 페이지의 모든 쪽지를 삭제할 수 있습니다.
    자바스크립트가 작동하지 않는 사용자는 열제목 행에 있는 체크박스를 눌러도 전체 쪽지가 체크되지 않는데,
    이때는 그냥 삭제버튼을 누르면 현재 페이지의 모든 쪽지가 삭제됩니다.</li>
    </ul>
    <h3>단축키</h3>
    <ul>
        <li>q : index페이지로 이동</li>
        <li>j, k : 커서가 쪽지 목록 위에 있을때 커서를 위아래로 이동. 커서가 맨위나 맨아래 있을때는 자동으로 이전/다음페이지 이동</li>
        <li>n, p : 페이지 뒤로, 앞으로 넘김</li>
        <li>N, P : 페이지그룹 뒤로, 앞으로 넘김</li>
        <li>J, K : 커서가 쪽지 목록 위에 있을때 커서를 위아래로 드래그</li>
        <li>c : 커서가 있는 부분 혹은 드래그된부분의 체크박스를 토글</li>
        <li>d : 체크된 메세지 삭제. 체크된 메세지가 없으면 커서가 있는부분 혹은 드래그된부분의 메세지를 삭제한다.</li>
        <li>A : 쪽지 전체선택</li>
        <li>space : 커서가 있는 부분의 메세지를 읽는다</li>
    </ul>
    <h1>쪽지 읽기 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>q : 쪽지 목록 페이지로 이동</li>
        <li>d : 현재 쪽지 삭제</li>
        <li>(inbox) r, m : 답장보내기에 커서 포커스</li>
    </ul>
    <h1>쪽지 보내기 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>c : receiver type을 바꾼다(input/textarea에 focus가 없어야 작동)</li>
        <li>shift + enter : 쪽지를 보낸다</li>
    </ul>

</div>

<div id="help_blacklist" class="hidden">
<h3>Blacklist functtion</h3>
<h3>Adding blacklist</h3>
<h4>Click done</h4>
<h4>Click username</h4>
<h5>user searching area</h5>
</div>

<div id="help_help" class="hidden">
    <h1>도움말 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>j, k : 도움말 메뉴 커서를 왼쪽, 오른쪽으로 옮김</li>
        <li>x : 도움말 메뉴에 커서가 없을때 커서 생기게 한다.</li>
    </ul>
</div>

{% endblock content %}
