<html>
<head>
</head>
<body>
    <div id="help_top_menu">
	|
	{% for item in htm_item %}
	    <a href="/help/{{item.url}}"> {{item.name}} </a>
	    |
	{% endfor %}
    </div>

    <div id="help_content">
	<br />
	{% block help_contents %}
	<div>
	<h4> This is shortcut </h4>
	<table border=1>
	    <tr>
		<th>
		    operating key
		</th>
		<th>
		    description
		</th>
	    </tr>
	    <tr>
		<td>
		    Alt+F4
		</td>
		<td>
		    Say Good Bye!
		</td>
	    </tr>
	</div>
	{% endblock %}
    </div>
</body>
</html>
