{% extends "base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="/media/style/help.css"></link>
{% endblock style %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/help.js"></script>
{% endblock script %}

{% block content %}

<div id="help_top_menu">
    <ul>
        <li class="first_li"><a href="/help/base" name="base">base</a></li>
        <li><a href="/help/account" name="account">account</a></li>
        <li><a href="/help/article" name="article">article</a></li>
        <li><a href="/help/message" name="message">message</a></li>
        <li><a href="/help/blacklist" name="blacklist">blacklist</a></li>
        <li><a href="/help/help" name="help">help</a></li>
    </ul>
</div>

<div id="help_content">
</div>

<div id="help_base" class="hidden">
    <h1>모든 페이지에 적용</h1>
    <h3>단축키</h3>
    <ul>
        <li>t : 커서가 게시판 목록으로 이동한다. 다시 누르면 커서가 컨텐츠로 이동한다.</li>
        <li>y : 커서가 탑 메뉴로 이동한다. 다시 누르면 커서가 컨텐츠로 이동한다.</li>
        <li>x : 커서가 컨텐츠로 이동한다. t, y와 다르게 토글이 아님</li>
        <li>j, k : 커서가 게시판 목록이나 탑 메뉴에 있을때 상하 또는 좌우로 이동한다.</li>
        <li>space : 커서가 있는 곳의 링크로 연결된다. (단, 브라우저 자체커서로 인해 엉뚱한 결과가 발생할 수 있음)</li>
        <li>' : space와 같은 기능을 합니다.</li>
        <li>e : ksearch에 포커스 생긴다.</li>
        <li>b : 커서가 유저팝업 앵커를 포함하고 있을때 유저팝업창을 띄운다.</li>
    </ul>
    <h1>인덱스 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>q : logout</li>
    </ul>

</div>

<div id="help_account" class="hidden">
</div>

<div id="help_article" class="hidden">
    <h1>글목록 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>s : 검색방법 컨트롤로 커서 이동. 이미 커서가 있을시 검색창에 포커스 생긴다.</li>
        <li>space, ' : 컴색방법에 커서가 있을때 검색방법 on/off 바꿈.</li>
        <li>q : index페이지로 이동</li>
    </ul>
</div>

<div id="help_message" class="hidden">
    <h1>쪽지 페이지 일반</h1>
    <h3>단축키</h3>
    <ul>
        <li>u : inbox로 이동</li>
        <li>o : outbox로 이동</li>
        <li>s : send로 이동</li>
    </ul>
    <h1>쪽지 목록 페이지</h1>
    <h3>일반</h3>
    <ul>
        <li>쪽지 전체체크 : 열제목 행에 있는 체크박스를 클릭하면 화면에 보이는 모든 쪽지가 체크됩니다.
    이 때 삭제버튼을 누르거나 d키를 누르면 현재 페이지의 모든 쪽지를 삭제할 수 있습니다.
    자바스크립트가 작동하지 않는 사용자는 열제목 행에 있는 체크박스를 눌러도 전체 쪽지가 체크되지 않는데,
    이때는 그냥 삭제버튼을 누르면 현재 페이지의 모든 쪽지가 삭제됩니다.</li>
    </ul>
    <h3>단축키</h3>
    <ul>
        <li>q : index페이지로 이동</li>
        <li>j, k : 커서가 쪽지 목록 위에 있을때 커서를 위아래로 이동. 커서가 맨위나 맨아래 있을때는 자동으로 이전/다음페이지 이동</li>
        <li>J, K : 커서가 쪽지 목록 위에 있을때 커서를 위아래로 드래그</li>
        <li>c : 커서가 있는 부분 혹은 드래그된부분의 체크박스를 토글</li>
        <li>d : 체크된 메세지 삭제. 체크된 메세지가 없으면 커서가 있는부분 혹은 드래그된부분의 메세지를 삭제한다.</li>
        <li>A : 쪽지 전체선택</li>
        <li>space : 커서가 있는 부분의 메세지를 읽는다</li>
    </ul>
    <h1>쪽지 읽기 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>q : 쪽지 목록 페이지로 이동</li>
        <li>d : 현재 쪽지 삭제</li>
        <li>(inbox) r, m : 답장보내기에 커서 포커스</li>
    </ul>
    <h1>쪽지 보내기 페이지</h1>
    <h3>단축키</h3>
    <ul>
        <li>c : receiver type을 바꾼다(input/textarea에 focus가 없어야 작동)</li>
        <li>shift + enter : 쪽지를 보낸다</li>
    </ul>

</div>

<div id="help_blacklist" class="hidden">
</div>

<div id="help_help" class="hidden">
</div>

{% endblock content %}
