{% extends "message_frame.html" %}

{% block message_content %}
{{num_new_m}} new message(s) / {{num_m}} message(s)
<br>
{{ block.super }}
{% endblock %}

{% block page_no_view %}

<a href="/message/{{listtype}}/1/">
    {{p_init}}
</a>
<a href="/message/{{listtype}}/{{un_p_prev}}">
    {{p_prev}}
</a>

{% for no in p_list %}
<a href="/message/{{listtype}}/{{no}}/">
    {% ifequal no p_no %}
    <span style='font-weight:bold; color:green;'>
	{{no}}
    </span>
    {% else %}
    <span style='font-weight:none; color:black;'>
	{{no}}
    </span>
    {% endifequal %}
</a>
{% endfor %}

<a href="/message/{{listtype}}/{{un_p_next}}">
    {{p_next}}
</a>
<a href="/message/{{listtype}}/{{un_p_end}}">
    {{p_end}}
</a>

{% endblock page_no_view %}
