{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/index.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/media/style/index.css" />
{% endblock %}

{% block content %}
<div id="todays_best" class="best_articles">
    <div id="todays_best_table" class="best_articles_table">
        <div class="best_articles_caption">Today's Best</div>
        {% for todays_best in todays_best_list %}
        <dl class="best_articles_table_content">
            <dt>{% if logged_in %}<a href="/board/{{todays_best.board_name}}/{{todays_best.id}}/">{{todays_best.title}}</a>{% else %}{{todays_best.title}}{% endif %}</dt>
            <dd>vote {{todays_best.vote}} | {{todays_best.date|date:"m.d H:i"}}</dd>
        </dl>
        {% endfor %}
    </div>
</div>
<div id="weekly_best" class="best_articles">
    <div id="weekly_best_table" class="best_articles_table">
        <div class="best_articles_caption">Weekly Best</div>
        {% for weekly_best in weekly_best_list %}
        <dl class="best_articles_table_content">
            <dt>{% if logged_in %}<a href="/board/{{weekly_best.board_name}}/{{weekly_best.id}}/">{{weekly_best.title}}</a>{% else %}{{weekly_best.title}}{% endif %}</dt>
            <dd>vote {{weekly_best.vote}} | {{weekly_best.date|date:"m.d H:i"}}</dd>
        </dl>
        {% endfor %}
    </div>
</div>
{% endblock %}
