<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/media/style/index.css"></link>
        <title>아라</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="content_wrapper">
		    <p id="postcard"><img src="/media/image/postcard.png" alt="아라 POSTCARD"></p>
		    <p id="logo"><img src="/media/image/logo.png" alt="아라 LOGO"></p>
		    <form id="login">
			<div id="username">
			    <input type="text" id="username" name="username">
			    <p>ID</p>
			</div>
			<div id="password">
			    <input type="password" id="password" name="password">
			    <p>PASSWORD</p>
			</div>
			<input type="image" src="/media/image/index/login.png" alt="LOGIN">
		    </form>
		    <div id="navigation">
			<p id="register"><a href="/account/register/agreement/">REGISTER</a></p>
			<p id="guest"><a href="/main/">GUEST</a></p>
		    </div>
	    </div>
            <div id="footer_wrapper">
		<div id="footer">
		    All copyrights reserved by SPARCS
		</div>
                <div id="counter">
                    <p>TODAY : <span>{{counter_today}}</span></p>
                    <p>TOTAL : <span>{{counter_total}}</span></p>
                </div>
            </div>
        </div>
    </body>
</html>
