<html>
    <head>
        <title>This is ARA!</title>
    </head>
    <body>
        <div id="postcard">
        </div>
        <div id="loginpanel">
            <form name="login" method="post" action="/login/">
            <div id="id">아이디</div>
            <div id="idinput"><input type="text" name="id"></div>
            <div id="passwd">비밀번호</div>
            <div id="passwdinput"><input type="password" name="passwd"></div>
            <div id="login"><input type="submit" value="로그인"></div>
            <div id="guest"><a href="/main/">손님</a></div>
            <div id="register"><a href="/register/">회원가입</a></div>
            </form>
        </div>
        <div>
            {{msg}}
        </div>
    </body>
</html>
