<html>
    <head>
        <title>This is ARA!</title>
        <link rel="stylesheet" type="text/css" href="intro.css">
    </head>
    <body>
        <div id="postcard">
            <img src="/media/images/postcard.png">
        </div>
        <div id="loginPanel">
            <form name="login" method="post" action="/login/">
            <div id="id" class="key">아이디</div>
            <div id="idinput" class="form"><input type="text" name="id"></div>
            <div id="password" class="key">비밀번호</div>
            <div id="passwordinput" class="form"><input type="password" name="password"></div>
            <div id="login" class="button"><input type="image" src="/media/images/login.png"></div>
            <div id="guest" class="button"><a href="/main/"><img src="/media/images/guest.png" border="0"></a></div>
            <div id="register" class="button"><a href="/register/"><img src="/media/images/register.png" border="0"></a></div>
            </form>
        </div>
        <div>
            {{msg}}
        </div>
    </body>
</html>
