{% extends "base.html" %}
{% load arara_tags %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="/media/js/main.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/media/style/main.css" />
{% endblock %}

    {% block main %}

    {% if username == "ltq3021" %}
    <script>
            if (confirm('hihidddd?')){
                window.location.pathname='/account/password_modify'
            }
    </script>
    {% endif %}

    {% load i18n %}
    {% if KSEARCH_ENABLED %}
    <div class="mainItem" id="Ksearch">
        <h2 class="mainHeader">K-Search</h2>
        <form id="KsearchBox" method="get" action="http://ksearch.sparcs.org/search">
            <div class="mainItemContents">
                <input type="text" name="KsearchText" id="KsearchText" value="" />
                <input type="image" id="KsearchButton" class="KsearchButton" src="/media/image/stealBlue/i_ksearch.png" />
            </div>
        </form>
        <div class="cb"></div>
    </div>
    {% endif %}

    <div class="mainItem fl">
        <div class="header headerBest">투데이 베스트</div>
        <ul class="bestArticles">
            {% for no, todays_best in todays_best_list %}
            <li>
            <span class="vote">{{todays_best.positive_vote}}</span>
            <span class="title">{% if logged_in %}<a href="/board/{{todays_best.board_name}}/{{todays_best.root_id}}/#{{todays_best.id}}">{{todays_best.title|truncatechars:"80"}}</a> {% else %}{{todays_best.title|truncatechars:"80"}}{% endif %}</span>
            <span class="author"><a href="#" class="nickname">{{todays_best.author_nickname}}</a><span class="username hidden">{{todays_best.author_username}}</span></span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mainItem fl">
        <div class="header headerBest">위클리 베스트</div>
        <ul class="bestArticles">
            {% for no, weekly_best in weekly_best_list %}
            <li>
            <span class="vote">{{weekly_best.positive_vote}}</span>
            <span class="title">{% if logged_in %}<a href="/board/{{weekly_best.board_name}}/{{weekly_best.root_id}}/#{{weekly_best.id}}">{{weekly_best.title|truncatechars:"80"}}</a> {% else %}{{weekly_best.title|truncatechars:"80"}}{% endif %}</span>
            <span class="author"><a href="#" class="nickname">{{weekly_best.author_nickname}}</a><span class="username hidden">{{weekly_best.author_username}}</span></span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="cb"></div>
    {% for board_name, articles in recent_articles.items %}
    <div class="mainItem fl">
        <div class="header"><a href="/board/{{ board_name }}/">{{ board_name|get_board_alias }}</a></div>
        <ul class="recentArticles">
            {% for article in articles %}
            <li>
            <span class="title">
                <span class="titleContent">{% if logged_in %}<a href="/board/{{article.board_name}}/{{article.root_id}}/#{{article.id}}">{{article.title|truncatechars:"80"}}</a> {% else %}{{article.title|truncatechars:"80"}}{% endif %}</span><span class="replyCount">({{ article.reply_count }})</span></span>
            <span class="dateinfo">{{ article.date|date_relative }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% cycle '' '<div class="cb"></div>' %}
    {% endfor %}
    <div class="cb"></div>

{% if has_banner %}
<div class="mainItem" id="Banner">
    <div class="mainHeader">
        <h2>Banner</h2>
    </div>
    <div class="mainItemContents">
        <div class="best_articles_content_margin">
            {{ banner|safe }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

<!-- this block is needed to empty content block -->
{% block content %}
{% endblock %}
