{% extends "base.html" %}
{% load arara_tags %}

{% block script %}
<script type="text/javascript" src="/media/js/main.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/media/style/main.css" />
{% endblock %}

{% block main %}
{% load i18n %}
<div class="mainItem" id="Ksearch">
    <h2 class="mainHeader">K-Search</h2>
    <form id="KsearchBox" method="get" action="http://ksearch.sparcs.org/search">
        <div class="mainItemContents">
            <input type="text" name="KsearchText" id="KsearchText" value="" />
            <input type="image" id="KsearchButton" class="KsearchButton" src="/media/image/stealBlue/i_ksearch.png" />
        </div>
    </form>
    <div class="cb"></div>
</div>

<div class="mainItem" id="todayBest">
    <div class="mainHeader">
        <h2>Today</h2>
        <p class="desc">지금<br/>KAIST는<br/>무엇을<br/>이야기하나</p>
    </div>
    <div class="mainItemContents">
        <table class="bestArticles" cellspacing="0">
            {% for no, todays_best in todays_best_list %}
            {% if forloop.first %}
            <tr class="top">  <th class="BANumber">best</th>
            {% else %}
            <tr class="second"> <th class="BANumber">{{no}}</th>
            {% endif %}
                <td class="BAtitle">{% if logged_in %}<a href="/board/{{todays_best.board_name}}/{{todays_best.id}}/">{{todays_best.title|truncatechars:"45"}}</a> {% else %}{{todays_best.title|truncatechars:"45"}}{% endif %}</td>
                <td class="BAauthor"><a href="#">{{todays_best.author_username}}</a></td>
                <td class="BAdateinfo">{% trans "vote" %} {{todays_best.positive_vote}} | {{todays_best.date|date:"m.d H:i"}} </td>
            </tr>
            {% endfor %}
        </table>
    </div><div class="cb"></div>
</div>
<div class="mainItem" id="weeklyBest">
    <div class="mainHeader">
        <h2>Weekly</h2>
        <p class="desc">이 주의<br/>KAIST는<br/>무엇을<br/>이야기하나</p>
    </div>
    <div class="mainItemContents">
        <table class="bestArticles" cellspacing="0">
            {% for no, weekly_best in weekly_best_list %}
            {% if forloop.first %}
            <tr class="top"> <th class="BANumber">best</th>
            {% else %}
            <tr class="second"> <th class="BANumber">{{no}}</th>
            {% endif %}
                <td class="BAtitle">{% if logged_in %}<a href="/board/{{weekly_best.board_name}}/{{weekly_best.id}}/">{{weekly_best.title|truncatechars:"45"}}</a> {% else %}{{weekly_best.title|truncatechars:"45"}}{% endif %}</td>
                <td class="BAauthor"><a href="#">{{weekly_best.author_username}}</a></td>
                <td class="BAdateinfo">{% trans "vote" %} {{weekly_best.positive_vote}} | {{weekly_best.date|date:"m.d H:i"}} </td>
            </tr>
            {% endfor %}
        </table>
    </div><div class="cb"></div>
</div>

{% if has_banner %}
<div class="mainItem" id="Banner">
    <div class="mainHeader">
        <h2>Banner</h2>
    </div>
    <div class="mainItemContents">
        <div class="best_articles_content_margin">
            <img src="{{ banner }}" alt="banner" />
        </div>
    </div>
</div>
{% endif %}

<!-- 날씨 base.html로 옮겨야???
{% if has_weather %}
<div id="weather" class="weathers">
    <div id="weather_table">
        <div class="best_articles_caption">{% trans "Weather" %}</div>
        <div class="best_articles_content_margin">
            <div id="weather_today_content" class="weather_contents">
                <ul>
                    <li> <b> {{weather_info.city}} Campus </b> </li>
                    <li> <img src="http://www.google.com{{weather_info.current_icon_url}}" alt="{{weather_info.current_condition}}" style="width:60px; height:60px;"/> </li>
                    <li> {{weather_info.current_condition}} </li>
                    <li> {{weather_info.current_temperature}}˚C </li>
                </ul>
            </div>
            <div class="weather_forecast_contents">
                <ul>
                    <li> <b> Tomorrow </b> </li>
                    <li> <img src="http://www.google.com{{weather_info.tomorrow_icon_url}}" /> </li>
                    <li> {{weather_info.tomorrow_temperature_high}}˚C / {{weather_info.tomorrow_temperature_low}}˚C </li>
                </ul>
            </div>
            <div class="weather_forecast_contents">
                <ul>
                    <li> <b> Day after tomorrow </b> </li>
                    <li> <img src="http://www.google.com{{weather_info.day_after_tomorrow_icon_url}}" /> </li>
                    <li> {{weather_info.day_after_tomorrow_temperature_high}}˚C / {{weather_info.day_after_tomorrow_temperature_low}}˚C </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
-->
{% endblock %}

<!-- this block is needed to empty content block -->
{% block content %}
{% endblock %}

