<html>
    <head>
        <title>ARA</title>
        <link rel="stylesheet" type="text/css" href="/media/style/mainframe.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
	    function clock()
	    {
		var today=new Date();
		var h=today.getHours();
		var m=today.getMinutes();
		var s=today.getSeconds();
		m=addzero(m);
		s=addzero(s);
		document.getElementById('clock').innerHTML=h+" : "+ m+" : "+s;
		t=setTimeout('clock()', 500);
	    }
	    function addzero(i)
	    {
		if(i<10)
		{
		    i="0"+i;
		}
		return i;
	    }

	    $(document).ready(function(){
		$("clock").hover(
		    function(){
			 $("widgetclock").slideDown();
		    },
		    function(){
			 $("widgetclock").slideUp();
		    });
	    });
	</script>
    
    </head>
    <body onload="clock()">
        <div id="container">
	<div id="header">
	    <div id="header_left">
		<a href="/main/">WebARra</a>
	    </div>
	    <div id="header_right">
		<div id="ksearchPanel">
		    <form name = "ksearch" method = "GET" action = "http://sparcs40.kaist.ac.kr:8000/search">
			<input type = "text" name ="q">
			<input type = "submit" value = "KSearch">
		    </form>
		</div>
		<div id="main_inventory">
                    {{arara_login}}
		    <a id="helpPanel" href=# onclick="window.open('/help/shortcut', '_blank', 'width=400px height=600px')">Help</a>
		</div>
	    </div>
        </div>
        <div id="navigation">
            {% for bbs in bbs_list %}
            <a href="/list/{{bbs}}/">{{bbs}}</a><br/>
	    {% endfor %}
	    <hr />
	    {{widget}}
	    <div id="widget_clock">
		<clock>CLOCK</clock>
	    </div>
	    <widgetclock><div id="clock"></div></widgetclock>
	</div>
        <div id="content">
            {% block arara_content %}
            Content
            {% endblock %}
        </div>
	</div>
    </body>
</html>
