{% extends "base.html" %}
{% load arara_tags %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="/media/js/main.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/media/style/main.css" />
{% endblock %}

    {% block main %}
    {% load i18n %}
    {% if KSEARCH_ENABLED %}
    <div class="mainItem" id="Ksearch">
        <h2 class="mainHeader">K-Search</h2>
        <form id="KsearchBox" method="get" action="http://ksearch.sparcs.org/search">
            <div class="mainItemContents">
                <input type="text" name="KsearchText" id="KsearchText" value="" />
                <input type="image" id="KsearchButton" class="KsearchButton" src="/media/image/stealBlue/i_ksearch.png" />
            </div>
        </form>
        <div class="cb"></div>
    </div>
    {% endif %}

    <div class="mainItem" id="todayBest">
        <div class="mainHeader">
            <h2>Today</h2>
            <p class="desc">지금<br/>KAIST는<br/>무엇을<br/>이야기하나</p>
        </div>
        <div class="mainItemContents">
            <table class="bestArticles" cellspacing="0">
                {% for no, todays_best in todays_best_list %}
                {% if forloop.first %}
                <tr class="top">  <th class="BANumber">best</th>
                {% else %}
                <tr class="second"> <th class="BANumber">{{no|add:"1"}}</th>
                {% endif %}
                    <td class="BAtitle">{% if logged_in %}<a href="/board/{{todays_best.board_name}}/{{todays_best.root_id}}/#{{todays_best.id}}">{{todays_best.title|truncatechars:"45"}}</a> {% else %}{{todays_best.title|truncatechars:"45"}}{% endif %}</td>
                    <td class="BAauthor"><a href="#" class="nickname">{{todays_best.author_nickname}}</a><span class="username hidden">{{todays_best.author_username}}</span></td>
                <td class="BAdateinfo">{% trans "vote" %} {{todays_best.positive_vote}} | {{todays_best.date|date:"m.d H:i"}} </td>
            </tr>
            {% endfor %}
        </table>
    </div><div class="cb"></div>
</div>
<div class="mainItem" id="weeklyBest">
    <div class="mainHeader">
        <h2>Weekly</h2>
        <p class="desc">이 주의<br/>KAIST는<br/>무엇을<br/>이야기하나</p>
    </div>
    <div class="mainItemContents">
        <table class="bestArticles" cellspacing="0">
            {% for no, weekly_best in weekly_best_list %}
            {% if forloop.first %}
            <tr class="top"> <th class="BANumber">best</th>
            {% else %}
            <tr class="second"> <th class="BANumber">{{no|add:"1"}}</th>
            {% endif %}
                <td class="BAtitle">{% if logged_in %}<a href="/board/{{weekly_best.board_name}}/{{weekly_best.root_id}}/#{{weekly_best.id}}">{{weekly_best.title|truncatechars:"45"}}</a> {% else %}{{weekly_best.title|truncatechars:"45"}}{% endif %}</td>
                <td class="BAauthor"><a href="#" class="nickname">{{weekly_best.author_nickname}}</a><span class="username hidden">{{weekly_best.author_username}}</span></td>
                <td class="BAdateinfo">{% trans "vote" %} {{weekly_best.positive_vote}} | {{weekly_best.date|date:"m.d H:i"}} </td>
            </tr>
            {% endfor %}
        </table>
    </div><div class="cb"></div>
</div>

{% if has_banner %}
<div class="mainItem" id="Banner">
    <div class="mainHeader">
        <h2>Banner</h2>
    </div>
    <div class="mainItemContents">
        <div class="best_articles_content_margin">
            {{ banner|safe }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

<!-- this block is needed to empty content block -->
{% block content %}
{% endblock %}
