<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
	<style>form{ display : inline ; }</style>
	<style type="text/css">
	    #message_top_menu{
		background-color:#ffaa00
	    }
	</style>
	<style type="text/css">
	    #m_text textarea{
		font-size: 9pt;
		background-color:#99ccff; 
		border:0 solid #6699ff;
		height:165px;
		width:324px;
		overflow-y:auto;
		scrollbar-face-color:#99ccff;
		scrollbar-highlight-color:#99ccff;
		scrollbar-3dlight-color:#99ccff;
		scrollbar-shadow-color:#99ccff;
		scrollbar-darkshadow-color:#99ccff;
		scrollbar-track-color:#99ccff;
		scrollbar-arrow-color:#99ccff;
	    }
	</style>
    </head>
    <body>
        <div id=message_top_menu>
	    {% block message_top_menu %}
	    |
		{% for item in mtm_item %}
			<a href="/message/{{item.url}}"> {{item.name}} </a>
			|
		{% endfor %}
	    {% endblock %}
	</div>
	
	<div id="message_content">
	    {% block message_content %}
	    <div id="m_list">
		{% block m_list %}
		    <form action="">
			<select name="nmespp">   <!-- Number of message show per 1page -->
			    {% for n in nmespp %}
			    <option value="{{n}}">{{n}}</option>
			    {% endfor %}
			</select>
		    </form>

		    <form action="">
			<select name="m_opse"> <!-- message option of search -->
			    {% for op in m_opse %}
			    <option value="m_se_{{op}}">{{op}}</option>
			    {% endfor %}
			</select>

			<input type="text" name="m_se_keyword"></input>
			<input type="submit" name="m_se_submit" value="search"></input>

		    </form>

		    <table border="1">
			<tr>
			    {% for th in m_list_key %}
			    <th>
				{% ifequal th 'checkbox' %}
				<form action="">
				    <input type="checkbox" name="th_cb"> <!--th_checkbox-->
				    </input>
				</form>
				{% else %}
				{{th}}
				{% endifequal %}
			    </th>
			    {% endfor %}
			</tr>
			{% for message in m_list_value %}
			<tr>
			    {% for value in message %}
			    <td>
				{% ifequal value 'checkbox' %}
				<form action="">
				    <input type="checkbox" name="{{forloop.parentloop.counter0}}"></input>
				</form>
				{% else %}
				{% ifequal value.key 'text' %}
				<a href="/message/rim/{{value.msg_no}}">{{value.value}}</a>
				{% else %}
				{{ value }}
				{% endifequal %}
				{% endifequal %}
			    </td>
			    {% endfor %}
			</tr>
			{% endfor %}
		    </table>

		    <form action="">
			<input type="button" value="delete"></input>
		    </form>

		    {% endblock m_list %}
		</div>
	    {% endblock message_content %}
	</div>
	<div id="page_no_view">
	    {% block page_no_view %}
	    {% endblock page_no_view %}
	</div>
    </body>
</html>
