<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form method="post" action="/register/">
        <div>
            <p><textarea>약관명시</textarea></p>
            <p><input type="checkbox" name="policy" value="agree"></p>
        </div>
        <div>
            <p>아이디</p>
        </div>
        <div>
            <p><input type="text" name="id"></p>
        </div>
        <div>
            <p>ID OK</p>
        </div>
        <div>
            <p>비밀번호</p>
        </div>
        <div>
            <p><input type="password" name="passwordFirst"></p>
        </div>
        <div>
            <p>비밀번호 확인</p>
        </div>
        <div>
            <p><input type="password" name="passwordSecond"></p>
        </div>
        <div>
            <p>PASSWORD OK</p>
        </div>
        <div>
            <p>닉네임</p>
        </div>
        <div>
            <p><input type="text" name="nickname"></p>
        </div>
        <div>
            <p>NICKNAME OK</p>
        </div>
        <div>
            <p>Email</p>
        </div>
        <div>
            <p><input type="text" name="email"></p>
        </div>
        <div>
            <p>EMAIL OK</p>
        </div>
        <div>
            <p>Sig.</p>
        </div>
        <div>
            <p><textarea name="signature"></textarea></p>
        </div>
        <div>
            <p>자기소개</p>
        </div>
        <div>
            <p><textarea name="self-introduction"></textarea></p>
        </div>
        <div>
            <p>언어</p>
        </div>
        <div>
            <p>
            <select name="language">
                <option value="korean">한국어</option>
                <option value="english">English</option>
            </select>
            </p>
        </div>
        <div>
            <input type="submit" value="가입">
        </div>
    </body>
</html>
