{% extends "mainframe.html" %}

{% block arara_content %}
<div id="bbs_header">
    {{bbs_header}}
</div>
<form method="post">
    <div id="article_header">
	<br>subject
	<input type="text" name="art_subject" value="{{article_subject}}"></input>
	<select name="board">
	    {% for item in boardname %}
	    <option value="{{item.name}}">{{item.name}}</option>
	    {% endfor %}
	</select>
    </div>
    <br>
    <div id="writer_content">
	<textarea name="art_con">{{article_contentt}}
	내용을 입력하세요
	</textarea>
    </div>
    <div id="writer_attachment">
	place for attachments
    </div>
    <div id="writer_check">
	<input type="checkbox" name="option" value="ch_sh_se">
    </div>
    <div id="commands">
	<input type="submit" name="sub_wri" value="Write">
	<input type="button" name="bu_canc" value="Cancel">
	<input type="button" name="bu_list" value="&nbsp;List&nbsp;">
    </div>
</form>
{% endblock %}
