{% extends "base.html"  %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/media/style/sysop_index.css"></link>
{{block.super}}
{% endblock style %}

{% block content %}
<div id="add_board">
    보드 추가
    <form method="post" action="/sysop/add_board/">
        <span>보드 이름</span><input type="text" name="add_board_name" id="add_board_name"></span><br>
        <span>보드 설명</span><input type="text" name="add_board_description" id="add_board_description"></span><br>
        <input type="submit" value="추가">
    </form>
</div>
<div id="remove_board">
    보드 삭제
    <form method="post" action="/sysop/remove_board/">
        {% for board in board_list %}
        <input type="checkbox" name="{{board.board_name}}" value="{{board.board_name}}">
        <span>{{board.board_name}}</span>
        <span>{{board.board_description}}</span><br>
        {% endfor %}
        <input type="submit" value="삭제">
    </form>
</div>
{% endblock content %}
