{% extends "base.html"  %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/media/style/sysop_index.css"></link>
{{block.super}}
{% endblock style %}

{% block content %}
<div id="add_board">
    <h3>보드 추가</h3>
    <form method="post" action="/sysop/add_board/">
        <span>보드 이름</span><input type="text" name="add_board_name" id="add_board_name"><br>
        <span>보드 설명</span><input type="text" name="add_board_description" id="add_board_description"><br>
        <span>말머리 목록</span><input type="text" name="add_board_headings" id="add_board_headings"><br />
        말머리를 여러개 등록할 때에는 말머리를 쉼표로 구분합니다. (예 : 삽니다,팝니다)<br />
        <input type="submit" value="추가">
    </form>
</div>
<!-- TODO: division 이름을 remove_board 에서 modify_boards 로 바꾸자. 관련 CSS 수정 일체 필요할 듯. -->
<div id="remove_board">
    <h3>보드 삭제 / 숨기기 / 숨김 해제하기</h3>
    <form method="post" action="/sysop/modify_boards/">
        {% for board in board_list %}
        <input type="checkbox" name="{{board.board_name}}" value="{{board.board_name}}">
        <span>{{board.board_name}}</span>
        <span>{{board.board_description}}</span>
        <span>{% if board.hide %}숨김{% endif %}</span><br />
        {% endfor %}
        <input type="submit" name="remove"      value="삭제">
        <input type="submit" name="hide"        value="숨기기">
        <input type="submit" name="return_hide" value="숨김 해제">
    </form>
</div>

<div id="confirm_user">
    <h3>사용자 인증</h3>
    <form method="post" action="/sysop/confirm_user/">
        <span>사용자 아이디</span><input type="text" name="confirm_username" id="confirm_username">
        <input type="submit" value="인증">
    </form>
</div>

<div id="refresh_weather">
    <h3>날씨 정보 갱신</h3>
    <form method="post" action="/sysop/refresh_weather/">
        <input type="submit" value="갱신" />
    </form>
</div>
{% endblock content %}
