{% extends "base.html"  %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/media/style/sysop_index.css"></link>
{{block.super}}
{% endblock style %}

{% block script %}
<script src="/media/js/sysop.js"></script>
{% endblock script %}

{% block content %}
<div id="sysop_head">SYSOP</div>
<fieldset id="board_control_panel">
    <legend>보드 관리</legend>
    <h4>아래의 변경사항은 즉각적으로 반영되나, 좌측 메뉴는 화면 새로고침이 필요합니다.</h4>
    <table id="all_board_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Desc</th>
                <th>Managers</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            {% for manager_info in  bbs_managers_list %}
            <tr class="{% if manager_info.board.hide %}hidden_board{% else %}showing_board{% endif %}">
                <td>{{manager_info.board.board_name}}</td>
                <td>{{manager_info.board.board_description}}</td>
                <td>{% for manager in manager_info.managers %} <input type="checkbox" class="checkbox" id="selected_manager" />{{manager.username}} {% endfor %}</td>
                <td><a href="/board/{{board.board_name}}" target="_blank">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul id="board_actions">
        <li><a href="#">숨김</a></li>
        <li><a href="#">삭제</a></li>
        <li><a href="#">위로</a></li>
        <li><a href="#">아래로</a></li>
    </ul>
    <div id="edit_board">
        <label for="board_name">보드 이름</label>
        <input type="text" class="textfield" id="board_name" name="board_name" />
        <label for="board_description">보드 설명</label>
        <input type="text" class="textfield" id="board_description" name="board_description" /><br />
        <input type="button" class="button" id="apply_changes" value="적용" />
    </div>
    <div id="add_manager">
        <label for="manager">관리자 추가</label>
        <input type="text" class="textfield" id="manager" name="manager" />
        <input type="button" class="button" id="apply_add_manager" value="추가" />
    </div>
</fieldset>

<fieldset id="add_board">
    <legend>보드 추가</legend>
    <form method="post" action="/sysop/add_board/">
        <label for="add_board_name">보드 이름</label><input type="text" class="textfield" name="add_board_name" id="add_board_name"><br />
        <label for="add_board_description">보드 설명</label><input type="text" class="textfield" name="add_board_description" id="add_board_description"><br />
        <label for="add_board_headings">말머리 목록</label><input type="text" class="textfield" name="add_board_headings" id="add_board_headings"><br />
        <p>말머리를 여러개 등록할 때에는 말머리를 쉼표로 구분합니다. (예 : 삽니다,팝니다)</p>
        <input type="submit" class="button" value="추가">
    </form>
</fieldset>

<fieldset id="confirm_user">
    <legend>사용자 인증</legend>
    <form method="post" action="/sysop/confirm_user/">
        <label for="confirm_username">사용자 아이디</label><input type="text" class="textfield" name="confirm_username" id="confirm_username" />
        <input type="submit" class="button" value="인증" />
    </form>
</fieldset>

<fieldset id="refresh_weather">
    <legend>날씨 정보 갱신</legend>
    <form method="post" action="/sysop/refresh_weather/">
        <input type="submit" class="button" value="갱신" />
    </form>
</fieldset>

<fieldset id="add_banner">
    <legend>배너 추가</legend>
    <form method="post" action="/sysop/add_banner/">
        <label for="banner_path">배너 파일 위치 (src 속성에 설정)</label><input type="text" class="textfield" name="banner_path" id="banner_path" /><br />
        <label for="banner_due_date">배너 게시 기한 (ex. 2010.07.12.)</label><input type="text" class="textfield" name="banner_due_date" id="banner_due_date" /><br />
        <label for="banner_weight">배너 표시 빈도 (숫자 하나. ex.1)</label><input type="text" class="textfield" name="banner_weight" id="banner_weight" /><br />
        <input type="submit" class="button" value="추가" />
    </form>
</fieldset>

<fieldset id="banner_list">
    <legend>배너 선택</legend>
    <form method="post" action="/sysop/select_banner/">
        {% for banner in banner_list %}
        <input type="checkbox" class="banner_select" name="select_banner_list" value={{ banner.id }} {% if banner.valid %}checked="checked"{% endif %}>{{ banner.content }}<br />
        {% endfor %}
        사용자들에게 노출될 배너들의 체크박스를 선택합니다.
        <input type="submit" class="button" value="적용" />
    </form>
</fieldset>
{% endblock content %}
