#-*- coding: utf8 -*-
# MySQL Server Setting
MYSQL_ID = "ara"
MYSQL_PASSWD = "together"
MYSQL_DBHOST = "swingfixer.kaist.ac.kr"
MYSQL_DBNAME = "arara"

DB_CONNECTION_STRING = 'mysql://%s:%s@%s/%s?charset=utf8&use_unicode=1' % (MYSQL_ID, MYSQL_PASSWD, MYSQL_DBHOST, MYSQL_DBNAME)

# ARARA Server Setting
ARARA_SERVER_HOST = 'swingfixer.kaist.ac.kr'
ARARA_SERVER_BASE_PORT = 8000
SESSION_EXPIRE_TIME = 3610 # seconds
ARARA_POOL_DEBUG_MODE = False
#To use POOL DEBUG MODE, turn on the flag above. (see changeset 1247)

# Mail Server Setting
WARARA_SERVER_ADDRESS = 'swingfixer.kaist.ac.kr'
MAIL_HOST = 'localhost'
MAIL_SENDER = 'ara@ara.kaist.ac.kr'
MAIL_CONTENT = 'You have been successfully registered as the ARA member.<br />To use your account, you have to activate it.<br />Please click the link below on any web browser to activate your account.<br /><br />'
MAIL_TITLE = "[ARA] Please activate your account 아라 계정 활성화"

# SYSOP Initialization Setting
SYSOP_REG_DIC = {'username' :u'SYSOP',
                 'password' :u'SYSOP',
                 'nickname' :u'SYSOP',
                 'email'    :u'sysop@ara.kaist.ac.kr',
                 'signature':u'--\n아라 BBS 시삽 (SYStem OPerator',

                 'self_introduction':u'--\n아라 BBS 시삽 (SYStem OPerator',
                 'default_language':u'ko_KR'}

# K-Search Server Setting
KSEARCH_API_SERVER_ADDRESS = 'http://nan.sparcs.org:9000/api'
KSEARCH_API_KEY = '54ebf56de7684dba0d69bffc9702e1b4'

# Web Server FILEDIR Setting
FILE_DIR = '/home/ara/arara/files'
FILE_MAXIMUM_SIZE = 100*1024*1024
