#-*- coding: utf8 -*-
# ARARA Server Type in ['THRIFT', 'DIRECT']
SERVER_TYPE = 'THRIFT'

# ARARA Server Setting (Applied when using THRIFT Server Type)
ARARA_SERVER_HOST = '127.0.0.1'
ARARA_SERVER_BASE_PORT = 10000

# Mail Server Setting
WARARA_SERVER_ADDRESS = '127.0.0.1'

# Web Server FILEDIR Setting
FILE_DIR = '/home/ara/arara/var/files'
FILE_MAXIMUM_SIZE = 100*1024*1024

# ARAra forecast Service Setting
USE_WEATHER_FORECAST = False
WEATHER_ICON_PATH = '/media/image/weather/'

# ReadStatus Display
READ_STATUS_ENABLED = True

# Indicates whether KSearch is available
KSEARCH_ENABLED = False

# List of 3 boards which will be displayed on the top of the mobile page (default)
DEFAULT_MOBILE_BOARDS = [
    ('Garbages', 'garbages'),
    ('Love', 'Love'),
    ('Food', 'food'),
    # ( display name, URI )
]

# Ordered List of board name & icon which will be displayed on the boardlist page
BOARD_ICON_MAP = [
    ('garbages', 'garbages', 0, -4),
    ('Love', 'Love', -57, -4),
    ('food', 'food', -114, -4),
    ('QnA', 'qandA[Etc]', -171, -4),
    ('buy & sell', 'buySell[Etc]', -228, -4),
    ('wanted', 'Wanted', -285, -4),
    ('lost found', 'lostfound', 0, -61),
    ('Siggame', 'Siggame', -57, -61),
    ('infoworld', 'Infoworld', -114, -61),
    ('KAIST', 'KAIST', -171, -61),
    ('test', 'test', -228, -61),
    ('to sysop', 'ToSysop', -285, -61),
    # ( display name, URI, background-position-x, background-position-y )
]

BOARD_WITHOUT_ICON = [
    ('whitePaper', 'whitePaper'),
    ('welfare', 'welfare'),
    ('imgEffect', 'imgEffect'),
    ('dormUni', 'dormUni'),
    ('Times', 'Times'),
    ('Foreigner', 'Foreigner'),
    ('dormchg', 'dormchange'),
    ('discuss', 'discuss_kaist'),
    ('buy sell [C]', 'BuySell[Com]'),
    ('QnA [C]', 'QandA[Com]'),
    ('abroad', 'abroad'),
    ('research', 'research'),
    ('Lecture', 'Lecture'),
    ('moneytech', 'moneyTechs'),
    ('vehicle', 'vehicle'),
    ('Filmspecial', 'Filmspecial'),
    ('sportsEvent', 'sportsEvent'),
    ('bookshelf', 'bookshelf'),
    ('AniMania', 'AniMania'),
    ('MusicLand', 'MusicLand'),
    ('tripTour', 'tripTour'),
    ('Hangul', 'Hangul'),
    ('hobby', 'hobby'),
    ('game.star', 'Siggame.star'),
    ('game.dia2', 'Siggame.dia2'),
    ('game.war', 'Siggame.war'),
    ('game.Laby', 'Siggame.Laby'),
    # ( display name, URI )
]

# Django Frontend Setting (will be imported by warara/settings.py)

# Set DEBUG to either True or False.
# DEBUG = False
DEBUG = True

ADMINS = (
        #  When you disabled DEBUG feature, you must specify your information below
        # to keep track on DEBUG information.
        # ('Your Name', 'your_email@domain.com'),
        # ('ARA SYSOP', 'ara@ara.kaist.ac.kr'),
)

# If you don't want to set SESSION_FILE_PATH using default option, uncomment below.
# SET_SESSION_FILE_PATH = False


# If you somehow want to set memcached configuration, uncomment below
# CACHE_BACKEND = 'memcached://127.0.0.1:11211/'
# CACHE_MIDDLEWARE_SECONDS = 30  # (pipoket): Minimum caching time
