{% extends "board/base.html" %}
{% load arara_tags %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/board_list.js"> </script>
{% endblock script %}

{% block board_content %}
{% block article_content %}{% endblock article_content %}
{% load i18n %}
<table class="articleList" cellspacing="0">
    <thead>
        <tr>
            <th class="indicator"></th>
            <th class="articleid hidden"></th>
            <th class="author">작성자</th>
            <th class="smallCat">{% ifequal mode 'all' %}게시판{% else %}말머리{% endifequal %}</th>
            <th class="title">제목</th>
            <th class="recRead">추천/조회</th>
            <th class="date">글쓴날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for article in article_list %}
        <tr {% if article.deleted %} class = "deleted" {% endif %} rel="{{forloop.counter}}">
            <td class="indicator">
                {% ifequal article.read_status 'U' %}<span class="update">U</span>{% endifequal %}
                {% ifequal article.read_status 'N' %}<span class="new">N</span>{% endifequal %}
                {% ifequal article.read_status 'R' %}&nbsp;{% endifequal %}
            </td>
            <td class="articleid hidden" rel="{{ article.id }}">{{ article.id }}</td>
            <td class="author">
                <a href="#" class="nickname">{{article.author_nickname|truncatechars:"8"}}</a><span class="username hidden">{{article.author_username}}</span>
            </td>
            <td class="smallCat">
                {% ifequal mode 'all' %}
                <a href="/board/{{article.board_name}}">{{article.board_name}}</a>
                {% else %}
                {% if have_heading %}
                    {% ifequal method 'search' %}<a href="{{path}}&search_heading={{article.heading}}">{{article.heading}}</a>
                    {% else %}<a href="{{ base_url }}?heading={{article.heading}}">{{article.heading}}</a>
                    {% endifequal %}
                {% endif %}
                {% endifequal %}
            </td>
            <td class="title">
                {% if logged_in %}
                    <a href="{{ base_url }}{{article.id}}/?page_no={{page_no}}">
                        {% if article.blacklisted %}
                            {% trans "BLACKLISTED" %}
                        {% else %}
                            {{ article.title }}
                            {% if article.reply_count %}
                            <span class="repCount">[{{article.reply_count}}]</span>
                            {% endif %}
                        {% endif %}
                    </a>
                {% else %}
                    {{ article.title }}
                    {% if article.reply_count %}
                    <span class="repCount">[{{article.reply_count}}]</span>
                    {% endif %}
                {% endif %}
            </td>
            <td class="recRead"><span class="rec">+{{article.positive_vote}} -{{article.negative_vote}}</span> / {{article.hit}}</td>
            <td class="date">{{article.date|date:"Y/m/d"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="paging">
    {% ifequal method 'search' %}
        {% if first_page.no %}<a href="{{ path }}&page_no={{first_page.no}}">{{first_page.mark}}</a> {% endif %}
        {% if prev_page_group.no %}<a href="{{ path }}&page_no={{prev_page_group.no}}">{{prev_page_group.mark}}</a> {% endif %}
        {% for page in page_list %}
        <a href="{{ path }}&page_no={{page}}"{%ifequal page page_no%} class="selected" id="now_page" {%endifequal%}>{{page}}</a>
        {% endfor %}
        {% if next_page_group.no %}<a href="{{ path }}&page_no={{next_page_group.no}}">{{next_page_group.mark}}</a> {% endif %}
        {% if last_page.no %}<a href="{{ path }}&page_no={{last_page.no}}">{{last_page.mark}}</a> {% endif %}
    {% else %}
        {% if first_page.no %}<a href="{{ base_url }}?page_no={{first_page.no}}">{{first_page.mark}}</a> {% endif %}
        {% if prev_page_group.no %}<a href="{{ base_url }}?page_no={{prev_page_group.no}}">{{prev_page_group.mark}}</a> {% endif %}
        {% for page in page_list %}
        <a href="{{ base_url }}?page_no={{page}}"{%ifequal page page_no%} class="selected" id="now_page" {%endifequal%}>{{page}}</a>
        {% endfor %}
        {% if next_page_group.no %}<a href="{{ base_url }}?page_no={{next_page_group.no}}">{{next_page_group.mark}}</a> {% endif %}
        {% if last_page.no %}<a href="{{ base_url }}?page_no={{last_page.no}}">{{last_page.mark}}</a> {% endif %}
    {% endifequal %}
</p>
<div class="listBottom">
    <form id="searchForm" name="searchPost" method="GET" action="{{ base_url }}search">
        <div class="searchBox">
            <p class="selectObject">
            {% for smi in search_method_list %}<a href="#searchForm" rel="{{smi.val}}" {% if smi.selected %}class="selected"{% endif %}>{{smi.text}}</a><input type="hidden" value="{{smi.val}}" {% if smi.selected %}name="{{smi.val}}"{% endif %} />{% endfor %}
            </p>
            <p class="searchInput">
                <input type="text" name="search_word" id="searchText" value="{{ search_word }}" />
                <input type="image" id="searchButton" class="searchButton" src="/media/image/stealBlue/i_searchButton.png" />
            </p>
        </div>
    </form>
    {% ifequal mode 'board' %}
    <form id="writeForm" name="writePostForm" method="GET" action="{{ base_url }}write/" {% if board_dict.read_only %}class="hidden"{% endif %} style="display:inline-block;">
        <input type="submit" id="writePost" class="darkButton" value="글쓰기" />
    </form>
    {% endifequal %}
</div>
<div class="cb"></div>

{% endblock %}
