{% extends "board/board_base.html" %}

{% block board_content %}
<div id="article_table">
    <table>
        <tr>
            <th>
                no
            </th>
            <th>
                author
            </th>
            <th>
                title
            </th>
            <th>
                time
            </th>
            <th>
                hit
            </th>
            <th>
                vote
            </th>
        </tr>
        {% for article in article_list %}
        <tr>
            <th>
                {{article.id}}
            </th>
            <th>
                <span class="username">{{article.author_username}}</span>
            </th>
            <th>
                <a href="/board/{{board_name}}/{{article.id}}">{{article.title}}</a>
            </th>
            <th>
                {{article.date}}
            </th>
            <th>
                {{article.hit}}
            </th>
            <th>
                {{article.vote}}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
<div id="board_buttons">
    <a href="/board/{{board_name}}/write/">write</a>
</div>
{% endblock board_content %}
