{% extends "board/board_base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/media/style/board_read.css"></link>
{% endblock style %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/board_read.js"></script>
{% endblock script %}

{% block board_content %}

{% for article in article_list %}
<div class="article article_depth_{{article.depth}}">
    <h1><a href="#">{{article.title}}</a></h1>
    <div class="article_content{%ifequal article.read_status "R" %} previously_read{% endifequal %}">
        <span class="username">{{article.author_username}}</span>
        <span class="article_date">{{article.date}}</span>
        <span class="vote">vote:{{article.vote}} </span>
        {% ifequal article.id article.root_id %}
        <span class="hit"> hit:{{article.hit}} </span>
        {% endifequal %}
        <div class="article_text">
            {% if not article.blacklisted %}
            {{article.content|safe}}
            {% else %}
            BLACKLISTED
            {% endif %}
        </div>
        {% if not article.deleted %}
        <a class="article_reply_show" href="#">reply</a>
        {% if article.flag_modify %}
        <a class="article_modify" href="/board/{{board_name}}/write?article_id={{article.id}}">modify</a>
        <a class="article_delete" href="/board/{{board_name}}/{{article.root_id}}/{{article.id}}/delete/">delete</a>
        {% endif %}
        <a class="article_vote" href="/board/{{board_name}}/{{article.root_id}}/{{article.id}}/vote">vote</a>
        {% endif %}
        <div class="article_reply">
            <form class="article_reply_form" action="/board/{{board_name}}/{{article.id}}/reply/" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="root_id" value="{{article.root_id}}" />
                <ul>
                    <li><input type="text" name="title" value="{{article.title}}" /></li>
                    <li><textarea name="content"></textarea></li>
                    <li><input type="submit" name="submit" value="write" /></li>
                    <div id="article_write_file" class="float_left">
                        <p>
                        <caption>file 1 : </caption>
                        <input type="file" name="file1"></input>
                        <input type="button" name="file_input_add" value="+"></input>
                        </p>
                    </div>
                </ul>
                <input type="hidden" value="{{article_no}}" name="article_no"></input>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<div id="article_nav_buttons">
    <a id="list_link" href="/board/{{board_name}}">list</a>
    <a id="write_link" href="/board/{{board_name}}/write">write</a>
</div>

{% endblock board_content %}
