{% extends "board/base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/media/style/board_read.css"></link>
{% endblock style %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/board_read.js"></script>
<link rel="stylesheet" type="text/css" href="/media/style/board_list.css"></link>
{% endblock script %}

{% block board_content %}

{% for article in article_read_list %}
<div class="article article_depth_{{article.depth}}">
    <h1><a href="#">{{article.title}}</a></h1>
    <div class="article_content{%ifequal article.read_status "R" %} previously_read{% endifequal %}">
        <span class="username">{{article.author_username}}</span>
        <span class="article_date">{{article.date}}</span>
        <span class="vote">vote:{{article.vote}} </span>
        {% ifequal article.id article.root_id %}
        <span class="hit"> hit:{{article.hit}} </span>
        {% endifequal %}
        <div class="article_text">
            {% if not article.blacklisted %}
            {{article.content|safe}}
            {% else %}
            BLACKLISTED
            {% endif %}
        </div>
        <div class="article_file">
            {% for file in article.attach %}
            <a href="/board/{{board_name}}/{{article.root_id}}/{{article.id}}/file/{{file.order}}" target="_blank">{{file.filename}}</a>
            {% endfor %}
        </div>
        {% if not article.deleted %}
        <a class="article_reply_show" href="#">reply</a>
        {% if article.flag_modify %}
        <a class="article_modify" href="/board/{{board_name}}/write?article_id={{article.id}}">modify</a>
        <a class="article_delete" href="/board/{{board_name}}/{{article.root_id}}/{{article.id}}/delete/">delete</a>
        {% endif %}
        <a class="article_vote" href="/board/{{board_name}}/{{article.root_id}}/{{article.id}}/vote">vote</a>
        {% endif %}
        <div class="article_reply">
            <form class="article_reply_form" action="/board/{{board_name}}/{{article.id}}/reply/" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="root_id" value="{{article.root_id}}" />
                <ul>
                    <li><input type="text" name="title" value="{{article.title}}" /></li>
                    <li><textarea name="content"></textarea></li>
                    <li><input type="submit" name="submit" value="write" /></li>
                    <div id="article_write_file" class="">
                        <p>
                        <caption>file 1 : </caption>
                        <input type="file" name="file1"></input>
                        <input type="button" name="file_input_add" value="+"></input>
                        </p>
                    </div>
                </ul>
                <input type="hidden" value="{{article_no}}" name="article_no"></input>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<div id="article_nav_buttons">
    <a id="list_link" href="/board/{{board_name}}">list</a>
    <a id="write_link" href="/board/{{board_name}}/write">write</a>
</div>
<div id="article_table">
    <table cellspacing="0" id="board_table" summary="{{board_description}}">
        <colgroup>
            <col id="board_cursor_col" class="cursor_col"/>
            <col id="board_id_col" class="id_col"/>
            <col id="board_title_col" class="title_col"/>
            <col id="board_author_col" class="author_col"/>
            <col id="board_date_col" class="date_col"/>
        </colgroup>
        <thead>
            <tr>
                <th class="column cursor_col" scope="col"></th>
                <th class="column id_col" scope="col">id</th>
                <th class="column title_col" scope="col">title</th>
                <th class="column author_col" scope="col">author</th>
                <th class="column date_col" scope="col">date</th>
                <th class="column vote_col" scope="col">vote</th>
                <th class="column hit_col" scope="col">hit</th>
            </tr>
        </thead>
        <tbody>
            {% for article in article_list %}
            <tr>
		<td class="column cursor_col">{{article.read_status}}</td>
        <td class="column id_col">{% ifequal article.type 'normal' %}{{article.id}}{%else%}wb{%endifequal%}</td>
                <td class="column title_col">{% if logged_in %}<a href="/board/{{board_name}}/{{article.id}}">{{article.title}}</a>{% else %}{{article.title}}{% endif %}</td>
                <td class="column author_col"><span class="username">{{article.author_username}}</span></td>
                <td class="column date_col">{{article.date|date:"Y/m/d"}}</td>
                <td class="column vote_col">{{article.vote}}</td>
                <td class="column last_column hit_col">{{article.hit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="board_pages" class="width_full">
    {% ifequal method 'search' %}
    <a href="{{path}}&page_no={{first_page.no}}">{{first_page.mark}}</a>
    <a href="{{path}}&page_no={{prev_page_group_no}}">{{prev_page_group.mark}}</a>
    {% for page in page_list %}
    <a href="{{path}}&page_no={{page}}">{{page}}</a>
    {% endfor %}
    <a href="{{path}}&page_no={{next_page_group.no}}">{{next_page_group.mark}}</a>
    <a href="{{path}}&page_no={{last_page.no}}">{{last_page.mark}}</a>
    {% else %}
    <a href="/board/{{board_name}}?page_no={{first_page.no}}">{{first_page.mark}}</a>
    <a href="/board/{{board_name}}?page_no={{prev_page_group_no}}">{{prev_page_group.mark}}</a>
    {% for page in page_list %}
    <a href="/board/{{board_name}}?page_no={{page}}">{{page}}</a>
    {% endfor %}
    <a href="/board/{{board_name}}?page_no={{next_page_group.no}}">{{next_page_group.mark}}</a>
    <a href="/board/{{board_name}}?page_no={{last_page.no}}">{{last_page.mark}}</a>
    {% endifequal %}
</div>
<div id="board_buttons" class="width_full">
    <div id="board_write" class="small_btn {% if not logged_in %}hidden{% endif %}">
        <a href="/board/{{board_name}}/write/">write</a>
    </div>
    <form name="board_search" method="GET" action="/board/{{board_name}}/search">
        <select name="search_method" class="small_form">
            {% for smi in search_method_list %}
            <option value="{{smi.val}}"{%ifequal search_method smi.val%} selected="selected"{%endifequal%}>{{smi.text}}</option>
            {% endfor %}
        </select>
        <input type="text" name="search_word" class="small_form"></input>
        <input class="small_btn" type="submit" value="search" id="board_search_submit"></input>
    </form>
</div>

{% endblock board_content %}
