<ul class="replyBox {% if article.deleted %} deleted {% endif %} " >
    <li>
        <div class="replyTitle">
            <h4><a href="#" id="{{article.id}}">{{article.title}}</a></h4>
            <p class="author"><a href="#" class="nickname">{{article.author_nickname}}</a> <span class="eng">{{article.author_username}}</span></p>
            <p class="recCount">추천 <span class="eng">+<span id="positive_vote_num_{{article.id}}">{{article.positive_vote}}</span> / -<span id="negative_vote_num_{{article.id}}">{{article.negative_vote}}</span></span></p>
            <p class="date"><a href="#{{article.id}}">{% filter lower %}{{article.date|date:"Y/m/d g:i A"}}{% endfilter %}</a></p>
        </div>
        <div class="replyContents">
            {% if article.attach %}
            <table class="attached" cellspacing="0">
                <tbody>
                    {% for file in article.attach %}
                    <tr>
                        <th>첨부{{forloop.counter}}</th>
                        <td><a href="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" target="_blank">{{file.filename}}</a>
                            {% if file.file_id in article.image %}
                            <div>
                                <a href="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" target="_blank" class="lightbox" title="{{article.title}}"><img src="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" alt="{{file.file_id}}" /></a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <div class="replyArticle">
                {{article.content|safe|linebreaksbr}}
            </div>

            {% if not article.deleted %}
            <p class="articleButtons">
                <input type="submit" class="smallButton reply" value="답글달기" />
                <input type="submit" class="smallButton rec" value="추천하기" />
                <input type="submit" class="smallButton dis" value="반대하기" />
                {% if article.flag_modify %}
                <input type="submit" class="smallLightButton modify" value="수정하기" />
                <input type="submit" class="smallLightButton delete" value="삭제하기" />
                {% endif %}
                <input type="hidden" id="backref" value="{{ base_url }}?page_no={{page_no}}" />
                <input type="hidden" id="board_name" value="{{article.board_name}}" />
                <input type="hidden" id="root_id" value="{{article.root_id}}" />
                <input type="hidden" id="article_id" value="{{article.id}}" />
            </p>
            {% endif %}
            {% autoescape off %}
            {{ rendered_reply }}
            {% endautoescape %}
        </div>
    </li>
</ul>
