{% extends "board/list.html" %}

{% block style %}
{{block.super}}
<link type="text/css" href="/media/thirdparty/css/smoothness/jquery-ui-1.7.custom.css" rel="Stylesheet" />
<link type="text/css" href="/media/thirdparty/lightbox/css/jquery.lightbox-0.5.css" rel="Stylesheet" />
{% endblock style %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/thirdparty/jquery-ui-1.7.custom.min.js"></script>
<script type="text/javascript" src="/media/thirdparty/autoresize.jquery.min.js"></script>
<script type="text/javascript" src="/media/thirdparty/lightbox/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript" src="/media/js/board_read.js"></script>
{% endblock script %}

{% block article_content %}
{% load i18n %}

{% if is_sysop_or_manager %}
<fieldset id="move_article">
    <form action="/board/move_article/" method="post">
        <select name="board_to_move" id="board_to_move">
            {% for board in board_list %}
            <option value="{{board.board_name}}">{{board.board_name}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="board_name" value="{{root_article.board_name}}" />
        <input type="hidden" name="article_no" value="{{root_article.id}}" />
        <input type="submit" id="apply_move_article" value="게시물 이동" />
    </form>
</fieldset>
{% endif %}

<div class="articleView">
    <div class="articleTitle {% if article.deleted or article.blacklisted %} deleted {% endif %}">
        <h3><a href="#" id="{{article.id}}">
                {% if not article.deleted and article.blacklisted %}
                    {% trans "-- Blacklisted --" %}
                {% else %}
                    {{article.title}}
                {% endif %}
        </a></h3>
        <p class="smallCat">
        {% ifequal mode 'all' %}
            <a href="/board/{{article.board_name}}/">{{article.board_name}}</a>
        {% else %}
            {% if article.heading %}
            <a href="{{ base_url }}?heading={{article.heading}}">{{article.heading}}</a>
            {% endif %}
        {% endifequal %}
        </p>
        <div class="articleInfo" rel="{{article.id}}">
            <p class="author"><a {% if not article.anonymous %}href="#" class="nickname"{% endif %}>{{article.author_nickname}}</a> <span class="eng">{{article.author_username}}</span></p>
            <p class="readCount">조회 <span class="eng">{{article.hit}}</span></p>
            <p class="recCount">추천 <span class="eng">+<span id="positive_vote_num_{{article.id}}">{{article.positive_vote}}</span> / -<span id="negative_vote_num_{{article.id}}">{{article.negative_vote}}</span></span></p>
            <p class="date"><a href="#{{article.id}}">{% filter lower %}{{article.date|date:"Y/m/d g:i A"}}{% endfilter %}</a></p>
            <div class="cb"></div>
        </div>
    </div>
    <div class="articleContents">
        <table class="attached" cellspacing="0">
            {% if not article.blacklisted %}
            <tbody>
                {% for file in article.attach %}
                <tr>
                    <th>첨부{{forloop.counter}}</th>
                    <td><a href="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" target="_blank">{{file.filename}}</a>
                        {% if file.file_id in article.image %}
                        <div>
                            <a href="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" target="_blank" class="lightbox" title="{{article.title}}"><img src="{{ base_url }}{{article.root_id}}/{{article.id}}/file/{{file.file_id}}" alt="{{file.file_id}}" /></a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        <div class="article {% if article.deleted or article.blacklisted %} deleted {% endif %}">
            {% if not article.deleted and article.blacklisted %}
                {% trans "-- Blacklisted --" %}
            {% else %}
                {{article.content|safe|linebreaksbr}}
            {% endif %}
        </div>

        {% if not article.deleted and not article.blacklisted %}
        <p class="articleButtons">
            <input type="submit" class="smallButton reply" value="답글달기" />
            <input type="submit" class="smallButton rec" value="추천하기" />
            <input type="submit" class="smallButton dis" value="반대하기" />
            {% ifequal mode 'scrapbook' %}<input type="submit" class="smallButton unscrap" value="스크랩취소" />
            {% else %} <input type="submit" class="smallButton scrap" value="스크랩하기" />
            {% endifequal %}
            {% if article.flag_modify %}
            <input type="submit" class="smallLightButton modify" value="수정하기" />
            <input type="submit" class="smallLightButton delete" value="삭제하기" />
            {% endif %}
            <input type="hidden" id="backref" value="{{ base_url }}?page_no={{page_no}}" />
            <input type="hidden" id="board_name" value="{{article.board_name}}" />
            <input type="hidden" id="root_id" value="{{article.root_id}}" />
            <input type="hidden" id="article_id" value="{{article.id}}" />
        </p>
        {% endif %}
        <div class="addReply">
            <form name="write_reply_form" method="post" action="{{ base_url }}{{article.id}}/reply/" enctype="multipart/form-data">
                <input type="hidden" name="root_id" value="{{article.id}}" />
                <input type="hidden" name="article_no" value="{{article.id}}" />
                <table cellspacing="0">
                    <tbody>
                        <tr class="arTitle">
                            <th><label for="write_reply_title">제목</label></th>
                            <td><input type="text" name="title" id="write_reply_title" value="{{article.title}}" /></td>
                        </tr>
                        <tr class="arContents">
                            <th><label for="write_reply_content">내용</label></th>
                            <td><textarea name="content" id="write_reply_content"></textarea></td>
                        </tr>
                        <tr class="arSignature">
                            <th><label for="write_reply_signature">시그너쳐</label></th>
                            <td>
                                <input type="checkbox" name="signature_check" id="write_reply_enableSig" class="enableSig" {% if not modify and not article.anonymous %}checked{% endif %} /><label for="write_reply_enableSig">시그너쳐를 사용합니다.</label><br />
                                <textarea name="signature" id="write_reply_signature" class="signatureBox">{{ user_signature }}</textarea>
                            </td>
                        </tr>

                        <tr class="arAttach">
                            <th><label for="write_reply_attach_1">첨부</label></th>
                            <td><input name="write_reply_attach_1" id="write_reply_attach_1" type="file" /> <a id="attach_more" href="#">더 첨부하기</a></td>
                        </tr>
                        <tr class="arSubmit">
                            <th></th>
                            <td><input type="submit" accesskey="s" id="write_reply" class="darkButtonReply" value="확인" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {% autoescape off %}
        {{ rendered_reply }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
