{% extends "board/base.html" %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="/media/js/board_write.js"></script>
{% endblock script %}

{% block board_content %}
{% load i18n %}
<form name="writePost" method="post" action="/board/{{board_name}}/write/" enctype="multipart/form-data" id="writePost">
    <table class="writeTable" cellspacing="0">
        <tbody>
            <tr class="writeTitle">
                <th>글 제목</th>
                <td>
                    {% if have_heading %}
                    <div class="dropSelector">
                        <div class="dropBox">
                            <a id="selected" href="#">말머리</a>
                            <ul>
                                <li><a href="#">말머리 없음</a></li>
                                {% for heading in board_heading_list %}
                                <li><a href="#">{{ heading }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <select name="heading" class="hidden">
                        <option value="" {% if default_heading and default_heading == '' %} selected="selected"{% endif %}>말머리 없음</option>
                        {% for heading in board_heading_list %}
                        <option value="{{ heading }}" {% if default_heading and default_heading == heading %} selected="selected"{% endif %}>{{ heading }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <input type="text" name="title" id="writePost_title" value="{{default_title}}" />
                </td>
            </tr>
            <tr class="writeContents">
                <td colspan="2"><textarea name="text" id="writePost_contents">{% if default_text %}{{ default_text }}{% endif %}</textarea></td>
            </tr>
            <tr class="writeSignature">
                <th><label for="writePost_signature">시그너쳐</label></th>
                <td>
                    <input type="checkbox" name="signature_check" id="writePost_enableSig" class="enableSig" {% if not modify %}checked{% endif %} /><label for="writePost_enableSig">시그너쳐를 사용합니다.</label><br />
                    <textarea name="signature" class="signatureBox">{{ user_signature }}</textarea>
                </td>
            </tr>
            {% if article.attach %}
            {% for file in article.attach %}
            <tr class="deleteAttach">
                <th>첨부</th>
                <td><a name="file_name" rel="{{file.file_id}}" href="/board/{{board_name}}/0/{{article.id}}/file/{{file_id}}" target="_blank">{{file.filename}}</a><a class="deleteAttachLink" href="#">삭제</a><input type="hidden" name="file_id" value="{{file.file_id}}" /></td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="writeAttach">
                <th><label for="writePost_attach_1">첨부</label></th>
                <td><input name="writePost_attach_1" id="writePost_attach_1" type="file" /> <a id="attach_more" href="#">더 첨부하기</a></td>
            </tr>
        </tbody>
    </table>
    <p class="writeBottom"><input type="submit" accesskey="s" id="writePostSubmit" class="darkButton" value="확인" /><input type="button" id="writePostCancel" class="lightButton" value="목록으로" /></p>
    
    <input type="hidden" value="{{t_write}}" name="write_type" />
    {% if modify %} <input type="hidden" value="{{root_id}}" name="root_id" /> {% endif %}
    <input type="hidden" value="{{article_no}}" name="article_no" />
    <input type="hidden" value="{{board_name}}" name="board_name" />
    <input type="hidden" value="{{board_type}}" name="board_type" />
    <input type="hidden" value="" name="delete_file" />
</form>
{% endblock %}
