.account_content fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid;
}

.account_content legend {
    font-weight: bold;
}

.account_content label {
    float: left;
    width: 10em;
    display: block;
}


.account_content input.button, input.submit {
    width: auto;
}

.account_content textarea {
    width: 300px;
    height: 100px;
}

.account_content input:focus, textarea:focus {
    background: #BBBDCC;
}

.required {
    font-size: 0.75em;
    color: #760000;
}

.account_content p {
    position: relative;
}

.feedback {
    position: absolute;
    margin-left: 11em;
    left: 200px;
    font-weight: bold;
    color: red;
    padding-left: 18px;
}

* html .feedback {
    width: 10em;
}

/* Duplication Check */
#id_check_popup {
    display: none;
}

#nickname_check_popup {
    display: none;
}
