/* Common */
#account_content {
    float: left;
    margin: 0.8em 0 0 0.8em;
    _display: inline;
    _width: 98%;
}

#account_information_content {
    width: 67.5em;
    margin: 0 0 0 1.3em;
    float: left;
    display: inline-block;
    _width: 98%;
}

#confirm_key_information {
    width: 67.5em;
    margin: 0 0 0 1.3em;
    float: left;
    display: inline-block;
    _width: 98%;
}

.account_head_block {
    width: 66.15em;
    background: url(/media/image/head_background.png) repeat top left;
    float: left;
    margin-bottom: 1.3em; 
}

.account_head {
    font-size: 1.3em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    margin: 0;
    padding: 0.7em 0 0.7em 0.7em;
    float: left;
}

.register_process {
    float: right;
    font-size: 0.9em;
    margin: 0.8em 0.8em 0 0;
    padding: 0.5em;
    background: url(/media/image/black_transparent.png) repeat;
    color: white;
    vertical-align: center;
}

.register_process span {
    color: white;
}

#contempo_process {
    font-weight: bold;
}

/* Register Agreement */
#agreement_sub_title {
    min-height: 1.6em; 
    background: #E0E0E0 url(/media/image/base/square.png) no-repeat top left;
    border-top: 1px #555 solid;
    border-bottom: 5px #DADADA solid;
    padding: 0.5em 0 0 0.8em;
    clear: left;
}

#agreement_subtitle_bottom {
    width: 64.75em;
    margin: 0 0 0 1.4em;
    border-bottom: 1px #CCCCCC solid;
}

#agreement_content {
    margin: 1em 3.3em 0 1.8em;
}

#agreement {
    width: 100%;
    height: 23em;
}

#register_agree_buttons {
    position: relative;
    top: 2em;
    width: 100%
    padding: 0.3em 0;
    vertical-align: center;
}

#register_agree {
    margin: 0 0 0 40%
}

#register_agree input {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    padding: 0 1%;
    vertical-align: top;
}

#register_disagree {
    position: relative;
    top: 0.55em;
}

#register_disagree input {
    background: url('/media/image/small_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 1.9em;
    vertical-align: top;
}

/* Account Register and modify*/
#account_user_content {
    float: left;
    width: 100%;
}

.acc_subtitle {
    width: 64.75em;
    border-bottom: 1px #CCCCCC solid;
    clear: both;
}

.acc_subtitle_name {
    min-height: 1.6em; 
    background: #E0E0E0 url(/media/image/base/square.png) no-repeat top left;
    border-top: 1px #555 solid;
    border-bottom: 5px #DADADA solid;
    padding: 0.5em 0 0 0.8em;
    clear: left;
}

#account_user_content label {
    width: 10em;
    display: block;
    background: url(/media/image/base/square_small.png) no-repeat top left;
    border-bottom: 1px #CCCCCC solid;
    padding: 0.5em 0 0 0.7em; 
    margin: 0.7em 0 0 0;
    float: left;
    clear: left;
}

#account_user_content input {
    float: left;
    margin: 0.66em 0 0.3em 0.5em;
}

#account_user_content textarea {
    width: 43em;
    height: 5em;
    float: left;
    margin: 0.66em 0 0 0.5em;
}

#account_user_content select {
    float: left;
    margin: 0.66em 0 0 0.5em;
}

#account_user_content input:focus, textarea:focus {
    background: #BBBDCC;
}

.required {
    font-size: 0.75em;
    color: #760000;
    clear: left;
    float: left;
    margin-bottom: 1.7em;
}

.feedback {
    position: absolute;
    margin-left: 11em;
    left: 13em;
    font-weight: bold;
    color: red;
    padding-left: 18px;
}

#register_buttons .feedback { 
    position: absolute;
    margin: 0.6em 0 0 11em;
    left: 29em;
    font-weight: bold;
    color: red;
    padding-left: 18px;
}

* html .feedback {
    width: 10em;
}

#register_buttons {
    width: 100%
    padding: 0.3em 0;
    vertical-align: center;
    clear: left;
    margin: 0 0 2em 0;
}

#register_submit {
    margin: 0 0 0 40%
}

#register_submit input {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    padding: 0 1%;
    vertical-align: top;
}

#register_cancel {
    position: relative;
}

#register_cancel input {
    background: url('/media/image/small_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    padding: 0 1%;
    vertical-align: top;
}

#confirm_buttons {
    width: 100%
    padding: 0.3em 0;
    vertical-align: center;
    clear: left;
    margin: 0 0 2em 0;
}

#confirm_submit {
    margin: 0 0 0 40%
}

#confirm_submit input {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    padding: 0 1%;
    vertical-align: top;
}

#confirm_cancel {
    position: relative;
}

#confirm_cancel input {
    background: url('/media/image/small_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3.0em;
    vertical-align: top;
}
#confirm_passive_buttons {
    width: 100%
    padding: 0.3em 0;
    vertical-align: center;
    clear: left;
    margin: 0 0 2em 0;
}

#confirm_passive_submit {
    margin: 0 0 0 40%
}

#confirm_passive_submit input {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    padding: 0 1%;
    vertical-align: top;
}

#confirm_passive_cancel {
    position: relative;
}

#confirm_passive_cancel input {
    background: url('/media/image/small_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3.0em;
    vertical-align: top;
}
/* Account Common */
.account_administer {
    float: right;
    margin: 0.8em 0.8em 0 0;
    padding: 0.5em;
    font-size: 0.9em;
    background: url(/media/image/black_transparent.png) repeat;
    color: white;
    vertical-align: center;
}

.account_administer a {
    color: white;
}

#contempo_acc_admin {
    font-weight: bold;
}

/* My Account */
.my_acc_info_name {
    width: 10em;
    display: block;
    background: url(/media/image/base/square_small.png) no-repeat top left;
    border-bottom: 1px #CCCCCC solid;
    padding: 0.5em 0 0 0.7em; 
    margin: 0.7em 0 0 0;
    float: left;
    clear: left;
}

.my_acc_info_content {
    float: left;
    margin: 1.13em 0 0 0.3em;
}

#myaccount {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 1.3em;
}

#mysetting {
    width: 100%;
    float: left;
    clear: both;
}

/* Account modify */
#myaccount_modify {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 1.3em;
}

#mysetting_modify {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 1.3em;
}

/* Account remove */
#acc_rm_submit {
    width: 65.4em;
    text-align: center;
    background-color: #EAEAEA;
    margin: 0 0 0 1.4em;
    float: left;
    clear: left;
    _display: inline;
    _width: 64em;
}

#acc_rm_remind {
    margin: 3em 0 2em 0;
}

#acc_rm_remind div {
    margin-bottom: 1em;
}

#account_rm_buttons {
    padding: 0.3em 0;
    vertical-align: center;
    clear: left;
    margin: 0 0 2em 0;
}

#account_rm_buttons input {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #DADADA;
    height: 3em;
    vertical-align: top;
}

#acc_rm_nick {
    color : #666666;
    font-weight: bold;
}

#acc_rm_user {
    font-family: verdana;
}

/* focus top menu*/
.account_head_block .row_highlight {
	color: #9f4
}


#myaccount_modify_content {
    _display: inline;
    _width: 98%;
}
