/* Base page layout */

body {
    margin: 0;
    padding: 0;
    font-size: 75%;
    background-color: #bbb;
}

a {
	text-decoration: none;
}

#wrapper {
    width: 85em;
    max-width: 100%;
    min-width: 61.25em;
    margin: 0 auto;
    background-color: #fff;
}

#body_wrapper, #menu_wrapper, #content_wrapper {
    min-height: 48em;
}

#body_wrapper {
    float: left;
    width: 100%;
    background-color: #f0f0f0;
}

#header_wrapper {
    width: 100%;
    float: left;
    background-color: #999;
}

#menu_wrapper {
    float: left;
    width: 14%;
    max-width: 14%;
}

#content_wrapper {
    position: relative;
    float: right;
    width: 86%;
    max-width: 86%;
    background-color: white;
}

#footer_wrapper {
    clear: both;
    background-color: #eee;
    padding: 1.5em;
}

#top_header {
    float: left;
    width: 100%;
    background-color: #eaeaea;
}

#top_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#top_header li {
    float: left;
    margin: 0.3em 0 0 0.45em;
    vertical-align: middle;
    list-style-type: none;
}

#header {
    float:left;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

#bottom_header {
	position: relative;
    float: left;
    width: 100%;
    height: 3.315em;
    background: url('/media/image/base/subtitle/subtitle_bg.png');
}

#subtitle_wrapper {
    float:left;
    width: 14%;
}

#subtitle_logo {
    float:left;
    width: 5.2em;
    height: 1.3em;
    background: url('/media/image/base/subtitle/subtitle.png') no-repeat;
    margin: 1.06em 1.25em 0.56em 1.7em;
}

#subtitle_folding {
	position: absolute;
	bottom: -3%;
	right: 100%;
    width: 0.65em;
    height: 0.65em;
    background: url('/media/image/base/subtitle/subtitle_folding.png') no-repeat right bottom;
}

#subtitle_round {
    float:left;
    width: 0.5em;
    height: 0.5em;
    background: url('/media/image/base/subtitle/subtitle_round.png') no-repeat left top;
}

#bbstitle_wrapper {
    float:left;
    height:100%;
	width: 50%;
}

#bbsname {
    font-size: 150%;
    font-weight: bold;
    color: #333333;
}

#bbstitle_dingbet {
    float:left;
	display: inline;
    width: 1.31em;
    height: 1.1em;
    margin: 0.78em 0.68em 0 0.8em;
    background: url('/media/image/base/subtitle/subtitle_maintitle.png') no-repeat left;
}

#bbstitle {
    float:left;
    width: 90%;
    height: 100%;
	position: relative;
	top: 10%;
}

#bbstitle span{
	margin-right: 1em;
}

#bbstitle span.board_description {
}

#menu {
    padding: 1.3em;
}

#content {
	position: relative;
    padding: 1.68em 0em;
	padding-left: 2%;
	width: 98%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#menu li {
    margin: 0 0 0.35em 0;
    font-family: Verdana;
    list-style-type: none;
}

#header {
	background-color: white;
}

#header h1 {
    float: left;
    font-size: 3em;
    margin: 0em 0%;
    padding: 0.8% 4%;
    background: url('/media/image/base/header/raw_ara_w_main_header_webara_logo.png') no-repeat 20% 50%;
}

#header h1 a {
    text-decoration: none;
    color: black;
}
#header h1 a img {
    border: 0;
}

/* IE hack */
* {
    color:#666666;
    font-family: Verdana, 굴림
}

body {
    text-align: center;
}

#wrapper {
    text-align: left;
}

/* top menu style */
#top_menu_wrapper{
	position: relative;
    float:right;
    width:85.3%;
    height: 2.77em;
   	margin-top: 0.52em;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}

#top_menu_wrapper span, #top_menu_wrapper a {
    text-decoration: none;
    color:#828282;
}

#top_menu {
	position: absolute;
	top: 0%;
	right: 0%;
    height: 100%;
    font-size: 120%;
    width: 48%;
    text-align: right;
    margin-top: 0.5em;
	padding-right: 1%;
}

#top_menu a {
    margin: 0 0 0 3%;
}

#top_menu .small_btn {
	height: 1.6em;
}

#top_menu .new_message {
	color: red;
}


/* Popup menu styles */
.username {
    cursor: help;
}

.username_highlight {
    background-color: #ddf;
    text-decoration: underline;
}

#user_popup {
    width: 15em;
    border: 1px solid #333;
    border-top: 1px solid #999;
    border-bottom: 0;
    background-color: white;
    cursor: default;
    display: none;
}

.absolute {
    position: absolute;
}

.user_popup_menu_hover {
    background-color: #ddf;
}

#user_popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#user_popup li {
    border-bottom: 1px solid #999;
    padding: 0.2em;
    list-style-type: none;
}

#user_popup a {
    display: block;
}

/* user information style*/
#user_information_popup {
    display: none;
    width: 40em;
    border: 1px solid;
    padding: 1.5em;
    margin: 0;
    float: left;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: white;
    overflow: hidden;
}
#user_information_popup_content {
    margin: 0;
    padding: 0;
}

#user_information_popup_html {
    margin: 10px 20px;
    padding: 0;
}

#u_info_pop_head {
    width: 95%;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    background: url(/media/image/head_background.png) repeat top left;
    padding: 0.7em 0 0.7em 0.7em;
}

.uip_subtitle {
    width: 97%;
    border-top: 1px #65AA5C solid;
    border-bottom: 1px #CCCCCC solid;
    background: url(/media/image/base/square.png) no-repeat top left #E0E0E0;
    margin: 1.4em 0 0 0;
    float: left;
}

.uip_subtitle_name {
    border-bottom: 5px #DADADA solid;
    padding: 0.5em 0 0 0.7em;
    vertical-align: bottom;
}

.uip_list_name {
    width: 21%;
    background: url(/media/image/base/square_small.png) no-repeat top left;
    border-bottom: 1px #CCCCCC solid;
    padding: 0.5em 0 0 0.7em; 
    margin: 0.7em 0 0 0;
    float: left;
    clear: left;
}

.uip_list_content {
    width: 74%;
    margin: 1.2em 0 0.2em 0.3em;
    padding: 0;
    float: left;
}

#u_info_send_message {
    float: left;
    margin: 1.5em 0.5em 0 0;
}

#u_info_add_blacklist {
    float: left;
    margin: 1.5em 0 0 0;
}

#user_information_close {
    float: right;
    margin: 1.5em 0 0 0;
}

/* display */
.hidden {
    display:none
}

#login_box {
	position: absolute;
	right: 0%;
	z-index: 2;
	width: 40em;
	background-color: white;
	text-align: right;
}

#login_box form{
	display: inline;
}

input.button_exit{
	position: absolute;
	right: 0x;
	top: 0;
}

.highlight{
	background-color: #ccd;
}

#ksearch {
    float: right;
    padding-right: 2em;
    width: 25em;
    height: 3.2em;
    background: url('/media/image/base/ksearch/ksearch_bg.png') repeat left top;
}

#ksearch_bg_bottom {
    float: right;
    width: 23.5em;
	padding-left: 1.5em;
    height: 3.2em;
    background: url('/media/image/base/ksearch/ksearch_bg_bottom.png') no-repeat left bottom;
}

#ksearch .ksearch {
    float:right;
	border: none;
	padding-top: 0.5em;
	width: 84%;
}

#ksearch .q {
	border:1px solid #aaaaaa;
	width: 80%;
	position: relative;
	top: -0.25em;
}

#ksearch_logo {
    float:left;
	margin: 1em 0em 0em 0em;
	width: 3.5em;
	height: 1em;
	background: url('/media/image/base/ksearch/ksearch.png') no-repeat;
}

#ksearch .ksearch_submit {
	position: relative;
	padding-top: 1%;
	width: 15%;
}   

/* message css */

#message_popup {
    width: 40em;
    background-color: white;
	position: absolute;
	right: 0%;
	top: 0%;
	display: none;
}

#message_popup_content {
	width: 40em;
}

#message_popup_content A:visited, .message_content A:link {
    text-decoration: none;
    color: #666;
}

#message_popup_head {
	background: url(/media/image/head_background.png) repeat;
	width: 40em;
	height: 3.2em;
	color: white;
}

#message_popup_head .main_head {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	padding: 0.4em;
	padding-left: 1em;
	position: relative;
	float: left;
}

#message_popup_head .sub_head {
	font-size: 1em;
	color: white;
	position: relative;
	float: left;
	padding-top: 1.1em;
}

form {
    display: inline;
}

#message_popup_head #message_menu span{
	color: white;
}
#message_popup_content #message_send_receiver {
	clear: both;
	width: 94%;
	margin: 1em 3%;
	text-align: left;
}

#message_popup_content #message_send_receiver .sendto{
	float: left;
	width: 15%;
	margin-bottom: 1em;
}

#message_popup_content #message_send_receiver .doublemarginshet{
	float: right;
	width: 84%;
}

#message_popup_content #message_send_receiver input {
	width: 100%;
	border: 1px solid #ccc;
}

#message_popup_content #message_send_text {
	margin 1em 0%;
	text-align: center;
}
#message_popup_content #message_send_text textarea {
	width: 94%;
	height: 400px;
	border: 1px solid #ccc;
}

#message_popup_content #message_send_buttons {
	width: 100%;
	margin: 1em 0em;
	padding: 0.3em 0em;
	background-color: #ddd;
	vertical-align: center;
	vertical-align: middle;
}

#message_popup_content #message_send_buttons input {
	width: 4em;
	height: 2em;
}

#message_popup_content #message_send_buttons span .message_send_submit {
	height: 3em;
	width: 6em;
	margin-left: 42%;
}

#message_popup_content #message_send_buttons .message_send_cancel {
	position: relative;
	top: 0.5em;
}
/*message css end */

.small_form {
    border:1px solid #dadada;
    height: 1.6em;
    vertical-align: top;
    margin: 0 0.3em 0 0;
}

.small_btn {
    background: url('/media/image/small_btn_bg.png') repeat-x bottom;
    border:1px solid #dadada;
    height: 1.9em;
    min-width: 4.2em;
    vertical-align:top;
}

.big_form {
    border:1px solid #dadada;
    height:33px;
    vertical-align:top;
}

.big_btn {
    background: url('/media/image/big_btn_bg.png') repeat-x bottom;
    border:1px solid #dadada;
    height: 3em;
    min-width: 6em;
    vertical-align:top;
}

.bold {
    font-weight: bold;
}

.black {
    color: black;
}

.iepngfix{
	behavior: url(/media/thirdparty/iepngfix/iepngfix.htc);
}

.clear_float {
	clear: both;
}
