/* Base page layout */

body {
    margin: 0;
    padding: 0;
    font-size: 75%;
    background-color: #bbb;
}

#wrapper {
    width: 85em;
    max-width: 100%;
    min-width: 980px;
    margin: 0 auto;
    background-color: #fff;
}

#header_wrapper {
    background-color: #999;
}

#menu_wrapper {
    float: left;
    width: 12em;
    max-width: 14%;
    background-color: #ddd;
}

#content_wrapper {
    float: right;
    width: 73em;
    max-width: 86%;
}

#footer_wrapper {
    clear: both;
    background-color: #eee;
    padding: 20px;
}

#header {
    padding: 20px;
}

#menu {
    padding: 20px;
}

#content {
    padding: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#header h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

/* IE hack */
body {
    text-align: center;
}
#wrapper {
    text-align: left;
}

/* Popup menu styles */
#user_popup {
    width: 180px;
    border: 1px solid #333;
    border-top: 1px solid #999;
    border-bottom: 0;
    background-color: white;
    cursor: default;
}

.absolute {
    position: absolute;
}

.user_popup_menu_hover {
    background-color: #ddf;
}

#user_popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#user_popup li {
    border-bottom: 1px solid #999;
    padding: 2px;
}
    
