/* Base page layout */

body {
    margin: 0;
    padding: 0;
    font-size: 75%;
    background-color: #bbb;
}

#wrapper {
    width: 85em;
    max-width: 100%;
    min-width: 980px;
    margin: 0 auto;
    background-color: #fff;
}

#header_wrapper {
    width: 100%;
    background-color: #999;
}

#menu_wrapper {
    float: left;
    width: 12em;
    max-width: 14%;
    background-color: #f0f0f0;

	min-height: 48em; /*임시*/
}

#content_wrapper {
    float: right;
    width: 73em;
    max-width: 86%;
}

#footer_wrapper {
    clear: both;
    background-color: #eee;
    padding: 20px;
}

#top_header {
    float: left;
    width: 100%;
    background-color: #eaeaea;
}

#top_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#top_header li {
    float: left;
    margin: 0 0 0 5px;
}

#header {
    float: left;
    width: 100%;
}

#bottom_header {
    background-color: #fff;
}

#menu {
    padding: 16px;
}

#content {
    padding: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#menu li {
    margin: 0 0 5px 0;
    font-family: Verdana;
}

#header h1 {
    float: left;
    font-size: 3em;
    margin: 20px;
    padding: 0;
}

#header h1 a {
    text-decoration: none;
    color: black;
}

/* IE hack */
body {
    text-align: center;
}
#wrapper {
    text-align: left;
}

/* top menu style */
#top_menu {
    float: right;
    font-size: 120%;
    font-weight: bold;
    margin-top: -15px;
}
#top_menu a {
    margin-left: 10px;
}


/* Popup menu styles */
.username {
    cursor: help;
}

.username_highlight {
    background-color: #ddf;
    text-decoration: underline;
}

#user_popup {
    width: 180px;
    border: 1px solid #333;
    border-top: 1px solid #999;
    border-bottom: 0;
    background-color: white;
    cursor: default;
    display: none;
}

.absolute {
    position: absolute;
}

.user_popup_menu_hover {
    background-color: #ddf;
}

#user_popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#user_popup li {
    border-bottom: 1px solid #999;
    padding: 2px;
}

/* message popup style */

#message_popup {
    display: none;
    width: 30em;
    border: 5px solid;
    background-color: white;
}

#message_popup ul {
    list-style-type: none;
    padding: 0;

}

/* display */
.hidden {
    display:none
}

form[name="login"]{
	display: inline;
}

input.button_exit{
	position: absolute;
	right: 0px;
	top: 0px;
}

.highlight{
	background-color: #ddf;
}

#input[name="message_popup_exit"]{
	width=3em;
}

#ksearch {
    float: right;
    width:335px;
    height:40px;
    text-align: right;
    background: url('/media/background/base/ksearch/ksearch_bg.png')
}

#ksearch fieldset {
    float:right;
    width:250px;
    border: 0;
    margin: 0;
    padding: 8px 5px 8px 5px;
}

#ksearch .q {
border:1px solid #aaaaaa;
height:17px;
padding:2px 2px 0;
width:200px;
}

#ksearch_logo_wrapper {
    float:left;
    padding:15px 13px 15px 20px;
}

#ksearch_logo {
width:40px;
height:10px;
background: url('/media/background/base/ksearch/ksearch.png') no-repeat;
}
