/* My page */
#mypage {
    float: left;
    margin: 0;
}

#blacklist_mypage_head {
    width: 370px;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    background: url(/media/image/head_background.png) repeat top left; 
    margin: 0;
    padding: 11px 0 11px 10px;
}

#blacklist_mypage_add {
    width: 280px;
    margin: 0 0 0 2px;
    padding: 0;
}

#blacklist_mypage_content {
    margin: 15px 0 0 15px;
}

#blacklist_mypage_content table {
    margin: 5px 0 0 0;
    padding: 0;
}

#blacklist_mypage_content th {
    background: #E0E0E0 url(/media/image/base/square.png) no-repeat top left;
    border-top: 1px #65AA5C solid;
    border-bottom: 5px #DADADA solid;
    height: 25px;
}

#blacklist_mypage_content td {
    border-bottom: 1px #CCCCCC solid;
}

#blacklist_mypage_content tr {
    height: 25px;
}

th[name="del_checkbox"] {
    width: 29px;
    padding: 4px 0 0 7px;
}

th[name="chart_username"] {
    width: 125px;
    padding: 4px 0 0 7px;
}

th[name="block_art"] {
    width: 47px;
    padding: 4px 0 0 7px;
}

th[name="block_mes"] {
    width: 46px;
    padding: 4px 0 0 7px;
}

th[name="del_ea"] {
    width: 25px;
    text-align: center;
}

.del_ea {
    text-align: center;
}

.del_cb {
    padding: 4px 0 0 7px;
}

/* User search */
#search_user {
    float: right;
    margin: 0 40px 0 0;
}

#blacklist_user_search_head {
    width: 370px;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    background: url(/media/image/head_background.png) repeat top left;
    padding: 11px 0 11px 10px;
}

#blacklist_user_search_content {
    margin: 15px 0 0 15px;
}

#searching_results {
    float: right;
}
