/* My page */
#mypage {
    width: 30em;
    float: left;
    margin: 0 4.2% 4% 0;
}

#blacklist_mypage_head {
    width: 100%;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    background: url(/media/image/head_background.png) repeat top left; 
    margin: 0;
    padding: 0.7em 0 0.7em 0.7em;
}

#blacklist_mypage_add {
    width: 78%;
    margin: 0 0 0 0.2em;
    padding: 0;
}

#bl_mypage_chart {
    width: 97%;
    margin: 0.5em 0 0 0;
}

#blacklist_mypage_content {
    width: 30em;
    margin: 1.25em 0 0 1em;
}

#blacklist_mypage_content table {
    width: 95%;
    margin: 0.5em 0 0 0;
    padding: 0;
}

#blacklist_mypage_content th {
    background: #E0E0E0 url(/media/image/base/square.png) no-repeat top left;
    border-top: 1px #65AA5C solid;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 5px #DADADA solid;
    min-height: 2.3em;
}

#blacklist_mypage_content td {
    border-bottom: 1px #CCCCCC solid;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

#blacklist_mypage_content tr {
    min-height: 2.3em;
}

th[name="del_checkbox"] {
    width: 10%;
    padding: 0.4em 0 0 0.6em;
}

th[name="chart_username"] {
    width: 35%;
    padding: 0.3em 0 0 0.6em;
}

th[name="block_art"] {
    width: 20%;
    padding: 0.3em 0 0 0.6em;
}

th[name="block_mes"] {
    width: 20%;
    padding: 0.3em 0 0 0.6em;
}

th[name="del_ea"] {
    width: 5%;
    text-align: center;
    padding: 0.1em 0 0 0;
}

.del_ea {
    text-align: center;
}

.del_cb {
    padding: 0 0 0 0.5em;
}

#bl_delete_submit {
    float: left;
    margin: 0.4em 0.3em 0 66%;
}

#bl_update_submit {
    float: left;
    margin: 0.4em 0 0 0;
}

/* User search */
#search_user {
    width: 30em;
    float: left;
}

#blacklist_user_search_head {
    width: 98%;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-family: tahoma;
    background: url(/media/image/head_background.png) repeat top left;
    padding: 0.7em 0 0.7em 0.7em;
}

#blacklist_user_search_content {
    width: 30em;
    margin: 1.25em 0 0 1.25em;
}

#bl_search_text_field {
    width: 77%;
}

#searching_results {
    float: left;
    margin: 0.1em 0 0 0;
}

#searching_results p {
    background: url(/media/image/base/square.png) no-repeat top left;
    padding: 0.3em 0 0 0.9em;
}
