#bbstitle_dingbet {
    float:left;
    width:17px;
    height:13px;
    margin:11px 8px 0px 10px;
    background: url('/media/image/base/subtitle/subtitle_bbstitle.png');
}

#board_description span {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}
