#board_content {
    margin: 1.5em 0 0 0.8em;
}

#bbstitle_dingbet {
    float: left;
    width: 17px;
    height: 13px;
    margin: 1.1em 0 0 0.5em;
    background: url('/media/image/base/subtitle/subtitle_bbstitle.png');
}

#board_description span {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}
