#article_table table {
    border-collapse: collapse;
    width: 50em;
    border: 1px solid #666;
}

#article_table th, td {
    padding: 0.1em 1em;
}

#article_below_list table {
    border-collapse: collapse;
    width: 50em;
    border: 1px solid #666;
}

#article_table_list th, td {
    padding: 0.1em 1em;
}

.column.cursor_col{
    width: 0.3em;
}
.column.id_col{
    width: 1em;
}
.column.author_col{
    width: 8em;
}
.column.date_col{
    width: 9em;
}
.column.vote_col{
    width: 1em;
}
.column.hit_col{
    width: 1em;
}

.column {
    border-right: 1px solid #ccc;
}

.last_column {
    border-right: 1px solid #666;
}

col#board_title_col {
    border: none;
}

.row_highlight {
    background-color: #ddf;
}

.todays_best {
    background-color: #dfd;
}

.weekly_best {
    background-color: #fdd;
}
