.article_text table{ 
    font-size: small;
    border: 1px solid #69f;
    width: 600px;
}

.article_reply textarea {
    font-size: small;
    border: 1 solid #69f;
    height: 80px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.article_reply ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.article_depth_2 {margin-left: 2.5em;}
div.article_depth_3 {margin-left: 5em;}
div.article_depth_4 {margin-left: 6em;}
div.article_depth_5 {margin-left: 6.5em;}
div.article_depth_6 {margin-left: 6.75em;}
div.article_depth_7 {margin-left: 6.87em;}
div.article_depth_8 {margin-left: 7em;}
div.article_depth_9 {margin-left: 7em;}
div.article_depth_10 {margin-left: 7em;}
div.article_depth_11 {margin-left: 7em;}
div.article_depth_12 {margin-left: 7em;}

.article_depth_2 h1 {font-size: 1.5em;}
.article_depth_3 h1 {font-size: 1.5em;}
.article_depth_4 h1 {font-size: 1.5em;}
.article_depth_5 h1 {font-size: 1.5em;}
.article_depth_6 h1 {font-size: 1.45em;}
.article_depth_7 h1 {font-size: 1.45em;}
.article_depth_8 h1 {font-size: 1.45em;}
.article_depth_9 h1 {font-size: 1.45em;}
.article_depth_10 h1 {font-size: 1.45em;}
.article_depth_11 h1 {font-size: 1.45em;}
.article_depth_12 h1 {font-size: 1.45em;}

form {
    /*display: inline;*/
}

.article_read_buttons {
    font-size: large;
}
