#board_content {
	width: 97%;
	padding: 0.5em 2%;
	padding-right: 1%;
	background: url("/media/image/board/read_title_bg.png") no-repeat top left;
}

.float_left {
	float: left;
}

.inline {
	display: inline;
}

.clear_float {
	clear: both;
}

div.article_depth_2 {margin-left: 0em;}
div.article_depth_3 {margin-left: 1em;}
div.article_depth_4 {margin-left: 2em;}
div.article_depth_5 {margin-left: 3em;}
div.article_depth_6 {margin-left: 4em;}
div.article_depth_7 {margin-left: 5em;}
div.article_depth_8 {margin-left: 6em;}
div.article_depth_9 {margin-left: 7em;}
div.article_depth_10 {margin-left: 8em;}
div.article_depth_11 {margin-left: 9em;}
div.article_depth_12 {margin-left: 10em;}

div.article {
	position: relative;
}

img.reply_title_img {
	position: absolute;
	float: left;
	top: 0.5em;
}

img.img_1 {left: -1em;}
img.img_2 {left: -2em;-moz-opacity:0.7;filter:alpha(opacity:70);opacity:0.7}
img.img_3 {left: -3em;-moz-opacity:0.6;filter:alpha(opacity:60);opacity:0.6}
img.img_4 {left: -4em;-moz-opacity:0.55;filter:alpha(opacity:55);opacity:0.55}
img.img_5 {left: -5em;-moz-opacity:0.5;filter:alpha(opacity:50);opacity:0.5}
img.img_6 {left: -6em;-moz-opacity:0.45;filter:alpha(opacity:45);opacity:0.45}
img.img_7 {left: -7em;-moz-opacity:0.4;filter:alpha(opacity:40);opacity:0.4}
img.img_8 {left: -8em;-moz-opacity:0.35;filter:alpha(opacity:35);opacity:0.35}
img.img_9 {left: -9em;-moz-opacity:0.3;filter:alpha(opacity:30);opacity:0.3}
img.img_10 {left: -10em;-moz-opacity:0.25;filter:alpha(opacity:25);opacity:0.25}
img.img_11 {left: -11em;-moz-opacity:0.2;filter:alpha(opacity:20);opacity:0.2}
img.img_12 {left: -12em;-moz-opacity:0.15;filter:alpha(opacity:15);opacity:0.15}

/*
.article_depth_1 h1 {font-size: 1.5em;}
.article_depth_2 h1 {font-size: 1.2em;}
.article_depth_3 h1 {font-size: 1.2em;}
.article_depth_4 h1 {font-size: 1.2em;}
.article_depth_5 h1 {font-size: 1.2em;}
.article_depth_6 h1 {font-size: 1.45em;}
.article_depth_7 h1 {font-size: 1.45em;}
.article_depth_8 h1 {font-size: 1.45em;}
.article_depth_9 h1 {font-size: 1.45em;}
.article_depth_10 h1 {font-size: 1.45em;}
.article_depth_11 h1 {font-size: 1.45em;}
.article_depth_12 h1 {font-size: 1.45em;}
--breadfish
*/

h1.root_article_title{
	width: 100%;
	margin: 0.2em 0em;
	overflow-x: hidden;
}

h1.root_article_title a {
	font-size: 90;
	color: black;
}

#board_content span.user_nickname {
	font-size: 120%;
	font-weight: bold;
	color: #222;
}

#board_content span.user_name {
	font-size: 80%;
	color: black;
}

#root_article_info {
	width: 100%;
	background-color: #eee;
	padding: 0.2em 0em;
	margin: 1em 0em;
}

#root_article_info .user_nickname {
	margin: 0em 0.2em;
	margin-left: 1em;
	float: left;
	font-size: 120%;
	font-weight: bold;
	color: #222;
}

#root_article_info .user_name {
	margin: 0em 0.2em;
	float: left;
	padding-top: 0.4em;
}

#root_article_info .hit {
	margin: 0em 0.2em;
	float: right;
}

#root_article_info .vote {
	margin: 0em 0.2em;
	float: right;
}

#root_article_info .article_date {
	margin: 0em 0.2em;
	float: right;
}

.article_root_text {
	line-height: 180%;
	color: black;
}

div.article_reply {
	margin-top: 2em;
	display: none;
}

.article_reply ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article_reply li {
	list-style-type: none;
}

.article_reply input.write_reply_title{
	width: 92%;
	border: 1px solid #666;
}

.article_reply textarea {
    font-size: small;
    border: 1px solid #666;
    height: 10em;
    width: 92%;
    overflow-x: hidden;
    overflow-y: auto;
}

.article_reply_title {
	width: 100%;
	border-top: 1px solid #0d0;
	background-color: #eee;
	margin: 1em 0em;
	margin-top: 1em;
}

.article_reply_title h1{
	float: left;
	margin: 0.2em 0.5em;
	width: 60%;
}

.article_reply_title h1 a{
	font-size: 80%;
	color: black;
}

.article_reply_title span.article_info {
	float: right;
	margin: 0.2em 0.5em;
}

.article_text {
	line-height: 180%;
	color: black;
	margin-left: 2%;
}

.article_file {
	position: relative;
	float: left;
	width: 50%;
	margin: 1em 0em;
}

.article_read_buttons {
	position: relative;
	width: 40%;
	float: right;
    text-align: right;
	margin: 1em 0em;
}

.article_read_buttons a{
	padding: 0.7em;
	background: url(/media/image/board/read_sidebar_bg.png) no-repeat left;
}

.article_write_file {
	width: 98%;
	padding-left: 2%;
	margin: 0.5em 0em;
	float: left;
}

.article_write_file .file_line {
	width: 100%;
	float: left;
	margin: 0.1em 0em;
}

.article_write_file input {
	border: 1px solid #ddd;
}

input.file_upload{
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	float: right;
}

div.file_upload{
	width: 100%;
	float: right;
}

div.file_upload_t {
	position: absolute;
	z-index: 2;
	width: 90%;
	text-align: right;
	float: left;
	right: 10%;
}

div.file_upload_p{
	position: relative;
	width: 90%;
	float: right;
}

.article_write_file .article_write_file_caption {
	position: relative;
	float: left;
}

div.file_upload_f{
	position: absolute;
	top: 0px;
	left: 0%;
	z-index: 1;
	width: 95%;
}

div.file_upload_f input {
	width: 82%;
	position: relative;
	float: left;
	z-index: 1;
}

.article_write_file .file_search_button {
	position: relative;
	float: left;
	background-color: #ddd;
	padding: 0.2em 0em;
	width: 8em;
	max-width: 15%;
	text-align: center;
	z-index: 1;
}

.article_write_file input.small_btn {
	width: 2em;
	height: 1.5em;
	position: relative;
	float: right;
	margin-right: 1%;
	z-index: 1;
}

input.write_reply {
	margin-right: 8%;
	float: right;
}

input.cancel_reply {
	float: right;
	margin-right: 1%;
}

#file_line_model{
	display: none;
}

#article_nav_buttons {
	width: 100%;
	text-align: right;
	margin: 1em 0em;
}

#article_nav_buttons .btn {
	display: -moz-inline-stack;
	display: inline-block;
	text-align: center;
	padding: 0.2em 1em;
	line-height: 150%;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
}
