#help_top_menu ul {
	margin: 0;
	padding 0;
	list-style: none;
	float: left;
	background-color: #7f7;
}

#help_top_menu ul li{
	float: left;
	list-style: none;
}

#help_top_menu ul a{
	display: block;
	float: left;
	padding: 0 2em;
	line-height: 2.1em;
	background-color: #7f7;
	text-decoration: none;
	color: red;
}

#help_top_menu li a.row_highlight{
	border: 1px solid red;
}

#help_top_menu li a.selected{
	background-color: #0f4;
}

#help_top_menu ul a:hover {
	border: 1px solid blue;
}

#help_top_menu ul .first_li a {
	background-color: none;
}

#help_content{
	clear: both;
}
