body {
    margin: 0;
    padding: 0;
    font-size: 75%;
    height: 100%;
    background-color: #bbb;
}

a {
	text-decoration: none;
}

#wrapper {
    width: 85em;
    max-width: 100%;
    min-width: 61.25em;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100%;
}

/* IE hack */
* {
    color:#666666;
    font-family: Verdana, 굴림
}

#content_wrapper {
    float: left;
    width: 100%;
    background-color: white;
}

#postcard {
    float: left;
    margin-left: 50px;
}

#logo, #postcard {
    margin-top: 30px;
}

#logo, #login, #navigation {
    float: right;
    margin-right: 30px;
}

#login {
    float: right;
}

#input_wrapper {
    clear: both;
    float: left;
    width: 20em;
}

#login label {
    clear: both;
    float: left;
    font-size: 80%;
    margin: 0.7em;
}

#login input {
    float: right;
    margin: 0.4em;
}

#login div input {
    float: right;
    width: 10em;
    margin: 0.2em;
}

#navigation {
    clear: both;
    float: right;
    width: 15em;
}

#navigation p {
    float: left;
    margin: 1.5em;
}

#footer_wrapper {
    clear: both;
    float: left;
    width: 100%;
    background-color: #eee;
}

#footer {
    float:left;
    margin: 1.5em;
    padding: 0.6em 0;
}

#counter {
    float:right;
    margin: 1.5em;
}

#counter p {
    margin: 0;
}
