body {
    margin: 0;
    padding: 0;
    font-size: 75%;
    text-align: center;
}

a {
	text-decoration: none;
}

#wrapper {
    float: left;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/* IE hack */
* {
    color:#666666;
    font-family: Verdana, 굴림
}

#content_wrapper {
    float: left;
    width: 600px;
}

#postcard {
    float: left;
    width: 600px;
    height: 400px;
}

#logo {
    float: left;
    right: 50%;
    margin: 0 0 0 200px;
}

#login {
    float: right;
    left: 50%;
    margin: 0 50px 0 0;
}

#login div {
    clear: both;
}

#login label {
    float: left;
    margin: 0.5em;
}

#login input {
    float: right;
    margin: 0.4em;
}

#login div input {
    float: right;
    width: 10em;
    margin: 0.2em;
}

#navigation {
    clear: both;
    float: right;
    margin: 0 100px 0 0;
}

#navigation p {
    float: left;
    margin: 1.5em;
}

#footer_wrapper {
    clear: both;
    float: left;
    width: 100%;
    background-color: #eee;
}

#footer {
    float:left;
    margin: 1.5em;
    padding: 0.6em 0;
}

#counter {
    float:right;
    margin: 1.5em;
}

#counter p {
    margin: 0;
}
