#ksearchPanel {
    background-color:red;
    height:50%
}
#loginPanel {
	background-color:skyblue;
	height:50%;
    	float:left;
}
#helpPanel {
	height:50%;
    float:right
}
#header_left {
	font-size:xx-large;
	background-color:navy;	
float:left
}
#header_right {
float:right
}
#header{
width:100%;
height:100px;
background-color:#00ff78
}
#navigation{
float:left;
width:200px; 
background-color: #dfd
}
#content{
width:824;
float:right;
background-color:lightgray
}

form { display:inline; }
#container{
width:1024px;
margin:0 auto;
background-color: #fdd
}

div.mainLeftListPanel {
	margin:10px;
	width:40%;
	float:left
}
div.mainRightListPanel {
	margin:10px;
	width:40%;
	float:right
}
div#banner {
	margin:10px;
}
