.highlight {
    background-color: #ddf;
}

/* Best_article background */
.best_articles_caption {
    background: #F7F7F7 url(/media/image/base/index/raw_ara_w_main_best_titlebar.png) no-repeat top left;
    border-bottom: 1px solid #EAEAEA;
    padding : 7px 0 0 10px;
    font-weight: bold;
}

.best_articles {
    width: 560px;
    border: 1px solid #EAEAEA;
    margin: 10px 0 0 10px;
    float: left; 
}

.best_articles_content_margin {
    margin: 10px;
}

.best_articles_content_margin li {
    font-family: Dotum;
}

.best_articles dd {
    margin: 0 0 0 24px;
    padding: 0;
}

.best_articles_content_first {
    float: left;
    width: 176px;
    list-style: none;
    padding: 9px;
    margin: 0;
}

.best_articles_content_first li{
    list-style: none;
    width: 100%;
}

#today_best_article_first {
    background: url(/media/image/base/index/raw_ara_w_main_best_number_0_background.png) repeat top left;
}

#weekly_best_article_first {
    background: url(/media/image/base/week_best_number_0_background.png) repeat top left;
}

.best_articles_content {
    float: right;
    width: 330px;
    margin: 0 0 0 8px;
}

.best_article_number_first {
    float: right;
    margin: 0;
    padding: 0;
}

.best_article_number {
    float: left;
    margin: 0 8px 0 0;
}

.weathers {
    width: 200px;
    border: 1px solid #EAEAEA;
    margin: 10px 0 0 10px;
    float: right;
}
#weather_today_content {
    width: 180px; 
    text-align: center;
    font-size: 120%;
    margin-left: -20px;
}
#weather_today_content ul li {
    list-style-type: none;
    font-weight: bold;
}

.weather_forecast_contents {
    width: 180px; 
    text-align: center;
    margin-left: -20px;
}
.weather_forecast_contents ul li {
    list-style-type: none;
}

