#message_send_receiver {
    float: left;
	clear: both;
	width: 94%;
	margin: 1em 3%;
	text-align: left;
}

#message_send_receiver .sendto{
	float: left;
	width: 16.3%;
}

#message_send_receiver .doublemarginshet{
    margin: 0 0 0 0.5em;
	float: right;
	width: 82.3%;
}

#message_send_receiver input {
    margin: 0 0.3em 0 0;
	float: left;
	width: 80%;
	border: 1px solid #ccc;
}

.doublemarginshet a {
	float: right;
}

#message_send_receiver span.type_id {
	display: none;
}

#message_send_text {
	margin 1em 0%;
	text-align: center;
}
#message_send_text textarea {
	width: 94%;
	height: 25em;
	border: 1px solid #ccc;
}

#message_send_buttons {
	width: 100%;
	margin: 1em 0em;
	padding: 0.3em 0em;
	background-color: #ddd;
	vertical-align: center;
	vertical-align: middle;
}

#message_send_buttons input {
	width: 4em;
	height: 2em;
}

#message_send_buttons span .message_send_submit {
	height: 3em;
	width: 6em;
	margin-left: 42%;
}

#message_send_buttons .message_send_cancel {
	position: relative;
	top: 0.5em;
}
