form {
    display: inline;
}

#message_menu span {
    background-color: #fff;
}

#page_list span {
    background-color: #8ff;
}

div.message_content A:visited, div.message_content A:link {
    text-decoration: none;
    color: #055;
}
