#message_info {
    float: left;
	width: 94%;
	margin: 0% 3%;
	background-color: #ddd;
}

#message_person {
        float: left;
	margin: 1% 2%;
}

#message_time {
	float: right;
	padding: 1% 2%;
}

#message_read_text {
    float: left;
	width: 94%;
	padding: 3% 3%;
}

#message_read_text .textarea {
    float: left;
    font-size: small;
    background-color: #fff;
    border: 0 solid #69f;
    overflow-x: hidden;
    overflow-y: auto;
}

div.line {
    float: left;
	background-color: #ddd;
	width: 94%;
	margin: 1% 3%;
	height: 0.5em;
}

div.caption_reply {
    float: left;
	width: 94%;
	margin: 1% 3%;
}

#message_content form {
    float: left;
	width: 94%;
	margin: 0% 3%;
}

#message_send_text {
    float: left;
	margin 1em 3%;
	text-align: center;
}
#message_send_text textarea {
    float: left;
	width: 37.2em;
	height: 10em;
	border: 1px solid #ccc;
}

#message_send_buttons {
	width: 100%;
	background-color: #ddd;
	text-align: center;
	padding: 0.5em 0em;
	float: left;
	text-align: center;
	margin: 1em 0em;
}

#message_send_buttons ul{
	margin: 0em;
	padding: 0.5em 0em;
	padding-bottom: 0em;
	list-style-type: none;
}

#message_send_buttons ul li {
	margin: 0.5em 0.1em;
	margin-bottom: 0em;
	display: inline;
}

#message_send_buttons ul a {
	display: -moz-inline-stack;
	display: inline-block;
	padding: 0.4em 1.5em;
	text-decoration: none;
	background-color: white;
	color: #aaa;
}

#message_send_buttons li.submit_button {
	position: relative;
	top: -0.4em;
}

#message_send_buttons .big_btn {
	width: 6em;
	height: 3em;
}
