form {
    display: inline;
}

#message_menu span {
    background-color: #fff;
}

#page_list span {
    background-color: #8ff;
}

#content A:visited, #content A:link {
    text-decoration: none;
    color: #055;
}

