#message_list_table table {
    border:1px solid #000;
    border-collapse: collapse;
}

#message_list_table table td, table th {
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #b5b5b5;
}

#message_list_table table tr {
    border:0 ;
}

#message_page_move a.makered {
    color: red;
}

#message_buttons, #message_page_move{
	display:inline;
}

.row_highlight {
    background-color: #ddf;
}

#message_list_table th{
	text-align: center;
}

#message_list_table th.message_list_table_th_text{
	min-width: 400px;
	max-width: 600px;
}

#message_list_table_text_col {
	overflow-x: hidden;
}
