{% load i18n %}
<div id="user_information_popup_html">
    <div class="uip_subtitle"><div class="uip_subtitle_name">{{username}}{% trans "'s information" %}</div></div>
    <div id="username_pop_html">
        <span class="uip_list_name">{% trans "ID" %}</span>
        <span class="uip_list_content">{{username}}</span>
    </div>
    <div id="nickname_pop_html">
        <span class="uip_list_name">{% trans "Nickname" %}</span>
        <span class="uip_list_content">{{nickname}}</span>
    </div>
    <div class="uip_subtitle"><div class="uip_subtitle_name">{{username}}{% trans "'s ARA setting" %}</div></div>
    <div id="signature_pop_html">
        <span class="uip_list_name">{% trans "Signature" %}</span>
        <span class="uip_list_content">{{signature|linebreaksbr}}</span>
    </div>
    <div id="self_introduction_pop_html">
        <span class="uip_list_name">{% trans "Self Introduction" %}</span>
        <span class="uip_list_content">{{self_introduction|linebreaksbr}}</span>
    </div>
    <div id="last_login_ip_pop_html">
        <span class="uip_list_name">{% trans "Last Login IP" %}</span>
        <span class="uip_list_content">{{last_login_ip}}</span>
    </div>
</div>
