<div id="user_information_popup_html">
    <div class="uip_subtitle"><div class="uip_subtitle_name">{{username}}'s information</div></div>
    <dl id="username_pop_html">
            <dt class="uip_list_name">ID</dt>
            <dd class="uip_list_content">{{username}}</dd>
    </dl>
    <dl id="nickname_pop_html">
            <dt class="uip_list_name">Nickname</dt>
            <dd class="uip_list_content">{{nickname}}</dd>
    </dl>
    <div class="uip_subtitle"><div class="uip_subtitle_name">{{username}}'s ARA setting</div></div>
    <dl id="signature_pop_html">
            <dt class="uip_list_name">Signature</dt>
            <dd class="uip_list_content">{{signature}}</dd>
    </dl>
    <dl id="self_introduction_pop_html">
            <dt class="uip_list_name">Self Introduction</dt>
            <dd class="uip_list_content">{{self_introduction}}</dd>
    </dl>
    <dl id="last_login_ip_pop_html">
            <dt class="uip_list_name">Last Login IP</dt>
            <dd class="uip_list_content">{{last_login_ip}}</dd>
    </dl>
</div>
