{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/media/js/account_login.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_login.css" />
{% endblock %}

{% block content %}
<form action="/account/login/" method="post">
    <label for="username_field">{% trans "Username:" %}</label>
    <input type="text" id="username_field" name="username" />
    <label for="password_field">{% trans "Password:" %}</label>
    <input type="password" id="password_field" name="password" />
    <input type="submit" value="{% trans "Login" %}" />
</form>
{% endblock %}
