{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block content %}
{% load i18n %}
<div id="account_content" class="account_content">
    <div class="account_head_block"><div class="account_head">RESET E-MAIL ADDRESS</div></div>


        <textarea name="agreement" id="agreement" readonly />
아라 BBS 이용약관 ver 0.2

1. "아라"는 KAIST 구성원의 원활한 정보공유를 위한 공용 게시판 서비스 (BBS) 입니다.

2. "아라"에 가입하여 글을 읽고 쓰기 위해서는 E-Mail 인증이 필요합니다. 입력하신 메일 주소로 인증용 메일이 발송되며, 인증 링크를 클릭하셔야 합니다. 단, 1개의 메일 주소로는 1개의 id만 사용 가능합니다.

3. 기존 "아라" 사용자들도 E-Mail 인증을 거쳐야 아라 사용이 가능합니다.

4. "아라"는 독립적이고 자발적인 운영자에 의해 개인적인 시간을 쪼개서 아무런 대가 없이 서비스되고 있습니다. 따라서 서비스가 부족하거나 일시적인 중단이 되더라도 사실 어쩔 수가 없습니다.

5. 아라 사용중 발생하는 문의는 아라 시삽(변규홍, combacsa@sparcs.kaist.ac.kr / 010-5231-7494)에게 하시면 됩니다. ToSysop 보드에 글을 올리시면 더 좋습니다.

메일로 온 수동 인증코드를 아래 입력해주십시오.

    </textarea>
    <form action="/account/register/confirm_passive/" method="post" name="form" id="confirm_passive">
        <span id="account_user_content">
            <span id="information">
                <div class="acc_subtitle"><div class ="acc_subtitle_name">User Information</div></div>
                <div>
                    <label for="id">ID</label>
                    <input name="id" id="id" type="text" value="{{username}}" readonly />
                </div>
                <div>
                    <label for="nickname">Nickname</label>
                    <input name="nickname" id="nickname" type="text" value="{{nickname}}" readonly />
                </div>
                <div>
                    <label for="confirm_key">Confirm Key</label>
                    <input name="confirm_key" id="confirm_key" type="text" />
                </div>
            </span>
        </span>
        <div id="confirm_passive_buttons">
            <span id="confirm_passive_submit"><input value="Send" name="send" type="submit" /></span>
            <span id="confirm_passive_cancel"><input value="Cancel" name="cancel" type="button" onClick="location.href='/main/'" /></span>
        </div>
    </form>
</div>
{% endblock %}
