{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/media/thirdparty/jquery-latest.min.js"></script>
<script type="text/javascript" src="/media/thirdparty/jquery.history.js"></script>
{% endblock %}

{% block content %}
{% load i18n %}
<div id="account_content" class="account_content">
	<div class="account_head_block"><div class="account_head">RESET E-MAIL ADDRESS</div></div>


        <textarea name="agreement" id="agreement" readonly />
아라 BBS 이용약관 ver 0.1

1. "아라"는 KAIST 구성원의 원활한 정보공유를 위한 공용 게시판 서비스 (BBS) 입니다.

2. "아라"에 가입하기 위해서는 E-Mail 주소가 1개 필요합니다. 1개의 E-Mail 주소로는 1개의 id만을 생성할 수 있습니다.

3. "아라"에 가입하여 글을 읽고 쓰기 위해서는 E-Mail 인증이 필요합니다. 인증용 Mail 이 발송되면 그것을 확인하면 됩니다.

4. 기존 "아라" 사용자들 또한 추가로 E-Mail 인증을 거쳐야 아라 사용이 가능합니다.

5. "아라"는 독립적이고 자발적인 운영자에 의해 개인적인 시간을 쪼개서 아무런 대가 없이 서비스되고 있습니다. 따라서 서비스가 부족하거나 일시적인 중단이 되더라도 사실 어쩔 수가 없습니다.

6. 아라 사용중 발생하는 문의는 아라 시삽(변규홍, combacsa@sparcs.kaist.ac.kr / 010-5231-7494)에게 하시면 됩니다.
	</textarea>





	<form action="/account/register/resendemail/" method="post" name="form" id="account_information_content">
		<span id="account_user_content">
			<span id="information">
				<div class="acc_subtitle"><div class ="acc_subtitle_name">User Information</div></div>
				<div>
				    <label for="id">ID</label>
				    <input name="id" id="id" type="text" value="{{username}}" readonly />
				</div>
				<div>
				    <label for="nickname">Nickname</label>
				    <input name="nickname" id="nickname" type="text" value="{{nickname}}" readonly />
				</div>
				<div>
				    <label for="email">E-mail address</label>
				    <input name="email" id="email" type="text" />
				    <em class="required">(We will resend you user registration confirmation to here)</em>
				</div>
			</span>
		</span>
		<div id="register_buttons">
		<span id="register_submit"><input value="Resend" name="resend" type="submit" /></span>
		<span id="register_cancel"><input value="Cancel" name="cancel" type="button" onClick="location.href='/main/'" /></span>
		</div>
	</form>
</div>
{% endblock %}
