{% extends "account/myaccount_frame.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/media/js/account.js"></script>
{% endblock %}

{% block myaccount_content %}
{% load i18n %}
<div id="myaccount_modify_content" class="account_content">
    <div class="account_head_block">
        <div class="account_head">{% trans "MY ACCOUNT MODIFY" %}</div>
        <div class="account_administer">
            <span><a href="/account/">{% trans "My Account" %}</a></span><span>|</span>
            <span id="contempo_acc_admin"><a rel="account_modify" href="/account/account_modify/">{% trans "Account Modify" %}</a></span><span>|</span>

            <span><a href="/account/password_modify/">{% trans "Password Modify" %}</a></span><span>|</span>

            <span><a href="/account/account_remove/">{% trans "Account Remove" %}</a></span>
        </div>
    </div>
    <form action="/account/account_modify/" method="post" id="account_information_content">
        <span id="account_user_content">
            <div id="myaccount_modify">
                <div class="acc_subtitle"><div class="acc_subtitle_name">{% trans "My information" %}</div></div>
                <div>
                    <label for="mynickname">{% trans "Nickname" %}<span class="feedback"></span></label>
                    <input name="mynickname" id="nickname" type="text" class="required_field" value={{nickname}} rel="{{nickname}}" />
                </div>
                <div>
                    <label for="mycampus">{% trans "Campus Location" %}</label>
                    <select name="mycampus" id="mycampus" />
                        <option value="" {% ifequal campus "" %}selected{% endifequal %}>  </option>
                        <option value="Daejeon" {% ifequal campus "Daejeon" %}selected{% endifequal %}>Daejeon</option>
                        <option value="Seoul" {% ifequal campus "Seoul" %}selected{% endifequal %}>Seoul</option>
                    </select>
                </div>
                <div>
                    <label for="cancelconfirm">{% trans "Cancel E-mail Confirmation" %}</label>
                    <span id="cancel_confirm">
                        <a href="/account/cancel_confirm/{{username}}/">{% trans "이메일 인증을 해제하려면 여기를 클릭하세요(To cancel your email confirmation, click this.)" %}</a> <br />
                        이 계정의 이메일 인증을 해제하면 다른 계정에서 이 이메일 계정으로 인증하거나, <br />
                        이 계정에서 다른 이메일 계정으로 인증할 수 있습니다.
                    </span>
                </div>
            </div>
            <div id="mysetting_modify">
                <div class="acc_subtitle"><div class="acc_subtitle_name">{% trans "My ARA setting" %}</div></div>
                <div>
                    <label for="mysig">{% trans "Signature" %}</label>
                    <textarea name="mysig" id="mysig" cols="50" rows="10">{{signature}}</textarea>
                </div>
                <div>
                    <label for="myintroduce">{% trans "Introduction" %}</label>
                    <textarea name="myintroduce" id="myintroduce" cols="50" rows="10">{{self_introduction}}</textarea>
                </div>
                <div>
                    <label for="mylanguage">{% trans "Language" %}</label>
                    <select name="mylanguage" id="mylanguage" />
                        <option value="eng" {% ifequal default_language "eng" %}selected{% endifequal %}>English</option>
                        <option value="kor" {% ifequal default_language "kor" %}selected{% endifequal %}>한국어</option>
                    </select>
                </div>
                <div>
                    <label for="mylistingmode">{% trans "Listing Mode" %}</label>
                    <select name="mylistingmode" id="mylistingmode" />
                        <option value="0" {% ifequal listing_mode 0 %}selected{% endifequal %}>Default</option>
                        <option value="1" {% ifequal listing_mode 1 %}selected{% endifequal %}>Forum</option>
                    </select>
                </div>
            </div>
        </span>
        <div id="register_buttons">
            <label for="register_submit"><span class="feedback" id="regist_btn_feedback"></span></label>
            <span id="register_submit"><input value="{% trans "Done" %}" name="done" class="submit" type="submit" /></span>
            <span id="register_cancel"><input value="{% trans "Cancel" %}" name="cancel" type="button" onClick="location.href='/account/'" /></span>
        </div>
    </form>
</div>
{% endblock %}
