{% extends "account/myaccount_frame.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}


{% block myaccount_content %}
<a href="/account/account_modify/">Account Modify</a>
<a href="/account/password_modify/">Password Modify</a>
	{% block myaccount_modify_content %}
        <div id="myaccount_modify_content">
            <form action="/account/account_modify/" method="post">
                <h1>My Account Modify</h1>
                <fieldset id="myinformation">
                    <legend>My information</legend>
                    <p>
                    <label for="mynickname">Nickname:<span class="feedback"></span></label>
		    <input name="mynickname" id="mynickname" type="text" class="required_field" value={{nickname}} />
                    </p>
                </fieldset>
                <fieldset id="mysetting">
                    <legend>My ARA Setting</legend>
                    <p>
                    <label for="mysig">Signature:</label>
		    <textarea name="mysig" id="mysig" cols="50" rows="10">{{signature}}</textarea>
                    </p>
                    <p>
                    <label for="myintroduce">Introduction:</label>
		    <textarea name="myintroduce" id="myintroduce" cols="50" rows="10">{{self_introduction}}</textarea>
                    </p>
                    <p>
                    <label for="mylanguage">Language:</label>
                    <select name="mylanguage" id="mylanguage" />
                        <option value="eng">English</option>
                        <option value="kor">Korean</option>
                    </select>
                    </p>
                </fieldset>
                <p>
                <label for="account_modify_submit"><span class="feedback"></span></label>
                <input value="Done" name="done" id="account_modify_submit" class="submit" type="submit" />
                </p>
            </form>
	</div>
	{% endblock %}
{% endblock %}
