{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block content %}
<a href="/account/">My Account</a>
<a href="/account/account_modify/">Account Modify</a>
<a href="/account/password_modify/">Password Modify</a>
<a href="/account/account_remove/">Account Remove</a>
    {% block myaccount_content %}
    <div id="myaccount_content" class="account_content">
        <h1>My Account</h1>
        <fieldset id="myaccount">
            <legend>My information</legend>
            <dl>
                <dt>ID:</dt>
		<dd>{{username}}</dd>
            </dl>
            <dl>
                <dt>Nickname:</dt>
		<dd>{{nickname}}</dd>
            </dl>
        </fieldset>
        <fieldset id="mysetting">
            <legend>My ARA setting </legend>
            <dl>
                <dt>Signature:</dt>
		<dd>{{signature}}</dd>
            </dl>
            <dl>
                <dt>Introduction:</dt>
		<dd>{{self_introduction}}</dd>
            </dl>
            <dl>
                <dt>Language:</dt>
		<dd>{{default_language}}</dd>
            </dl>
            <dl>
                <dt>Last login IP:</dt>
		<dd>{{last_login_ip}}</dd>
            </dl>
            <dl>
                <dt>Last logout time:</dt>
		<dd>{{last_logout_time}}</dd>
            </dl>
        </fieldset>
    </div>
    {% endblock %}
{% endblock %}
<!--

-->
