{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block content %}
{% load i18n %}
<div class="account_content">
    <div class="account_head_block">
        <div class="account_head">{% trans "Forgot your Password?" %}</div>
    </div>
    <form action="/account/recover/{{ username }}/{{ token_code }}/" method="post" id="account_information_content">
        <span id="account_user_content">
            <div id="id_recovery_fieldset">
                <div class="acc_subtitle" id="password_field_input"><div class="acc_subtitle_name">{% trans "Password" %}</div></div>
                <div>
                    <label for="password_field">{% trans "Password" %}<span class="feedback"></span></label>
                    <input name="password" id="password_field" type="password" class="required_field" />
                </div>
                <div>
                    <label for="re_password_field">{% trans "Re-enter password" %}<span class="feedback"></span></label>
                    <input name="re_password" id="re_password_field" type="password" class="required_field" />
                    <em class="required"></em>
                </div>
            </div>
        </span>
        <div id="register_buttons">
            <label for="register_submit"><span class="feedback" id="regist_btn_feedback"></span></label>
            <span id="register_submit"><input value="{% trans "Done" %}" name="done" class="submit" type="submit" /></span>
            <span id="register_cancel"><input value="{% trans "Cancel" %}" name="cancel" type="button" onClick="location.href='/'" /></span>
        </div>
    </form>
</div>
{% endblock %}
