{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block content %}
{% load i18n %}
<div class="account_content">
    <div class="account_head_block">
        <div class="account_head">{% trans "Forgot your Password?" %}</div>
    </div>
    <form action="/account/recover/" method="post" id="account_information_content">
        <span id="account_user_content">
            <div id="id_recovery_fieldset">
                <div class="acc_subtitle"><div class="acc_subtitle_name">{% trans "ID" %}</div></div>
                <div>
                    <label for="username_field">{% trans "Username" %}<span class="feedback"></span></label>
                    <input name="username_field" id="username_field" type="text" class="required_field" />
                </div>
                <div>
                    <label for="email_field">{% trans "E-mail address" %}<span class="feedback"></span></label>
                    <input name="email_field" id="email_field" type="text" class="required_field" />
                </div>
            </div>
        </span>
        <div>
            계정명과 이메일 주소를 입력하고 버튼을 누르면 해당 이메일 주소로 비밀번호를 초기화할 수 있는 링크를 발송해드립니다. <br />
            해당 계정으로 로그인하거나 한 번 비밀번호를 초기화하고 나면 발송된 링크는 소멸됩니다.
        </div>
        <div id="register_buttons">
            <label for="register_submit"><span class="feedback" id="regist_btn_feedback"></span></label>
            <span id="register_submit"><input value="{% trans "Done" %}" name="done" class="submit" type="submit" /></span>
            <span id="register_cancel"><input value="{% trans "Cancel" %}" name="cancel" type="button" onClick="location.href='/'" /></span>
        </div>
    </form>
</div>
{% endblock %}
