{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/account.js"></script>
{% endblock %}
{% block content %}
<div id="account">
    <form action="/account/register/" method="post">
        <h1>User Registration</h1>
        <fieldset id="agreement">
            <legend>User Agreement</legend>
            <p>
            <textarea name="agreement" id="agreement" cols="50" rows="10"/>
-- User Agreement --
Glad to see you
<!--It will be modified-->
            </textarea>    
            </p>
            <p>
            <input name="agree" id="agree" type="radio" value="yes" class="radio"/>
            <label for="agree">Agree</label>
            <input name="agree" id="disagree" type="radio" value="no" class="radio" />
            <label for="disagree">Disagree<span class="feedback"></span></label>
            </p>
        </fieldset>
        <fieldset id="information">
            <legend>User information</legend>
            <p>
            <label for="id">ID:<span class="feedback"></span></label>
            <input name="id" id="id" type="text" class="required_field" />
            </p>
            <p>
            <label for="nickname">Nickname:<span class="feedback"></span></label>
            <input name="nickname" id="nickname" type="text" class="required_field" />
            </p>
            <p>
            <label for="email">E-mail address:<span class="feedback"></span></label>
            <input name="email" id="email" type="text" class="required_field" />
            <br />
            <em class="required">(We will send you user registration confirmation to here)</em>
            </p>
        </fieldset>
        <fieldset id="password_fieldset">
            <legend>Password</legend>
            <p>
	    <label for="password_field">Password:<span class="feedback"></span></label>
            <input name="password" id="password_field" type="password" class="required_field" />
            </p>
            <p>
            <label for="re_password_field">Re-enter password:<span class="feedback"></span></label>
            <input name="re_password" id="re_password_field" type="password" class="required_field" />
            </p>
        </fieldset>
        <fieldset id="setting">
            <legend>ARA Setting</legend>
            <p>
            <label for="sig">Signature:</label>
            <textarea name="sig" id="sig" cols="50" rows="10"></textarea>
            </p>
            <p>
            <label for="introduce">Introduction:</label>
            <textarea name="introduce" id="introduce" cols="50" rows="10"></textarea>
            </p>
            <p>
            <label for="language">Language:</label>
            <select name="language" id="laguage" />
                <option value="eng">English</option>
                <option value="kor">Korean</option>
            </select>
            </p>
    	</fieldset>
	<p>
	<label for="register_submit"><span class="feedback"></span></label>
	<input value="Done" name="done" id="register_submit" class="submit" type="submit" />
	</p>
    </form>
</div>
{% endblock %}
<!--
id
nickname
e-mail address

password
confirm

-ara tjfwjd-
signature
introduce
language

-->
