{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/account_register.css" />
{% endblock %}

{% block content %}
{% load i18n %}
<div id="account_content">
    <div class="account_head_block">
        <div class="account_head">{% trans "REGISTRATION AGREEMENT" %}</div>
        <div class="register_process">
            <span id="contempo_process">{% trans "Step 1 : Regisgtration agreement" %}</span>
            <span>|</span>
            <span>{% trans "Step 2 : Account register" %}</span>
        </div>
    </div>
    <div id="agreement_subtitle_bottom"><div id="agreement_sub_title">{% trans "User Agreement" %}</div></div>
    <div id="agreement_content">
        <textarea name="agreement" id="agreement" readonly />
아라 BBS 이용약관 ver 1.03 

[제1조 아라의 목적] 
1. 아라는 KAIST 구성원의 원활한 정보공유를 위해 SPARCS에서 제공하는 공용 게시판 서비스 (BBS) 입니다. 
2. 1조 1항에서의 KAIST 구성원이란 교수, 교직원, 그리고 재학생과 졸업생, 입주 업체 등을 나타냅니다. 

[제2조 이용의 성립 및 해지] 
1. 아라 서비스의 대상은 KAIST 구성원으로 제한됩니다. 
2. 따라서 아라에 가입하여 글을 읽고 쓰기 위해서는 KAIST Mail을 통한 인증이 필요합니다. 입력하신 메일 주소로 인증용 메일이 발송되며, 인증 링크를 클릭하셔야 합니다. 단, 1개의 메일 주소로는 1개의 id만 사용 가능합니다.
 3. 졸업생 또한 @kaist.ac.kr 메일 계정 발급이 가능하며, 자세한 사항은 http://mail.kaist.ac.kr 을 확인하시기 바랍니다. 자치단체, 입주 업체 등은 운영진에게 개별 연락하시기 바랍니다.
 4. 아라에는 회원탈퇴 기능이 없습니다. 다만, 회원이 자신의 등록을 말소해 줄 것(회원 탈퇴)을 요청할 수 있습니다. 
5. 다음의 경우에는 회원자격이 박탈될 수 있습니다. 
---A. 카이스트 구성원이 아닌 것으로 밝혀졌을 경우 
---B. 서비스를 이용하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 관계 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
 
[제3조 회원의 의무] 
1. 회원은 관계 법령, 이 약관의 규정 등을 준수하여야 하며, 기타 아라 서비스에 방해되는 행위를 해서는 안 됩니다. 
2. 회원은 서비스를 이용하여 얻은 정보를 원작자나 아라의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송, 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.
 3. 불특정 다수를 대상으로 하여 광고 또는 선전하는 등의 방법으로 아라의 서비스를 이용하여 영리목적의 활동을 하면 안 됩니다. 
4. 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안 됩니다. 
---A. 다른 회원의 아이디(ID)를 부정 사용하는 행위 
---B. 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위 
---C. 타인의 명예를 훼손하거나 모욕하는 행위 
---D. 타인의 지적재산권 등의 권리를 침해하는 행위 
---E. 해킹행위 또는 컴퓨터바이러스의 유포행위 
---F. 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송하는 행위 
---G. 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위 
---H. 기타 아라 서비스 운영상 부적절하다고 판단하는 행위 

[제4조 게시물의 저작권] 
1. 아라를 이용함으로써 얻은 정보를 아라의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
 2. 회원이 아라 내에 올린 게시물의 저작권은 게시한 회원에게 귀속됩니다. 

[제5조 게시물 또는 내용물의 삭제] 
1. 서비스의 게시물 또는 내용물이 위의 약관에 위배될 경우 사전 통지나 동의 없이 삭제될 수 있습니다. 

[제6조 배너] 
1. 아라의 메인 화면에는 배너가 게재됩니다. 
2. 신청방법: ToSysop 보드에 글을 올리시거나 아라 운영진(ara@ara.kaist.ac.kr)에게 문의해 주시면 됩니다. 
3. 배너 게시의 재량은 전적으로 아라 운영진에게 있습니다. 공익성 등등을 고려하여 게시합니다. 

[제7조 서비스 제공의 중지] 
다음 경우 서비스의 제공을 중지할 수 있습니다. 
1. 설비의 보수 등을 위하여 부득이한 경우 
2. 전기통신사업법에 규정된 기간통신사업자가 전기통신서비스를 중지하는 경우 
3. 기타 아라가 서비스를 제공할 수 없는 사유가 발생한 경우. 

[제8조 서비스의 요금] 
1. 아라는 완전 무료로 제공되고 있습니다. 

[제9조 면책사항] 
1. 아라는 천재지변, 정전 등등으로 갑자기 서비스를 제공을 멈출 수도 있습니다. 
2. 아라는 회원이 서비스를 이용하면서 읽는 글 혹은 다른 회원들로부터 받는 정신적인 피해에 대해 책임을 지지 않습니다. 
3. 아라는 서비스에 게재된 회원들의 글에 대한 신뢰도, 정확도 등에 책임이 없습니다. 
4. 아라는 회원 상호 간 및 회원과 제 3자 상호 간에 서비스를 매개로 발생한 분쟁에 대해 해결하기 위해 노력은 하겠지만 그런 의무가 있는 것은 아니며 이로 인한 손해를 배상할 책임도 없습니다.
 5. 아라는 독립적이고 자발적인 운영진에 의해 개인적인 시간을 쪼개서 아무런 대가 없이 서비스되고 있습니다. 따라서 서비스가 부족하거나 일시적인 중단이 되더라도 사실 어쩔 수가 없습니다.
 
[제10조 문의] 
1. 아라 사용 중 발생하는 문의는 아라 운영진(ara@ara.kaist.ac.kr)에게 하시면 됩니다. ToSysop 보드에 글을 올리시면 더 좋습니다.
 
[제11조 약관의 변경] 
1. 본 약관은 앞으로 변경될 수 있습니다. 
2. 약관 변경 시, toSysop, garbages 게시판을 통해 새 약관의 변경 내용을 공지합니다. 

본 약관은 2011월 11월 3일부터 적용됩니다. 

        </textarea>
        <div>{% trans "Want you create an account, you should check Agree." %}</div>
    </div>
    <div id="register_agree_buttons">
        <span id="register_agree"><input type="button" value="{% trans "agree" %}" onClick="location.href='/account/register/'" /></span>
        <span id="register_disagree"><input type="button" value="{% trans "disagree" %}" onClick="location.href='/main/'" /></span>
    </div>
</div>
{% endblock %}
