{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/media/style/blacklist_base.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/js/blacklist.js"></script>
{% endblock %}
{% block content %}
    <div id="blacklist">
    <div id="mypage">
        <form id="blacklist_delete_form" action="/blacklist/delete/" method="post">
            <input type="hidden" id="username" name="username" />
        </form>
        <form action="/blacklist/update/" method="post">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Article</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                {% for b in blacklist %}
                <tr>
                    <td><span class="username">{{b.blacklisted_user_username}}</span></td>
                    <td><input type="checkbox" name="blacklist_article_{{b.blacklisted_user_username}}" {% if b.block_article %}checked="on"{% else %}{% endif %}/></td>
                    <td><input type="checkbox" name="blacklist_message_{{b.blacklisted_user_username}}" {% if b.block_message%}checked="on"{% else %}{% endif %}/></td>
                    <td><input type="button" class="delete_user" value="delete" name="{{b.blacklisted_user_username}}"/></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" name="done" value="Done" />
        </form>
        <form action="/blacklist/add/" method="post">
            <input type="text" name="blacklist_id" />
            <input type="submit" value="추가" />
        </form>
    </div>
    <div id="search_user">
        <p>User Search!!</p>
        <form id="search_form" action="/blacklist/" method="get">
            <input type="text" name="search" />
            <input type="submit" />
        </form>
    </div>
    <div id="searching_results">
	{% for result in search_result %}<p class="username">{{result.username}}</p>{% endfor %}
    </div>
    </div>
{% endblock %}
