{% extends "mobile/base.html" %}
{% block style %}<link rel="stylesheet" href="/media/style_new/mobile/main.css" type="text/css" />{% endblock %}
{% block header %}
<div class="userInfo">
    <span class="userID"><a href="#">{{ username }}님 ▼</a></span>
    <span class="userMenu">
        {% if logged_in %}
        <a href="/mobile/account/logout/">로그아웃</a>
        {% else %}
        <a href="/mobile/">로그인</a>
        {% endif %}
    </span>
    <div class="cb"> </div>
</div>
{% endblock %}
{% block content %}
<!--
<div class="sec_news">
    <div class="h_area">
        <h4>내 글에 대한 반응</h4>
    </div>
    <ul class="news_re">
        <li class="li">
        <a href="view.html">조팬더 : 졸랭 성의없네 이건 좀 너무하다</a>
        </li>
        <li class="li">
        <a href="view.html">조 : 하지만 4.2패치가 나왔다면 어떨까?</a>
        </li>
        <li class="li">
        <a href="view.html">조 : 네비바는 이미지가 아님 이건 보여주기 위한 더미에영</a>
        </li>
    </ul>
</div>
-->
<div id="sec_tb">
    <div class="h_area">
        <h3>Today Best</h3>
    </div>
    <div class="tb_list">
        <ul>
            {% for no, todays_best in todays_best_list %}
            <li class="li">
            <span class="vote">{{todays_best.positive_vote}}</span>
            <a{% if logged_in %} href="/mobile/board/{{todays_best.board_name}}/{{todays_best.root_id}}/#{{todays_best.id}}"{% endif %} class="block">{{todays_best.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="sec_wb">
    <div class="h_area">
        <h3>Weekly Best</h3>
    </div>
    <div class="wb_list">
        <ul>
            {% for no, weekly_best in weekly_best_list %}
            <li class="li">
            <span class="vote">{{weekly_best.positive_vote}}</span>
            <a{% if logged_in %} href="/mobile/board/{{weekly_best.board_name}}/{{weekly_best.root_id}}/#{{weekly_best.id}}"{% endif %} class="block">{{weekly_best.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="sec_hot">
    <div class="h_area">
        <h3>HOT IT HIT 암튼 조회수 베스트</h3>
    </div>
    <div class="hot_list">
        <ul>
            {% for no, todays_most in todays_most_list %}
            <li class="li">
            <span class="view">{{todays_most.hit}}</span>
            <a{% if logged_in %} href="/mobile/board/{{todays_most.board_name}}/{{todays_most.root_id}}/#{{todays_most.id}}"{% endif %} class="block">{{todays_most.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
<ul>
    <li class="ft_SPARCS">
    <a href="http://sparcs.org/"><img src="/media/image/mobile/sparcs.png" alt="SPARCS" /></a>
    </li>

    <li class="ft_cp">
    Copyright ⓒ 2011 SPARCS. All rights reserved.
    </li>
</ul>
{% endblock %}
