#error_notice {
    margin: 25% 20% 20% 20%; 
    width: 60%;
    height: 90%;
    text-align: center;
}

#error_title {
    padding: 10px 0;
    background-color: #ff0060;
    font-weight: bold;
    color: #ffffff;
}

#error_content {
    padding: 15px 0 15px 0;
    background-color: #eeeeee;
}
