.listhead{
}
.listLi{
    display: block;
    overflow: hidden;
    padding: 5px 10px 5px;
    border-bottom: 1px solid #e5e5e5;
    position:relative;
    height: 47px;
}    
.list a{
    text-overflow: ellipsis;
}
.listTitle{
    font-weight: bold;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    margin-right: -44px;
}
.listTitleWrap{
    padding-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}
.listTitleReply{
    padding-right: 40px;
}
.re_num{
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
    padding-top: 3px;
    color: #ff0060;
    letter-spacing: 0px;
    width: 34px;
    text-overflow: crop;
    overflow: hidden;
}

.listInfo{
    line-height: 1em;
    font-size: 12px;
    letter-spacing: 0px;
    color: #444444;
    padding: 5px 0;
    display: block;
}
.paginate{
    padding: 20px 0;
    text-align:center;
}
.paginate a, strong{
    display:inline-block;
    position:relative;
    color:#333;
    font-size:1.1em;
    line-height:normal;
    text-decoration:none;
}
.paginate a{
    margin: 0 7px;
    padding: 3px 6px;
}
.paginate strong{
    background: #ff0060;
    color: #ffffff;
    padding: 3px 8px;
    margin: 0 1px;
}
.list_buttons{
    padding: 0px 10px 0 15px; 
}
.button{
     margin: 0;
     border: 1px solid #cccccc;
     padding: 6px 8px;
     display: inline-block;
     color: #000000;
     float: left;
 }
 .buttonR{
     margin: 0;
     border: 1px solid #cccccc;
     color: #ff0060;
     display: inline-block;
     padding: 6px 8px;
     float: right;
}

/* 검색 */
#search{
    clear both;
    text-align: center;
    margin: 0.4em 0;
}
.hidden{
    positioN: absolute;
    width: 0.01em;
    height: 0.01em;
    overflow: hidden;
}

