body{
    background: #525252;
}
#content{
    width: 100%;
    height: 100%;
    background: url('/media/image/mobile/bi.png') bottom right no-repeat;
    background-size: 50%;
}
.bg{
    width: 90%;
    margin: auto;
    padding: 7em 0;
}
.logo{
    margin-bottom: 15px;
}

/* 로그인 박스 영역 */
.box{
    position: relative;
    display: block;
}
.box form{
    margin: 0;
    padding: 0;
}
.ip{
    padding: 0 85px 0 0;
}
.ip li{
    width: 100%;
    margin-bottom: 10px;
}
.ip input{
    width: 100%;
}

.login_id, .login_pw{
    display: block;
    margin-bottom: 10px;
}
.lgbutton{
    top: 0px;
    position: absolute;
    right: 0;
    width: 70px;
}
.lgbutton p{
    display: block;
    margin: 0;
}
.lgbutton input{
    width: 70px;
    height: 71px;
    color: #ffffff;
    background-color: black;
    text-align: center;
    -webkit-border-radius: 0;
    border: 0px solid #000000;
    -webkit-box-align: center;
    box-sizing: border-box;
    -webkit-appearance: push-button;
}
.lgbutton .button{
    background: url('/media/image/mobile/login_button_square.gif') repeat-x left bottom;
}

input{
    border: 1px solid #ffffff;
    line-height: 1.6em;
    letter-spacing: 0px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input[type="text"], input[type="password"] {
    -webkit-appearance: textfield;
    -webkit-user-select: text;
    cursor: auto;
    height: 28px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.sv{
    margin-top: 20px;
}
.sv label{
    color: #ffffff;
    margin: 0 18px 0 4px;
}
.sv .sPW{
    margin: 0 0 0 4px;
}

