span, p{
    word-wrap: break-word;
}
/* article 본문 부분 */
#article_head{
    padding: 12px 10px 10px 10px;
}
.article_title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}
.article_info{
    letter-spacing: 0px;
    color: #ff0060;
    font-size: .9em;
}
#article_contents{
    padding: 10px;
    overflow: hidden;
    border-top: 1px dashed #525252;
    border-bottom: 1px dashed #525252;
    line-height: 1.7em;
    margin-bottom: 5px;
}

.article_contents p{
    padding: 10px;
}

/* article 수정 삭제 등의 버튼들 */
.article_buttons{
   padding: 9px 0; 
}
.button{
     margin: 0;
     border: 1px solid #cccccc;
     padding: 3px 5px;
     display: inline-block;
     color: #ff0060;
 }
 .buttonR{
     margin: 0;
     border: 1px solid #cccccc;
     color: #000000;
     display: inline-block;
     padding: 3px 5px;
     float: right;
} 
 /* 댓글 영역 */
#reply{
}
.re_list{
    line-height: 23px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 5px 10px;
}
/* 댓글의 정보 */
.re_info{
    color: #999999;
    font-size: 11px;
    margin:0;
}
.re_info .left{
    font-size: 11px;
    letter-spacing: 0px;
}
.re_info a{
    margin-top: 0;
    color: #ff0060;
    font-size: 12px;
}
.re_id{
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    margin-right: 10px;
}
.rere{
    color: #ff0060;
}
/* 리리플 화살표 */
.re_arrow{
    padding-right: 5px;
}

.re_contents{
    line-height: 1.6em;
}
#re_nav{
    padding: 20px 10px 0 10px;
}
#re_nav .button {
    color: #000000;
    padding: 3px 5px;
}
/* 댓글쓰기 */
.add_reply{
    display: block;
    border-top: 1px dashed #cccccc;
    margin-top: 13px;
}
.add_reply textarea{
    width: 100%;
    height: 100px;
    overflow-y: hidden;
    border: 1px solid #cccccc;
}
.add_reply .sig{
    display: block;
}
.add_reply .sig dt{
    position: absolute;
    left: 10px;
    white-space: nowrap;
}
.add_reply .sig input{
    padding-bottom: -5px;
}
.add_reply .sig label{
    padding: 0 10px 0 3px;
}
.add_reply .buttonR{
    padding: 4px 7px;
    background: #ffffff;
    color: #ff0060;
    display: inline-block;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    font-weight: bold;
}
#attached_table th{
    width: 40px;
}
#attached_table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}
.attached_image{
    max-width: 100%;
    border: 0;
}
.toggle_img{
    display: block;
    text-align: center;
}
.toggle_img.button{
    width: 7em;
    margin: 0 auto;
}
